:host {
  position: relative;
  display: block;
  width: 100%;
  background: #555;
}

:host .mode-content img {
  width: 80px;
  opacity: .5;
}

/* Pending Mode */

:host .mode-pending .mode-content {
  padding-top: 30px;
}

:host .mode-pending img {
  width: 120px;
}


/* Disabled Mode */

:host .mode-disabled {
  background-position: center 10px;
  background-repeat: no-repeat;
  background-size: 100px;
}

:host .mode-disabled img {
  margin-bottom: 5px;
}

:host .mode-disabled .mode-content {
  padding-top: 30px;
}

:host .mode-disabled img {
  width: 120px;
}

/* File Mode */

:host .mode-file .mode-content {
  padding: 15px 15px 20px 15px;
  min-height: 0;
}

:host .mode-content h2 {
  color: #EEE;
  font-size: 18px;
  padding: 0;
  margin: 0 0 0 0;
}

:host .mode-content p {
  color: #CCC;
  font-size: 16px;
  padding: 0 40px;
  margin: 0 0 20px 0;
}

/* Enabled Mode */

:host .mode-enabled .shutter-bar {
  opacity: 1;
}

/* From File Mode */

:host .mode-file p {
  top: 0;
}

:host .mode {
  text-align: center;
  position: relative;
}

:host .mode-content {
  min-height: 180px;
}

:host  .shutter-bar {
  background: #333;
  padding: 10px 0 12px 0px;
  width: 100%;
  opacity: .2;
  border-top: solid 2px #666;
}

:host .shutter-button {
  margin: 0 auto;
  bottom: 0px;
  background: #DDD;
  height: 35px;
  width: 35px;
  border-radius: 35px;
  background: #4DB227 -webkit-linear-gradient(#DDD,white);
  border: solid 3px #777;
}

:host .mode-enabled .shutter-button {
  cursor: pointer;
}

:host button {
  display: block;
  margin: 0 auto;
  padding: 8px 14px;
  border: 1px solid rgba(0,0,0,.35) ;
  border-bottom: 2px solid rgba(0,0,0,.35);
  border-radius: 0.2rem;
  text-shadow: 0px -1px 0px rgba(0,0,0,.3);
  background: #4DB227 -webkit-linear-gradient(#58c82d,#4DB227);
  color: #ffffff;
  font-family: "FiraSans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-border-radius: 3px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  cursor: pointer;
  position: relative;
  outline: rgba(0,0,0,.2) 5px solid;
  overflow: hidden;
  position: realtive;
}

:host button:active {
  background: #4DB227 -webkit-linear-gradient(#4DB227,#58c82d);
  background: #4DB227 -moz-linear-gradient(#4DB227,#58c82d);
  background: #4DB227 linear-gradient(#4DB227,#58c82d);
}

:host #camerainput {
  display: none;
}

:host #videoinput {
  width: 100%;
  display: block;
}

:host #canvasinput {
  display: none;
  height: 200px;
}
