:host {
  display: block;
  width: 100%;
}

header {
  background-color: #212429;
  width: 100%;
  padding: 0;
  min-height: 5rem;
  line-height: 5rem;
  color: #FFF;
  font-size: 2.4rem;
  text-align: center;
}
