<polymer-element name="ceci-header" attributes="header textalign backgroundcolor" extends="ceci-element"
backgroundcolor="#212429"
textalign="center">
  <ceci-definition>
    {
      "tags": ["starter", "layout", "navigation"],
      "thumbnail": "./thumbnail.png",
      "description": "Displays a title for a page in your app and lets you navigate to that page.",
      "name": "Header",
      "broadcasts": {},
      "listeners": {
        "navigateHere": {
          "description": "navigateHere",
          "label": "Navigate Here",
          "default" : "true"
        }
      },
      "attributes": {
        "header": {
          "label": "Label",
          "description": "Text for header.",
          "editable": "text",
          "listener": true
        },
        "textalign": {
          "label": "Text Alignment",
          "description": "Text Alignment",
          "editable": "select",
          "options": {"Left":"Left","Center":"Center","Right": "Right"}
        },
        "backgroundcolor": {
          "label": "Background Color",
          "description": "Background color of the header.",
          "editable": "color"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <header id="headerText" style="text-align: {{textalign}};background: {{backgroundcolor}}">{{header}}</header>
    <shadow></shadow>
  </template>
  <script>
    Polymer('ceci-header', {
      ready: function () {
        this.super();
      },
      navigateHere: function () {
        var parent = this.parentNode;
        while (parent.nodeName !== "CECI-CARD") {
          parent = parent.parentNode;
        }
        if (parent) {
          parent.show();
        }
      }
    });
  </script>
</polymer-element>
