:host {
  display: block;
  width: 100%;
  position: relative;
}

:host header {
  background: #333;
  padding: 15px;
  color: white;
}

:host header h1 {
  text-align: left;
  font-size: 16px;
  color: #DDD;
  font-weight: 400;
}

:host header .room-name-wrapper {
  float: right;
  color: #999;
  font-size: 14px;
}

:host ul {
  margin: 0;
  padding: 10px 15px;
  list-style-type: none;
  border-top: 1px solid #ccc;
  height: 200px;
  top: 75px;
  bottom: 0;
  left: 10px;
  right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

:host li {
  font-size: 12px;
  font-family: "FiraSans", sans-serif;
  padding: 1px 0px;
  color: #777;
}

:host li:last-child {
  border: none;
}
