body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.72222;
  color: #34495e;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
}
.clearfix:after {
   clear:both;
   content:' ';
   display:block;
   font-size:0;
   line-height:0;
   visibility:hidden;
   width:0;
   height:0
}