:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: #DDD;
  padding: 5px 10px;
  text-align: center;
}

:host span.checkif {
  display: inline-block;
  background-color: white;
  padding: 4px 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-width: 1px 1px 2px;
}