lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*~

pids
logs
results
store

npm-debug.log

/node_modules/*
!/node_modules/vendor

.env

.DS_Store

appmaker.sublime-workspace

store
tmp.env

/locale/
!/locale/en_US/*
!/locale/localeinfo.json

public/stylesheets/app.css
public/stylesheets/broadcast-menu.css
public/stylesheets/cards.css
public/stylesheets/channel-vis.css
public/stylesheets/install.css
public/stylesheets/designer-component-tray-item.css
public/stylesheets/designer-element.css
public/stylesheets/languages.css
public/stylesheets/mobile.css
public/stylesheets/notifications.css
public/stylesheets/publishpane.css
public/stylesheets/remix.css
public/stylesheets/site.css
public/stylesheets/style.css
public/stylesheets/tutorial.css
public/stylesheets/user-state.css
public/stylesheets/variables.css

public/bundles/components/mozilla-appmaker.html
public/bundles/components/mozilla-appmaker-min.html
/public/designer-components.html
/public/javascripts/designer-bundle.js
/public/javascripts/common.js
