<polymer-element name="ceci-meatspaces-messages" attributes="server mode height" extends="ceci-element">
  <script src="vendor/socketio.js"></script>
  <ceci-definition>
    {
      "tags": ["meatspaces", "chat"],
      "thumbnail": "./thumbnail.png",
      "name": "Meatspaces Chat Room",
      "description": "Connects you to a Meatspaces chat room.",
      "attributes": {
        "server": {
          "label": "Meatspaces Server",
          "description": "Meatspaces server to which this app should connect to receive messages.",
          "editable": "text"
        },
        "height": {
          "label": "Height",
          "description": "Height of this brick.",
          "editable": "number"
        },
        "mode": {
          "label": "Message Mode",
          "description": "What to display for each message",
          "editable": "select",
          "options": ["both", "text only", "image only"]
        }
      }
    }
  </ceci-definition>
  <template>
    <style>
      :host {
        display: block;
        width: 100%;
      }

      :host #container {
        overflow: scroll;
      }

      :host #container .message {
        font-size: 1em;
        clear: both;
        width: 100%;
        min-height: 60px;
        padding: .2em 0;
      }

      :host #container .message:nth-child(odd) {
        background: rgba(0, 0, 0, 0.1);
      }

      :host #container .message img {
        float: left;
        height: 50px;
        margin-right: .25em;
      }

      :host #status {
        text-align: center;
        padding: .25em 0;
      }

      :host #container[data-mode="text only"] {
        margin-left: 3%;
      }

      :host #container[data-mode="text only"] .message img {
        display: none;
      }

      :host #container[data-mode="text only"] .message .text {
      }

      :host #container[data-mode="image only"] {
        margin-left: 3%;
      }

      :host #container[data-mode="image only"] .message img {
        width: 100%;
        height: auto;
        float: none;
      }

      :host #container[data-mode="image only"] .message .text {
        display: none;
      }

      :host #container[data-mode="image only"] .message {
        display: inline-block;
        width: 48%;
        background: rgba(0, 0, 0, 0.1);
        padding: 0;
        margin-top: .25em;
      }
    </style>

    <div id="status">{{status}}</div>
    <div id="container" data-mode="{{mode}}">
      <template repeat="{{message in _messages}}">
        <div class="message"><img src="{{message.media}}"><span class="text">{{message.message}}</span></div>
      </template>
    </div>

    <shadow></shadow>
  </template>
  <script>
    Polymer('ceci-meatspaces-messages', {
      server: 'https://chat.meatspac.es:443',
      status: 'Connecting...',
      mode: 'both',
      height: 300,
      _messages: [],
      _boundMessageReceived: null,
      _messageReceived: function (data) {
        this._messages.push(data.chat.value);
        this.async(function () {
          this.$.container.scrollTop = this.$.container.scrollHeight + 1000;
        });
      },
      _connect: function () {
        var that = this;

        if (this._socket) { return; }

        var socket = this._socket = io.connect(this.server);
        socket.on('connect', function () {
          socket.emit('join');
          that.status = 'Connected';
        });

        this._boundMessageReceived = this._messageReceived.bind(this);
        socket.on('message', this._boundMessageReceived);
      },
      _disconnect: function () {
        this._socket.removeAllListeners('message');
        window.s = this._socket;
        if (this._socket.socket.connected) {
          this._socket.disconnect();
        }
        this.status = 'Disconnected';
        this._boundMessageReceived = null;
        this._socket = null;
      },
      ready: function () {
        this.super();
        this.heightChanged();
      },
      attached: function (e) {
        this._connect();
        this.super();
      },
      detached: function (e) {
        this._disconnect();
        this.super();
      },
      serverChanged: function (oldValue, newValue) {
        this._disconnect();
        this._messages = [];
        this.async(function () {
          this._connect();
        });
      },
      heightChanged: function () {
        this.$.container.style.height = this.height + 'px';
      }
    });
  </script>
</polymer-element>
