<polymer-element name="ceci-channel-menu" attributes="channeltype">
  <template>
    <link rel="stylesheet" href="/stylesheets/broadcast-menu.css" >
    <content>
      <div class="channel-menu-wrapper {{channeltype}}"  id="channelMenuWrapper">

        <div class="hover-helper" on-click="{{toggleMenu}}">
          <div class="arrow"></div>
        </div>

        <div id="{{channeltype}}Menu" class="{{channeltype}}-menu channel-menu">

          <div class="arrow-container">
            <div class="arrow"></div>
          </div>

          <div class="channel-option subscription-option option-template">

            <div class="color-ui">

              <h3>Send <strong>Click</strong> on channel...</h3>

              <div class="color-row">
                <div data-color="blue" class="color" data-channel="blue">1</div>
                <div data-color="blue" class="color" data-channel="blue-two">2</div>
                <div data-color="blue" class="color" data-channel="blue-three">3</div>
              </div>

              <div class="color-row">
                <div data-color="green" class="color" data-channel="green">1</div>
                <div data-color="green" class="color" data-channel="green-two">2</div>
                <div data-color="green" class="color" data-channel="green-three">3</div>
              </div>

              <div class="color-row">
                <div data-color="yellow" class="color" data-channel="yellow">1</div>
                <div data-color="yellow" class="color" data-channel="yellow-two">2</div>
                <div data-color="yellow" class="color" data-channel="yellow-three">3</div>
              </div>

              <div class="color-row">
                <div data-color="orange" class="color" data-channel="orange">1</div>
                <div data-color="orange" class="color" data-channel="orange-two">2</div>
                <div data-color="orange" class="color" data-channel="orange-three">3</div>
              </div>

              <div class="color-row">
                <div data-color="red" class="color" data-channel="red">1</div>
                <div data-color="red" class="color" data-channel="red-two">2</div>
                <div data-color="red" class="color" data-channel="red-three">3</div>
              </div>

              <div class="color-row">
                <div data-color="pink" class="color" data-channel="pink">1</div>
                <div data-color="pink" class="color" data-channel="pink-two">2</div>
                <div data-color="pink" class="color" data-channel="pink-three">3</div>
              </div>

              <div class="color-row">
                <div data-color="purple" class="color" data-channel="purple">1</div>
                <div data-color="purple" class="color" data-channel="purple-two">2</div>
                <div data-color="purple" class="color" data-channel="purple-three">3</div>
              </div>

              <div class="color-row">
                <div data-color="false" class="color" data-channel="false">OFF</div>
              </div>

            </div>
            <label><span class="channel-name"></span><div data-color="false" class="chosen-color"></div></label>
          </div>
        </div>
      </div>
    </content>
  </template>
  <script>
    require(['l10n'], function(L10n) {
      Polymer('ceci-channel-menu', {
        menubuilt : false,
        ready: function() {
          this.super();
          this.menuStructure = this.shadowRoot.querySelector("content");
          this.addEventListener("click", function(e) {
            window.dispatchEvent(new CustomEvent("SelectElement", { detail :  this.component }));
            e.stopPropagation();
          });
        },
        attached: function () {
          var that = this;

          this.menuWrapper = this.menuStructure.querySelector(".channel-menu-wrapper");
          this.menu = this.menuWrapper.querySelector(".channel-menu");
          this.hideMenu();

          window.addEventListener("menuOpen",function(){
            that.hideMenu();
          });

          window.addEventListener("designerClick",function(e){
            that.hideMenu();
          });

          this.async(function () {
            this.component = this.parentNode;
            if(!this.menubuilt){
              this.buildMenu(this.component);
              this.adjustMenuPosition();
            }
          });

        },
        toggleMenu : function(){
          this.menuWrapper.classList.toggle("open");
          if(this.menuWrapper.classList.contains("open")){
            window.dispatchEvent(new CustomEvent('menuOpen'));
            this.menu.classList.remove("picking-colors");
            this.menuWrapper.classList.add("open");
            this.addhelperClasses();
            this.adjustMenuPosition();
          } else {
            window.dispatchEvent(new CustomEvent('menuClosed'));
          }
        },
        showMenu : function() {
          var that = this;
          var ceci = this.component.ceci;
          var items = (that.channeltype == "listen") ? Object.keys(ceci.listeners) : Object.keys(ceci.broadcasts);
          if (items.length > 0) {
            that.menuWrapper.classList.add("open");
            this.component.async(function () {
              var height = that.menu.offsetHeight;
              that.menu.style.marginTop = -1 * (height/2) + "px";
            });
          }
        },
        hideMenu : function() {
          this.menuWrapper.classList.remove("open");

          //Revert the menu to the list of listeners or subscribers
          var colorUis = this.menuWrapper.querySelectorAll(".color-ui");
          for(var i = 0; i < colorUis.length; i++){
            colorUis[i].style.display = "none";
          }
          var labels = this.menuWrapper.querySelectorAll("label");
          for(var j = 0; j < labels.length; j++){
            labels[j].style.display = "block";
          }
          window.dispatchEvent(new CustomEvent('menuClosed'));

        },
        adjustMenuPosition : function(){
          this.menu = this.shadowRoot.querySelector(".channel-menu");
          var height = this.menu.offsetHeight;
          this.menu.style.marginTop = "-" + (height/2 + 1) + "px";
        },
        addhelperClasses : function(){

          // Adds hasbroadcast or haslistener classes to the color dots

          var channelMap = document.querySelector("ceci-channel-map");
          var bchans = channelMap.broadcastchannels;
          var lchans = channelMap.listenerchannels;

          var channels = this.shadowRoot.querySelectorAll(".channel-option:not(.option-template) .color-ui .color");

          // loops through all the channel dots

          for(var i = 0; i < channels.length; i++) {
            var channelDot = channels[i];
            channelDot.classList.remove("hasbroadcast");
            channelDot.classList.remove("haslistener");

            var thisChannel = channelDot.getAttribute("data-channel");

            for(var j = 0; j < bchans.length; j++){
              var bchannel = bchans[j];
              if(thisChannel == bchannel){
                channelDot.classList.add("hasbroadcast");
              }
            }

            for(var k = 0; k < lchans.length; k++){
              var lchannel = lchans[k];
              if(thisChannel == lchannel){
                channelDot.classList.add("haslistener");
              }
            }

          }
        },
        changeChannel : function(handlerType, handler ,color){
          var visEl = this.component.querySelector("ceci-"+this.channeltype+"["+handlerType+"=\""+handler+"\"]");

          if (color == "false"){
            if (visEl){
              visEl.parentNode.removeChild(visEl);
            }
          } else {
            // If it exists
            if (visEl){
              visEl.setAttribute("on",color);
            } else {
              var newEl = document.createElement("ceci-" + this.channeltype);
              newEl.setAttribute("on",color);
              newEl.setAttribute(handlerType,handler);
              this.component.appendChild(newEl);
            }
          }
          this.dispatchEvent(new CustomEvent('channelUpdated', {name: name, bubbles: true, detail: this}));
        },
        buildMenu: function() {
          this.menubuilt = true;
          var that = this;
          var communicators, handlertype;

          if(this.channeltype == "broadcast") {
            communicators = this.component.ceci.broadcasts;
            handlerType = "from";
          }

          else {
            communicators = this.component.ceci.listeners;
            handlerType = "for";
          }

          function colorListClickHandler(handlerType){
            return function(event) {
              if(event.target.classList.contains("color")){
                that.menu.classList.remove("picking-colors");
                var channelOption = event.target.parentNode.parentNode.parentNode;
                var color = event.target.getAttribute("data-channel");
                var handler = this.parentNode.getAttribute(handlerType);
                that.changeChannel(handlerType, handler, color);

                //Show all the options again
                var options = that.menu.querySelectorAll(".channel-option:not(.option-template)");
                for(var i=0, last=options.length; i<last; i++) {
                  options[i].style.display = "block";
                }

                channelOption.querySelector("label").style.display = "block";
                channelOption.querySelector("label .chosen-color").setAttribute("data-color", color);
                channelOption.querySelector(".color-ui").style.display = "none";
                that.adjustMenuPosition();
                that.hideMenu();
              }
            };
          }

          function showColorUI(){
            //Hides the label for the current option
            this.style.display = "none";

            that.menu.classList.add("picking-colors");

            //Hide all the options
            var options = that.menu.querySelectorAll(".channel-option");
            for(var i=0, last=options.length; i<last; i++) {
              options[i].style.display = "none";
            }

            // Show this one
            this.parentNode.style.display = "block";
            this.parentNode.querySelector(".color-ui").style.display = "block";
            that.adjustMenuPosition();
          }

          for (var key in communicators) {
            if (communicators.hasOwnProperty(key)) {
              var channelTemplate = that.shadowRoot.querySelector(".option-template");
              var channelOption = channelTemplate.cloneNode(true);

              var heading = channelOption.querySelector("h3");

              var localizedSetter = L10n.get('Set {attribute}') || 'Set {attribute}';
              var matchLabel = key.match(/[^_]*_(.+)/);

              channelOption.classList.remove("option-template");

              if(matchLabel) {
                channelOption.querySelector(".channel-name").textContent = localizedSetter.replace("{attribute}",
                L10n.get(that.component.localName + "/attributes/" + matchLabel[1] + "/label") || communicators[key].label || key);
                headingText = localizedSetter.replace("{attribute}",
                L10n.get(that.component.localName + "/attributes/" + matchLabel[1] + "/label") || communicators[key].label || key);
              } else {
                channelOption.querySelector(".channel-name").textContent = communicators[key].label || key;
                headingText = communicators[key].label || key;
              }

              if(handlerType === "from") {
                heading.innerHTML = (L10n.get('broadcast') || 'Broadcast') + " <strong>" + headingText + "</strong> " + (L10n.get('on channel...') || 'on channel...');
              } else {
                heading.innerHTML = "<strong>" + headingText + "</strong> " + (L10n.get('when I hear') || 'when I hear a signal on channel...');
              }

              that.menu.appendChild(channelOption);
              channelOption.setAttribute(handlerType, key);
              channelOption.querySelector("label").addEventListener('click', showColorUI);

              var colorOptions = channelOption.querySelectorAll(".color-ui .color");

              //Check if there's a listener for that element already and set the appropriate color.
              var existingEl = that.component.querySelector("ceci-" + this.channeltype + "["+handlerType+"="+key+"]");

              if(existingEl){
                var color = existingEl.getAttribute("on");
                channelOption.querySelector(".chosen-color").setAttribute("data-color",color);
              }

              //Set up all of the click stuff for color options
              channelOption.querySelector(".color-ui").addEventListener("click",colorListClickHandler(handlerType)
              );
            }
          }
        }
      });
    })();
  </script>
</polymer-element>
