<polymer-element name="ceci-card" extends="ceci-card-base">
  <template>
    <shadow></shadow>
    <style>
      :host {
        min-height: 50px;
      }
    </style>
  </template>

  <script>
    Polymer('ceci-card', {
      ready: function() {
        var that = this;
        this.super();
        this.classList.add("ceci-card");

        require(['designer/editable', 'analytics'], function(Editable, analytics) {
          function createSortable() {
            var draggedOff = false;

            $(that).sortable({
              distance : 10,
              handle: '.handle',
              appendTo : "body",
              helper : 'clone',
              connectWith : ".ceci-card",
              placeholder: {
                element: function(clone, ui) {
                  return $("<div class='sortable-placeholder'></div>");
                },
                update: function() {
                  return;
                }
              },
              start : function(){
                that.async(function() {
                  window.dispatchEvent(new CustomEvent('CeciElementSortStarted', {bubbles: true}));
                });
              },
              stop: function(ev, ui) {
                that.async(function() {
                  document.dispatchEvent(new CustomEvent('CeciElementsSorted', {bubbles: true, detail: ui.item[0]}));
                });
              }
            });
          }
          var interval = setInterval(function() {
            if (window.$ && $('<div>').sortable) {
              clearInterval(interval);
              createSortable();
            }
          }, 100);
        });
      }
    });
  </script>
</polymer-element>
