<polymer-element name="ceci-broadcast-vis" extends="ceci-channel-vis">
  <template>
    <link rel="stylesheet" href="/stylesheets/channel-vis.css" >
    <link rel="stylesheet" href="/stylesheets/animations.css" >

    <div id="visLines" class="channel-visualisation broadcast-channels"></div>
  </template>
  <script>

    Polymer('ceci-broadcast-vis', {
      ready: function() {
        this.lines = this.shadowRoot.querySelector(".channel-visualisation");
        this.direction = "out";
        this.super();
      },
      // broadcasts can cause data sending:
      attached: function () {
        var that = this;
        this.component = this.parentNode;
        this.component.addEventListener('broadcastFired', function(data){
          that.fire(data);
        });
        this.super();
      },
      detached : function(){
        this.component.removeEventListener('broadcastFired');
        this.super();
      }
    });

  </script>
</polymer-element>
