<!-- this applies to Light DOM elements, so lives outside the template -->
<link rel="stylesheet" href="/stylesheets/designer-element.css">
<polymer-element name="ceci-element" extends="ceci-element-base">
  <template id="ceci-element">
    <style>
      :host {
        position: relative;
      }
    </style>
    <content></content>
  </template>
  <script>
    Polymer('ceci-element', {
      ready: function() {
        this.super();
        this.classList.add("brick");

        // Just to preserve "this" for event handlers
        this._cleanUp = this.cleanUp.bind(this);
        this._cloneBrick = this.cloneBrick.bind(this);
      },
      broadcast: function(name, data) {
        this.super(arguments);
        var broadcastElement = this.querySelector('ceci-broadcast[from="' + name + '"]');
        if (broadcastElement) {
          this.log(broadcastElement.on, 'broadcasts', name);
          if (data === undefined) {
            data = this.gettext(this.localName + "-component/attributes/" + name) || name;
          }
          var broadcastDetails = {
            channel : broadcastElement.on,
            handler : name,
            data: data
          };
          this.dispatchEvent(new CustomEvent('broadcastFired', {name: name, bubbles: true, detail: broadcastDetails}));
        }
      },
      log: function(eventChannel, eventType, eventName) {
        var message = {};
        message.component = this.tagName.substr(5);
        message.eventChannel = eventChannel;
        message.eventType = eventType;
        message.eventName = eventName;
        this.dispatchEvent(new CustomEvent('log', {bubbles: true, detail: message}));
      },
      cloneBrick : function(){
        var clone = this.cloneNode();
        clone.applyDefaults();
        var next = this.nextSibling;
        if(next){
          this.parentNode.insertBefore(clone,next);
        } else {
          this.parentNode.appendChild(clone);
        }
        this.classList.remove("selected");
        this.classList.remove("last-selected-on-page");
        document.dispatchEvent(new CustomEvent('CeciElementAdded', {bubbles: true, detail: clone}));
      },
      cleanUp: function () {
        // Remove myself from the DOM!
        this.parentNode.removeChild(this);

        var that = this;
        (function (Editable, analytics) {
          Editable.removeAttributes();
          document.dispatchEvent(new CustomEvent('CeciElementRemoved', {bubbles: true, detail: that}));
          analytics.event("Removed Component", { label: that.localName });
        })(Designer.Editable, Designer.Analytics);
      },
      attached: function() {
        this.super();
        var that = this;

        this.onready(function(){

          var hasBroadcasts = Object.keys(that.ceci.broadcasts).length > 0 ? true : false;
          var hasListeners = Object.keys(that.ceci.listeners).length > 0 ? true : false;

          if(!that.querySelector('ceci-channel-menu')) {
            if(hasListeners) {
              var listenMenu  = document.createElement("ceci-channel-menu");
              listenMenu.setAttribute("channeltype","listen");
              that.appendChild(listenMenu);
              var listenVis  = document.createElement("ceci-listen-vis");
              that.appendChild(listenVis);
            }
            if(hasBroadcasts) {
              var broadcastVis  = document.createElement("ceci-broadcast-vis");
              that.appendChild(broadcastVis);
              var broadcastMenu  = document.createElement("ceci-channel-menu");
              broadcastMenu.setAttribute("channeltype","broadcast");
              that.appendChild(broadcastMenu);
            }
          }
        });

        //Set up the brick manipulation UI
        if(this.querySelector(".brick-ui")) {
          this.removeChild(this.querySelector(".brick-ui"));
        }

        var brickUI = document.createElement("div");
        brickUI.classList.add("brick-ui");
        var brickInner = document.createElement("div");
        brickInner.classList.add("brick-ui-inner");
        brickUI.appendChild(brickInner);
        this.appendChild(brickUI);

        var icon = document.createElement("div");
        icon.classList.add("icon");

        // Add "Move Brick" UI
        if(this.querySelector(".handle")){
          this.removeChild(this.querySelector(".handle"));
        }
        var handle = document.createElement('a');
        handle.setAttribute("title","Move this brick.");
        handle.className = 'handle cecidesigner';
        handle.appendChild(icon.cloneNode());
        brickInner.appendChild(handle);

        // Add "Clone Brick" UI
        if(this.querySelector(".clone-brick")){
          this.removeChild(this.querySelector(".clone-brick"));
        }
        var clone = document.createElement('a');
        clone.setAttribute("title","Duplicate this brick.");
        clone.className = 'clone-brick cecidesigner';
        clone.appendChild(icon.cloneNode());
        brickInner.appendChild(clone);
        this.querySelector(".clone-brick").addEventListener("click", this._cloneBrick);

        // Add "Delete Brick" UI
        if(this.querySelector(".garbage")){
          this.removeChild(this.querySelector(".garbage"));
        }
        var garbage = document.createElement('a');
        garbage.setAttribute("title","Delete this brick.");
        garbage.className = 'garbage cecidesigner';
        garbage.appendChild(icon.cloneNode());
        brickInner.appendChild(garbage);
        this.querySelector(".garbage").addEventListener("click", this._cleanUp);

      },
      detached: function () {
        this.querySelector(".clone-brick").removeEventListener("click", this._cleanUp);
        this.querySelector(".garbage").removeEventListener("click", this._cleanUp);
      }
  });
  </script>
</polymer-element>
