<polymer-element name="ceci-channel-vis" extends="ceci-channels">
  <script>
  (function(){
    //Animation speeds, In seconds
    var signalSpeed = 0.25;
    var bubbleDuration = 1;
    Polymer('ceci-channel-vis', {
      attached: function () {
        this.component = this.parentNode;
        this.component.addEventListener('CeciChannelUpdated', this.updateChannelVis.bind(this));
        this.updateChannelVis();
      },
      updateChannelVis: function() {
        var that = this;
        var elements;

        if(this.direction === "in") {
          elements = this.component.querySelectorAll("ceci-listen");
        } else {
          elements = this.component.querySelectorAll("ceci-broadcast");
        }

        // Remove all existing channel lines
        var existingLines = this.lines;
        existingLines.innerHTML = "";

        Array.prototype.forEach.call(elements, function(el,index){
          el.addEventListener('signalFired', function(data){
            that.fire(data);
          });
          var channel = document.createElement("div");
          channel.innerHTML = "<div class='dot color'></div><div class='chan-label'></label>";
          channel.setAttribute("color",el.getAttribute("on"));

          var channelname = el.getAttribute("on");
          var label = channel.querySelector(".chan-label");
          label.textContent = channelname.toUpperCase();

          function hexToRgb(hex) {
            if(hex){
              var result = /^#?([a-f\d]{2})([a-f\d]{2})([a-f\d]{2})$/i.exec(hex);
              return parseInt(result[1], 16) + "," + parseInt(result[2], 16) + "," + parseInt(result[3], 16);
            }
          }

          var rgb = hexToRgb(that.channels[channelname]);

          label.style.background = "#" + that.channels[channelname];

          if(that.direction == "in") {
            channel.setAttribute("for",el.getAttribute("for"));
            channel.style.backgroundImage = "-moz-linear-gradient(left,rgba("+rgb+",0),rgba("+rgb+",.3)";
            channel.style.backgroundImage = "-webkit-linear-gradient(left,rgba("+rgb+",0),rgba("+rgb+",.3)";

          } else {
            channel.style.backgroundImage = "-webkit-linear-gradient(left,rgba("+rgb+",.3),rgba("+rgb+",0)";
            channel.style.backgroundImage = "-moz-linear-gradient(left,rgba("+rgb+",.3),rgba("+rgb+",0)";
            channel.setAttribute("from",el.getAttribute("from"));
          }

          channel.classList.add("channel");
          that.$.visLines.appendChild(channel);
        });
      },
      fire : function (data) {
        var channel = data.detail.channel;
        var handler = data.detail.handler;

        // Use async to make sure this component it ready to rock before doing any DOM work on itself.
        this.async(function () {
          var element;
          if(this.direction == "in") {
            element = this.shadowRoot.querySelector(".channel[color='"+channel+"'][for='"+handler+"']");
          } else {
            element = this.shadowRoot.querySelector(".channel[color='"+channel+"'][from='"+handler+"']");
          }

          // Add a signal indicator dot...
          var indicator = document.createElement("div");
          element.appendChild(indicator);

          indicator.classList.add("indicator");
          indicator.classList.add("indicator-" + this.direction);

          var color = "#" + this.channels[element.getAttribute("color")];

          indicator.style.background = color;

          var removeIndicator = function() {
            element.removeChild(indicator);
          };

          setTimeout(removeIndicator, signalSpeed * 1000);

          var timeout = 0;

          setTimeout(function() {
            var bubble = document.createElement("div");
            bubble.textContent = data.detail.data;
            bubble.classList.add("bubblepopup");
            bubble.classList.add("bubblepop");
            bubble.style.color = color;
            bubble.style.borderColor = color;
            element.appendChild(bubble);

            setTimeout(function() {
              element.removeChild(bubble);
            }, bubbleDuration * 1000);
          }, timeout);
        });
      }
    });
    })();
  </script>
</polymer-element>
