<polymer-element name="ceci-channel-map" attributes="broadcastchannels listenerchannels channels" extends="ceci-channels">
  <template>
    <content></content>
  </template>
  <script>
    Polymer('ceci-channel-map', {
      ready : function(){
        this.app = document.querySelector("ceci-app");
        this.broadcastchannels = this.broadcastchannels || [];
        this.listenerchannels = this.listenerchannels || [];
        this.channelNames = Object.keys(this.channels);
        var that = this;
        this.onChannelUpdate = function() {
          that.getChannels();
        };
        window.addEventListener('channelUpdate', this.onChannelUpdate);
      },
      detached: function() {
        window.removeEventListener('channelUpdate', this.onChannelUpdate);
      },
      defaultIndex : 0,
      getFreeChannel : function(type){
        // Order of returned channel:
        // 1 - First unmatched listner / broadcast channel
        // 2 - Next unused channel (cycling from a to z)

        this.getChannels();
        var useChannel, matches, doesntmatch;

        if(type == "listener") {
          matches = this.broadcastchannels;
          doesntmatch = this.listenerchannels;
        } else {
          matches = this.listenerchannels;
          doesntmatch = this.broadcastchannels;
        }

        //Return first unused broadcast channel...
        for(var i = 0; i < this.channelNames.length; i++){
          var channelName = this.channelNames[i];
          if(matches.indexOf(channelName) > -1) {
            if(doesntmatch.indexOf(channelName) < 0) {
              return channelName;
            }
          }
        }

        // ...or fist unused listener channel
        for(var i = 0; i < this.channelNames.length; i++){
          var channelName = this.channelNames[i];
          if(doesntmatch.indexOf(channelName) < 0) {
            useChannel = channelName;
            break;
          }
        }

        // If no free channels left
        if(!useChannel) {
          useChannel = this.channelNames[this.defaultIndex];
          this.defaultIndex++;
          if(this.defaultIndex >= this.channelNames.length ){
            this.defaultIndex = 0;
          }
        }
        this.lastDefault = useChannel;
        return useChannel;

      },
      get freeListenerChannel() {
        return this.getFreeChannel("listener");
      },
      get freeBroadcastChannel() {
        return this.getFreeChannel("broadcast");
      },
      getChannels : function(){
        this.map = {};

        var app = document.querySelector("ceci-app");
        var els = app.querySelectorAll("ceci-listen,ceci-broadcast");

        for(var i = 0; i < els.length; i++) {
          var el = els[i];
          var channel = el.on;
          var type = el.hasAttribute("for") ? "listener" : "broadcast";
          var method = el.getAttribute("for") || el.getAttribute("from");

          if(!this.map[channel]) {
            this.map[channel] = {};
          }

          if(!this.map[channel][type]){
            this.map[channel][type] = [];
          }

          this.map[channel][type].push(method);
        }

        this.showChannels();
      },
      showChannels : function(){
        var channelStatus;
        var broadcastChannels = [];
        var listenerChannels = [];
        var that = this;

        Object.keys(this.map).forEach(function(key){
          var channel = that.map[key];
          if(channel.broadcast) {
            broadcastChannels.push(key);
          }
          if(channel.listener) {
            listenerChannels.push(key);
          }
        });

        this.broadcastchannels = broadcastChannels;
        this.listenerchannels = listenerChannels;
      },
      attached : function(){
        this.app = document.querySelector("ceci-app");
      }
    });
  </script>
</polymer-element>
