<!-- this applies to Light DOM elements, so lives outside the template -->
<link rel="stylesheet" href="/stylesheets/designer-element.css">
<polymer-element name="ceci-element" extends="ceci-element-base">
  <template id="ceci-element">
    <style>
      :host {
        position: relative;
      }
    </style>
    <content></content>
  </template>
  <script>
    Polymer('ceci-element', {
      ready: function() {
        this.super();
      },
      broadcast: function(name, data) {
        this.super(arguments);
        var broadcastElement = this.querySelector('ceci-broadcast[from="' + name + '"]');
        if (broadcastElement) {
          this.log(broadcastElement.on, 'broadcasts', name);
          var broadcastDetails = { channel : broadcastElement.on, handler : name, data: data};
          this.dispatchEvent(new CustomEvent('broadcastFired', {name: name, bubbles: true, detail: broadcastDetails}));
        }
      },
      log: function(eventChannel, eventType, eventName) {
        var message = {};
        message.component = this.tagName.substr(5);
        message.eventChannel = eventChannel;
        message.eventType = eventType;
        message.eventName = eventName;
        this.dispatchEvent(new CustomEvent('log', {bubbles: true, detail: message}));
      },
      attached: function() {
        var that = this;

        var hasBroadcasts = Object.keys(this.ceci.broadcasts).length > 0 ? true : false;
        var hasListners = Object.keys(this.ceci.listeners).length > 0 ? true : false;

        if(!this.querySelector('ceci-channel-menu')) {
          if(hasListners) {
            var listenMenu  = document.createElement("ceci-channel-menu");
            listenMenu.setAttribute("channeltype","listen");
            this.appendChild(listenMenu);
            var listenVis  = document.createElement("ceci-listen-vis");
            this.appendChild(listenVis);
          }
          if(hasBroadcasts) {
            var broadcastVis  = document.createElement("ceci-broadcast-vis");
            this.appendChild(broadcastVis);
            var broadcastMenu  = document.createElement("ceci-channel-menu");
            broadcastMenu.setAttribute("channeltype","broadcast");
            this.appendChild(broadcastMenu);
          }
        }

        if(!this.querySelector(".handle")){
          var handle = document.createElement('div');
          handle.className = 'handle cecidesigner';
          this.appendChild(handle);
        }
      }
    });
  </script>
</polymer-element>
