s<polymer-element name="ceci-channel-vis">
  <script>
  (function(){
    //Animation speeds, In seconds
    var signalSpeed = 0.25;
    var bubbleDuration = 1;
    Polymer('ceci-channel-vis', {
      attached: function () {
        var that = this;
        this.component = this.parentNode;
        window.addEventListener('channelUpdated', function(data){
          that.updateChannelVis();
        });
        that.updateChannelVis();
      },
      updateChannelVis: function(elements) {
        var that = this;

        if(!elements) {
          if(this.direction === "in") {
            elements = this.parentNode.querySelectorAll("ceci-listen");
          } else {
            elements = this.parentNode.querySelectorAll("ceci-broadcast");
          }
        }

        // Remove all existing channel lines
        var existingLines = this.lines;
        existingLines.innerHTML = "";

        Array.prototype.forEach.call(elements, function(el,index){
          el.addEventListener('signalFired', function(data){
            that.fire(data);
          });
          var channel = document.createElement("div");
          channel.innerHTML = "<div class='dot color'></div><div class='chan-label'></label>";
          channel.setAttribute("color",el.getAttribute("on"));
          if(that.direction == "in") {
            channel.setAttribute("for",el.getAttribute("for"));
          } else {
            channel.setAttribute("from",el.getAttribute("from"));
          }

          channel.classList.add("channel");
          that.$.visLines.appendChild(channel);
        });
      },
      fire : function (data) {
        var channel = data.detail.channel;
        var handler = data.detail.handler;

        // Use async to make sure this component it ready to rock before doing any DOM work on itself.
        this.async(function () {
          var element;
          if(this.direction == "in") {
            element = this.shadowRoot.querySelector(".channel[color='"+channel+"'][for='"+handler+"']");
          } else {
            element = this.shadowRoot.querySelector(".channel[color='"+channel+"'][from='"+handler+"']");
          }

          // Add a signal indicator dot...
          var indicator = document.createElement("div");
          element.appendChild(indicator);

          indicator.classList.add("indicator");
          indicator.classList.add("indicator-" + this.direction);

          // ...and remove it!
          var removeIndicator = function() {
            element.removeChild(indicator);
          };

          setTimeout(removeIndicator, signalSpeed * 1000);

          var timeout = 0;

          setTimeout(function() {
            var bubble = document.createElement("div");
            bubble.innerHTML = data.detail.data; //data
            bubble.classList.add("bubblepopup");
            bubble.classList.add("bubblepop");
            element.appendChild(bubble);

            // ...and remove it!
            setTimeout(function() {
              element.removeChild(bubble);
            }, bubbleDuration * 1000);
          }, timeout);
        });
      }
    });
    })();
  </script>
</polymer-element>
