<polymer-element
  name="designer-component-tray-item"
  attributes="name description label author updatedat thumbnail">
  <template>
    <div class="add-component component-card" name="{{name}}" show="true">
      <div class="add-tooltip">+</div>
      <div class="component-preview">
        <div class="image-wrapper"><img src="/component/mozilla-appmaker/component-{{label}}/{{thumbnail}}"></div>
        <div class="add-component-overlay"></div>
      </div>
      <div class="component-description">
        <h1 id="{{name}}">{{label}}</h1>
        <h6>{{description}}</h6>
        <div class="more-info">
          <div class="friends">
            <h3>Friends</h3>
            <div>No Friends</div>
          </div>
          <div class="tags clearfix">
            <div class="tag"></div>
            <content type="designer-component-tag"></content>
          </div>
          <div class="author">
            <h5>By: {{author}} | Last edited {{updatedat}}</h5>
          </div>
        </div>
      </div>
      <a class="show-more" href="#">More Info</a>
    </div>
  </template>
  <script>
    require(['l10n'], function(l10n) {
      Polymer('designer-component-tray-item', {
        ready: function () {
          console.log("333 this", this, this.name);
          this.super();
          this.$[this.name].innerHTML = l10n.get(this.name) || this.$[this.name].innerHTML;
        }
      });
    });
  </script>
</polymer-element>
