<polymer-element name="data-manager" attributes="user editingmode">
  <template>
    <style>
      :host ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      :host ul li {
        margin-top: 10px;
      }

      :host table {
        margin-top: 10px;
        width: 100%;
        border: 1px solid #c0c0c0;
      }

      :host table tr:nth-child(even) {
        background: #545A66;
      }

      :host table td {
        padding: 3px;
      }

      :host table tr:nth-child(odd) {
        background: #737A85;
      }

      :host table tr:first-child {
        color: #212429;
        background: #fff;
      }

      :host #data-table .table-input {
        height: inherit;
        background: transparent;
        text-indent: 0;
      }

      :host #data-table .add-remove-column {
        text-align: center;
        cursor: pointer;
      }

      :host #data-table .add-remove-column:hover {
        color: #212429;
        background: #fff;
      }
    </style>
    <select hidden?="{{ collections.length == 0 }}" id="collectionSelect" on-change="{{collectionSelectChanged}}" value="{{currentCollectionIndex}}">
      <template repeat="{{collection, index in collections}}">
        <option value="{{index}}">{{collection.name}}</option>
      </template>
    </select>
    <button on-click="{{removeCollection}}" hidden?="{{ currentCollection == undefined }}">-</button>
    <button on-click="{{addCollection}}">+</button>
    <div hidden?="{{ currentCollection == undefined }}">
      <h3>Name</h3>
      <template if="{{currentCollection != undefined}}" bind="{{currentCollection}}">
        <input type="text" value="{{name}}">
        <h3>Keys</h3>
      </template>
        <ul style="list-style: none;">
          <template repeat="{{item, index in fields}}">
            <li>
              <input type="text" value="{{item.name}}">
              <select value="{{item.type}}" on-change="{{onItemTypeChange}}">
                <option value="text">Text</option>
                <option value="number">Number</option>
                <option value="boolean">Boolean</option>
                <option value="object">Object</option>
                <option value="array">Array</option>
              </select>
              <button value="{{index}}" on-click="{{removeKey}}">-</button>
            </li>
          </template>
        </ul>
        <button on-click="{{addKey}}">+</button>

        <table id="data-table">
          <tr>
            <template repeat="{{item in fields}}">
              <td>{{item.name}}</td>
            </template>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
          <template repeat="{{row, index in data}}">
            <tr>
              <template repeat="{{item, i in fields}}">
                <td><input class="table-input" type="text" value="{{row[item.name]}}"></td>
              </template>
              <td data-index="{{index}}" on-click="{{removeDataRow}}" class="add-remove-column">-</td>
            </tr>
          </template>
          <tr>
            <template repeat="{{item, index in fields}}">
              <td><input data-key="{{index}}" class="table-input" type="text" value=""></td>
            </template>
            <td on-click="{{addDataRow}}" class="add-remove-column">+</td>
          </tr>
        </table>
    </div>
  </template>
  <script>
    Polymer('data-manager', {
      currentCollection: undefined,
      collections: [],
      fields: [],
      data: [],
      currentCollectionIndex: 0,
      ready: function () {
        var self = this;
        function onFieldChange(e) {
          var fieldNodeList = self.currentCollection.querySelectorAll("ceci-field");
          self.fields = Array.prototype.slice.call(fieldNodeList, 0);
          self.data = self.currentCollection.data.slice(0);
        }
        function onItemChange(e) {
          self.data = self.currentCollection.data.slice(0);
        }
        function onSchemaChange(e) {
          var detail = e.detail;
          if (detail.added) {
            self.collections.push(detail.added);
            detail.added.addEventListener("itemchange", onItemChange);
            detail.added.addEventListener("fieldchange", onFieldChange);
          }
          if (detail.removed) {
            self.collections.splice(self.currentCollectionIndex, 1);
            detail.removed.removeEventListener("itemchange", onItemChange);
            detail.removed.removeEventListener("fieldchange", onFieldChange);
          }
          self.async(function () {
            self.currentCollectionIndex = self.collections.length - 1;
            self.currentCollection = self.collections[self.currentCollectionIndex];
            if (self.currentCollection) {
              var fieldNodeList = self.currentCollection.querySelectorAll("ceci-field");
              self.fields = Array.prototype.slice.call(fieldNodeList, 0);
              self.data = self.currentCollection.data.slice(0);
            } else {
              self.fields = [];
              self.data = [];
            }
          });
        }
        function onCeciAppAttached() {
          self.collectionsElement = document.querySelector("ceci-collections");
          var schemaNodeList = self.collectionsElement.querySelectorAll("ceci-schema");
          self.collections = Array.prototype.slice.call(schemaNodeList, 0);
          if (self.collections.length) {
            self.currentCollection = self.collections[self.currentCollectionIndex];
            var fieldNodeList = self.currentCollection.querySelectorAll("ceci-field");
            self.fields = Array.prototype.slice.call(fieldNodeList, 0);
            self.collections.forEach(function (item) {
              item.addEventListener("fieldchange", onFieldChange);
              item.addEventListener("itemchange", onItemChange);
              item.addEventListener("dataloaded", onItemChange);
            });
          }
          self.collectionsElement.addEventListener("schemachange", onSchemaChange);
        }
        this.collectionsElement = document.querySelector("ceci-collections");
        window.addEventListener("CeciAppAttached", onCeciAppAttached);
        if (this.collectionsElement) {
          onCeciAppAttached();
        }
      },
      addCollection: function () {
        this.collectionsElement.addSchema("New Schema " + (this.collections.length + 1));
      },
      removeCollection: function () {
        this.collectionsElement.removeSchema(this.collections[this.currentCollectionIndex]);
      },
      addKey: function () {
        this.currentCollection.addField();
      },
      removeKey: function (event, detail, sender) {
        this.currentCollection.removeField(this.fields[parseInt(sender.value)]);
      },
      collectionSelectChanged: function (event, detail, sender) {
        this.async(function () {
          this.currentCollection = this.collections[this.currentCollectionIndex];
          this.fields = Array.prototype.slice.call(this.currentCollection.querySelectorAll("ceci-field"), 0);
          this.data = this.currentCollection.data.slice(0);
        });
      },
      addDataRow: function (event, detail, sender) {
        var newRow = {};
        var dummyRow = sender.parentNode;
        this.fields.forEach(function (item, index) {
          var inputElement = dummyRow.querySelector('*[data-key="'+ index + '"]');
          newRow[item.name] = newRow[item.name] || inputElement.value;
          inputElement.value = '';
        });
        this.currentCollection.addItem(newRow);
      },
      removeDataRow: function (event, detail, sender) {
        this.currentCollection.removeItem(parseInt(sender.getAttribute('data-index')), 1);
      }
    });
  </script>
</polymer-element>
