<polymer-element
  name="design-log"
  >
  <template>
    <style>
      :host {
        display: block;
        background-color: #31353C;
        color: #b5bac2;
        height: 200px;
        overflow-y: auto;
        position: relative;
        padding-top: 35px;
        font-size: 13px;
      }
      .log {
        border-bottom:  1px solid #40464f;
        padding: 10px;
      }
      button {
        background: #31353C;
        color: #b5bac2;
        border-radius: 2px;
        border: 2px solid #40464f;
        padding: 4px 10px;
        position: absolute;
        top: 10px;
        right: 10px;
      }
      .highlight {
        color: #FFF;
      }
      .highlightChannel {
        color: #FFF;
        padding: 2px 4px;
        border-radius: 2px;
      }
    </style>
    <template repeat="{{log in logs}}">
      <div class="log"><span class="highlight">{{log.component}} </span>{{log.eventType}} <span class="highlight">{{log.eventName}} </span>on <span class="{{log.eventChannel}} highlightChannel">{{log.eventChannel}}</span></div>
    </template>
      <button id="clear" on-click="{{clear}}">Clear</button>
  </template>
  <script>
    Polymer('design-log', {
      ready: function() {
        this.logs = [];
        var that = this;
        document.addEventListener('log', function(event) {
          that.logs.unshift(event.detail);
        });
      },
      clear: function() {
        this.logs = [];
      }
    });
  </script>
</polymer-element>
