<polymer-element
  name="designer-component-tray-item"
  attributes="name description label author updatedat thumbnail">
  <script>
    var floatingMoreInfoPopup;

    Polymer('designer-component-tray-item', {
      ready: function(){
        var that = this;
        window.addEventListener('designerClick', function(){
          that.hidePopup();
        });
      },
      hidePopup :function(){
        if (floatingMoreInfoPopup) {
          floatingMoreInfoPopup.parentNode.removeChild(floatingMoreInfoPopup);
          floatingMoreInfoPopup = null;
        }
      },
      adjustPopup : function(){
        var height = floatingMoreInfoPopup.offsetHeight;
        var left = document.querySelector('.tray').offsetWidth;
        var offset = document.querySelector('#components-wrapper').scrollTop;
        var pos = this.offsetTop;
        floatingMoreInfoPopup.style.top = pos + 54 - (height/2) - offset + "px";
        floatingMoreInfoPopup.style.left = left + 16 + "px";
      },
      showPopup :function(){
        this.hidePopup();
        floatingMoreInfoPopup = this.shadowRoot.querySelector('.more-info').cloneNode(true);
        document.querySelector('body').appendChild(floatingMoreInfoPopup);
        var img = floatingMoreInfoPopup.querySelector('img');
        var that = this;
        img.addEventListener('load', function() {
          if (floatingMoreInfoPopup) {
            floatingMoreInfoPopup.querySelector(".image-wrapper").classList.add('loaded');
            that.adjustPopup(floatingMoreInfoPopup);
          }
        }, false);
        this.adjustPopup(floatingMoreInfoPopup);
      },
      clicked: function (e) {
        if (e.target !== this.$.showInfo) {
          this.fire('ComponentAddRequested');
        }
      }
    });
  </script>
  <template>
    <link rel="stylesheet" href="/stylesheets/designer-component-tray-item.css">
    <div class="add-component component-card" name="{{name}}" show="true" on-click="{{clicked}}">
      <div class="more-info">
        <div class="image-wrapper"><img src="{{thumbnail}}"></div>
        <p class="description">{{description}}</p>
        <div class="arrow-wrapper"></div>
      </div>
      <div class="component-description">
        <h1>
          {{label}}
          <div id="showInfo" on-mouseenter="{{showPopup}}" on-mouseout="{{hidePopup}}"></div>
        </h1>
      </div>
      <a class="show-more" href="#">More Info</a>
    </div>
  </template>
</polymer-element>
