<polymer-element name="project-settings" attributes="appName appTags appDescription">
  <template>
    <style>
      :host input,
      :host textarea {
        font-size: 15px;
        width: 100%;
        border: solid 1px #C5C5C5;
        border-radius: 1px;
        color: #666;
        outline: none;
        padding: 5px;
        margin: 0;
        font-family: inherit;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
      }
      :host textarea {
        height: 100px;
        box-sizing: border-box;
        resize: vertical;
      }
      :host label {
        color: #666;
        margin-bottom: 2px;
        display: block;
        font-size: 15px;
      }
      :host .editable-attributes div {
        margin-bottom: 10px;
      }
    </style>
    <div class="editable-attributes">
      <div>
        <label>Title</label>
        <input type="text" on-change="{{onAppNameChange}}" value="{{appName}}"></label>
      </div>
      <div>
        <label>Description</label>
        <textarea class="project-settings-description" placeholder="My app..." maxlength="200" value={{app.appdescription}}></textarea>
      </div>
      <div>
        <label>Tags</label>
        <input type="text" value="{{app.apptags}}"></label>
      </div>
    </div>
  </template>
  <script>
    Polymer('project-settings', {
      ready: function() {
        var that = this;
        function onCeciAppDOMReady () {
          that.app = document.querySelector("ceci-app");
          that.appName = that.app.name;
        }
        window.addEventListener("CeciAppDOMReady", onCeciAppDOMReady);
      },
      onAppNameChange: function(event, detail, sender) {
        var userState = document.querySelector('user-state');
        userState.renameApp(this.app.name, sender.value);
      }
    });
  </script>
</polymer-element>
