<polymer-element name="user-state" attributes="user editingmode">
  <template>
    <a id="signin" class="button {{ {hidden: user.state == 'signedin'} | tokenList}}" on-click="{{signinClick}}">Sign In</a>
    <div id="signInProgress"></div>

    <div class="dropdowns {{ {hidden: user.state == 'signedout'} | tokenList }}">

      <div class="menu-wrapper user-menu">
        <a id="email" class="menu-button button" on-mousedown="{{toggleMenu}}" class="button btn-std btn-md {{ {hidden: user.state == 'signedout'} | tokenList}}">
          <span class="icon"></span>
          {{user.email}}
        </a>
        <div class="menu">
          <h3 id="myappsheading">My apps</h3>
          <span id="noApps">You don't have any saved apps!</span>
          <ul id="myapps" class="menu-options">
          </ul>
          <h3 id="mycomponentsheading">My components</h3>
          <div>
            <a id="addComponent" class="button" on-click={{addComponent}}>Add component</a>
          </div>
          <ul id="mycomponents" class="menu-options">
          </ul>
          <a id="signout" class="button" on-click="{{signoutClick}}">Sign Out</a>
        </div>
      </div>
      <div class="menu-wrapper app-menu">
        <a class="menu-button button" on-mousedown="{{toggleMenu}}" class="button btn-std btn-md {{ {hidden: user.state == 'signedout'} | tokenList}}">
          <span class="icon"></span>
          <span id="App">App</span>
        </a>
        <div class="menu app-actions menu-options">
          <a id="saveAppAs">Save As</a>
          <a class="saved" id="saveApp">Save</a>
          <a class="saved" id="renameApp">Rename</a>
          <a id="publishApp">Publish</a>
          <a class="saved" id="deleteApp">Delete</a>
          <a class="hidden" id="viewlink">App URL</a>
        </div>
      </div>
    </div>

    <a id="newApp" class="button">New App</a>
  </template>
  <script>
  (function() {
    require(['l10n', 'jquery', 'persona', 'designer/application', 'designer/component-tray', 'designer/utils'],
      function(l10n, jquery, persona, application, tray, utils) {

      var user = {
        email: '',
        state: 'signedout'
      };
      // this is done via require because it needs persona loaded to
      // be able to call navigator.id stuff
      navigator.id.watch({
        onlogin: function(assertion) {
          document.dispatchEvent(new CustomEvent("signInStarted"));
          //This is where it tries to log in;
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/persona/verify", true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.addEventListener("loadend", function(e) {
            var data = JSON.parse(this.responseText);
            if (data && data.status === "okay") {
              document.dispatchEvent(new CustomEvent("signInFinished"));
              console.log("You have been logged in as: " + data.email);
              document.dispatchEvent(new CustomEvent('user-state', {
                detail: {'state': 'signedin', 'email': data.email}
              }));
            }
          }, false);
          xhr.send(JSON.stringify({
            assertion: assertion
          }));
        },
        onlogout: function() {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/persona/logout", true);
          xhr.addEventListener("loadend", function(e) {
            document.dispatchEvent(
              new CustomEvent('user-state', {
                detail: {'state': 'signedout', 'email': ''}
              })
            );
          });
          xhr.send();
        }
      });
      Polymer('user-state', {
        user: user,
        editingmodeChanged : function(oldValue, newValue){
          localStorage.editingmode = newValue;
          var appNameEl = document.querySelector(".phone-top .app-name");
          if(newValue == "saved"){
            appNameEl.classList.add("saved");
          } else {
            appNameEl.classList.remove("saved");
          }
        },
        ready: function() {
          var that = this;

          that.$.signin.innerHTML = l10n.get("Sign In");
          that.$.myappsheading.innerHTML = l10n.get("My apps");
          that.$.noApps.innerHTML = l10n.get("You don't have any saved apps!");
          that.$.signout.innerHTML = l10n.get("Sign Out");
          that.$.App.innerHTML = l10n.get("App");
          that.$.saveAppAs.innerHTML = l10n.get("Save As");
          that.$.saveApp.innerHTML = l10n.get("Save");
          that.$.renameApp.innerHTML = l10n.get("Rename");
          that.$.publishApp.innerHTML = l10n.get("Publish");
          that.$.deleteApp.innerHTML = l10n.get("Delete");
          that.$.viewlink.innerHTML = l10n.get("App URL");
          that.$.newApp.innerHTML = l10n.get("New App");

          function loadRemixContent (remixName) {
            application.loadAppByUrl(decodeURIComponent(remixName));
            that.editingmode = 'draft';
          }

          document.addEventListener('signInStarted', function (event) {
            that.signInStarted();
          });

          document.addEventListener('signInFinished', function (event) {
            that.signInFinished();
          });

          document.addEventListener('user-state', function (event) {
            that.user.state = event.detail.state;
            that.user.email = event.detail.email;

            var remixName = utils.getQueryStringVariable('remix');

            if (that.user.state == 'signedin') {
              that.refreshUserState();
              if (remixName) {
                loadRemixContent(remixName);
              }
              else {
                if(application.getCurrentApp()){
                  console.log("current app was in local storage, load it")
                  application.loadAppByName(application.getCurrentApp());
                  that.editingmode = "saved";
                } else {
                  console.log("no current app, inject temp ceci-app")
                  var phoneBorderElement = document.querySelector(".phone-border");
                  var ca = document.createElement("ceci-app");
                  phoneBorderElement.appendChild(ca);
                  ca.appid = "temp-"+uuid();

                  that.updateAppName(l10n.get("Unsaved App"));
                  that.editingmode = "draft";
                }
              }
            } else if (that.user.state == 'signedout') {
              if (remixName) {
                loadRemixContent(remixName);
              }
              that.signedOut();
            }
          });

        },
        enteredView : function() {
          var self = this;

          //This closes the menus when an action is clicked in a menu.
          var menus = this.shadowRoot.querySelectorAll(".menu");
          for(var j = 0; j < menus.length ; j++){
            menus[j].addEventListener('click',function(e){
              if(e.target.tagName == "A"){
                self.closeMenus();
              }
            });
          }

          //Delete app
          this.$.deleteApp.addEventListener('click', function() {
            application.deleteAppByName(application.getCurrentApp());
            application.clearCurrentApp();
            self.$.newApp.click();
          });

          //New app
          this.$.newApp.addEventListener("click",function() {
            var log = document.querySelector("design-log");
            log.clear();
            application.clearCurrentApp();
            application.newApp();
            self.refreshUserState();
            self.editingmode = "draft";
            self.closeMenus();
            self.setAppURL(false);
          });

          //Rename App
          this.$.renameApp.addEventListener("click", function() {
            var oldName = application.getCurrentApp();
            var newName = window.prompt(l10n.get("What do you want to call this app?"));
            var html = document.querySelector('ceci-app').innerHTML;
            if(newName){
              application.renameApp(oldName, newName);
            } else {
              alert(l10n.get("App names can't be blank."));
            }
          });

          //Update App
          this.$.saveApp.addEventListener("click", function() {
            var ceciApp = document.querySelector('ceci-app');
            var html = ceciApp.innerHTML;
            var name = application.getCurrentApp();
            if(name){
              application.updateApp(name,ceciApp.appid,html);
            }
          });

          //Publish!
          this.$.publishApp.addEventListener("click", function() {
            var app = document.querySelector('ceci-app');
            var name = app.name;
            var html = app.outerHTML;
            // This might need to be made its own thing so it can be called
            // in various places:
            while (!name || name === l10n.get("Unsaved App")) {
              name = prompt("Please name your app first:");
              if(name === null) break;
            }
            if(!name) {
              return console.error("Save was cancelled.");
            }
            // we have a name: publish!
            var alreadySaved = self.editingmode === "saved";
            application.publishApp(name, html, alreadySaved, function resulthandler(err,data) {
              if(err) {
                if (data) {
                  console.error("app was published, but updating failed");
                } else {
                  console.error("app sas not successfully published");
                }
                return;
              }
              application.setCurrentApp(name);
              self.refreshUserState();
              self.editingmode = "saved";
            });
          });

          //Save App As
          this.$.saveAppAs.addEventListener("click", function() {
            var name = window.prompt(l10n.get("What do you want to call this app?"));

            var ceci_app = document.querySelector('ceci-app');
            ceci_app.name = name;
            ceci_app.setAttribute("name", name);
            ceci_app.setAttribute("appid", ceci_app.appid);
            //If we use outerHTML, it will cause ceci-app to load twice, once for the insertion of the ceci-app element,
              //the second for the copying over of outerHTML (which loads an entire new ceci-app element). This is
              //why ceci-app was loading twice and creating race events
            var html = ceci_app.innerHTML;
            if(name){
              application.saveApp(name,ceci_app.appid,html);
              // gotta make sure it actually saves though!
              // add as a callback? or pass in callbacks?
              application.setCurrentApp(name);
              self.refreshUserState();
              self.editingmode = "saved";
            } else {
              console.log("Please name your app.");
            }
          });


        },
        signInStarted: function(){
          this.$.signin.style.display = "none";
          this.$.signInProgress.style.display = "block";
        },
        signInFinished: function(){
          this.$.signInProgress.style.display = "none";
        },
        signedOut: function(){
          this.$.signin.style.display = "block";
        },
        failedAppLoad: function(){
          application.clearCurrentApp();
          console.log("app failed to load, create a new scratch ceci-app");

          var phoneBorderElement = document.querySelector(".phone-border");
          phoneBorderElement.appendChild(document.createElement("ceci-app"));
          this.updateAppName(l10n.get("Unsaved App"));
        },
        okAppLoad: function(name, data){
          this.updateAppName(name);
          this.refreshUserState();
          this.setAppURL(data['last-published-url']);
        },
        updateAppName: function(name){
          var app = document.querySelector('ceci-app');
          if (app && name) {
            app.name = name;
            document.querySelector(".phone-top .app-name").innerHTML = app.name;
          }
        },
        appRenameOk: function(name){
          application.setCurrentApp(name);
          this.refreshUserState();
        },
        appRenameFailed: function(){
          alert("app rename failed");
        },
        signinClick: function() {
          navigator.id.request();
        },
        signoutClick: function() {
          navigator.id.logout();
        },
        loadLink: function(name, url, callback) {
          // see https://gist.github.com/sjmiles/8478807
          var doc = document.createDocumentFragment();
          var link = doc.appendChild(document.createElement('link'));
          link.rel = "import";
          link.href = url;

          try {
            HTMLImports.importer.load(doc, function() {
              try {
                HTMLImports.parser.parse(link.content);
                CustomElements.parser.parse(link.content);
                callback();
              } catch (e) {
                console.log("HTMLImports.parser failed for component at", link.href);
                callback({
                  error: "HTMLImports.parser failed to load component",
                  url: url,
                  name: name
                });
              }
            }.bind(this));
          } catch (e) {
            console.log("HTMLImports.importer.load failed for component at", link.href);
            callback({
              error: "HTMLImports.importer.load failed to load component",
              url: url,
              name: name
            });
          }
        },
        mkGitHubURL: function(repo, user) {
          // use the DOM to create the right URL.
          var parser = document.createElement('a');
          parser.href = document.URL;
          parser.pathname = "component/" + repo + '/' + user + "/component.html";
          url = parser.href;
          return url;
        },
        addComponent: function() {
          // in a try/except block because called from an onclick handler,
          // so want to atch exceptions.
          try {
            var self = this;
            var url = window.prompt("Component URL? (either full path 'http://example.com/dir/component.html' or, for github pages, 'username/repo')");
            if (! url) return;
            url = url.trim();
            // first, detect github moniker and turn those into known URL structures
            // (we don't know that there is a component at that URL though (in particular if
            // they don't have GH pages setup)
            if (url.split('/').length === 2 && url.indexOf('http') === -1) {
              var parts = url.split('/').map(function(v) { return v.trim(); });
              // We're assuming it's a username/repo, and assuming component.html as the leafname.
              url = this.mkGitHubURL(parts[0], parts[1]);
            } else {
              // We're going to do pattern detection on Github URLs to map them to the proxy if they're
              // to github.io, and complain if they're github.com URLs
              var parser = document.createElement('a');
              parser.href = url;
              var host = parser.host;
              if (host === 'github.com') {
                alert("If using Github to host the component, you need to make a gh-page branch");
                return;
              }
              if (host.indexOf(".github.io", this.length - ".github.io".length) !== -1) {
                // it's a GH pages page, yea!
                var gh_user = host.split('.')[0];
                var gh_repo = parser.pathname.split('/')[0]
                url = this.mkGitHubURL(gh_user, gh_repo);
              }
            }
            this.getNameForComponentURL(url, function(name) {
              if (name) {
                self.learnComponent(url, name)
              }
            });
          } catch (e) {
            console.log(e);
          }
        },
        getNameForComponentURL: function(url, cb) {
          // We want to make sure that we can reach this URL, and that it's a component
          var self = this;
          // Let's load it!
          $.ajax(url, {
            data: {},
            type: 'get',
            success: function (data) {
              // we have a reachable URL, that's good.
              // Check to make sure that the file has a reasonable structure
              cb(self.getNameForComponent(url, data));
            },
            error: function (data, err) {
              // it may be because it's behind a CORS thing, in which case we will try to proxy through the server
              console.log("Something went wrong!", data, err);
              window.alert("There was an error checking the component at the url: " + url);
              console.error("Error while checking component: " + url, err);
              cb(null);
          }});
        },
        getNameForComponent: function(url, data) {
          var doc = document.createDocumentFragment();
          doc.appendChild(document.createElement("body"));
          doc.querySelector("body").innerHTML = data;
          var componentElement = doc.querySelector("polymer-element");
          if (!componentElement) {
            alert("this isn't a component file uh oh");
            return '';
          }
          return componentElement.getAttribute('name');
        },
        learnComponent: function(url, name) {
          // This function is to teach appmaker (client & server) about a new component URL
          var self = this;
          if (tray.isKnownComponent(name)) {
            return console.error("we already know a component <"+name+">");
          }
          this.storeComponentURL(url, name, function(err, result) {
            self.addComponentToUI(url, name);
          });
        },
        storeComponentURL: function(url, name, next) {
          var self = this;
          $.ajax('/api/componentlinks', {
            data: {
              url: url,
              name: name
            },
            type: 'post',
            success: function (data) {
              // keep going
              next && next();
            },
            error: function (data) {
              // break off the process by not calling next()
              alert("error storing info about component:", data.responseJSON.error);
            }
          });
        },
        addComponentToUI: function(url, name) {
          // Add to the menu
          var menuItem = this.addLinkForComponent(url, name);
          // add to polymer, the tray, etc.
          this.loadLink(name, url, function(err, result) {
            if (err) {
              return console.error(err.error);
            }
            menuItem.setBroken(false);
            tray.addComponentsFromRegistry();
          });
        },
        addLinkForComponent: function(url, name) {
          var self = this;

          var component = document.createElement('li');
          component.setAttribute('data-link-name', name);
          component.classList.add('component');
          component.setBroken = function(b) {
            if(b) component.classList.add("broken");
            else component.classList.remove("broken");
          };
          // assume broken, unbreak if legal component.
          component.setBroken(true);

          var componentEntry = document.createElement('a');
          componentEntry.textContent = name;
          componentEntry.setAttribute('class', 'componentlink');

          var closeButton = document.createElement('a');
          closeButton.setAttribute('class', 'x');
          closeButton.addEventListener('click', function(event) {
            if (window.confirm("Are you sure you want to forget about the component at " + url)) {
              self.forgetComponent(name, url);
              return;
            }
            event.stopPropagation();
          });

          var myComponents = this.shadowRoot.querySelector("#mycomponents");
          componentEntry.appendChild(closeButton);
          component.appendChild(componentEntry);
          myComponents.appendChild(component);

          return component;
        },
        attributeChangedCallback: function(attributeName) {
          if (attributeName == 'user') {
            this.refreshUserState();
          }
        },
        toggleMenu: function(e) {

          var parent = e.target.parentNode;

          var isOpen = false;
          if(parent.classList.contains("menu-open")){
            isOpen = true;
          }

          var menus = this.shadowRoot.querySelectorAll(".menu-wrapper");
          for(var j = 0; j < menus.length ; j++){
            menus[j].classList.remove("menu-open");
          }
          if(isOpen){
            parent.classList.remove("menu-open");
          } else {
            parent.classList.add("menu-open");
          }
        },
        closeMenus: function(){
          var menus = this.shadowRoot.querySelectorAll(".menu-wrapper");
          for(var j = 0; j < menus.length ; j++){
            menus[j].classList.remove("menu-open");
          }
        },
        refreshUserState: function() {
          // go to the server and find out what the user's apps are and then...
          // Build the list of apps
          // Update "current app" in apps menu
          this.refreshAppList();
          this.refreshComponentsList();
        },
        //TODO move to event system and call refreshAppList after appLoaded event
        refreshAppList: function() {
          var self = this;
          var myApps = this.shadowRoot.querySelector("#myapps");
          var noApps = this.shadowRoot.querySelector("#noApps");
          var currentApp = application.getCurrentApp() || "";
          //TODO handle this better
          if(currentApp){
            this.updateAppName(currentApp || l10n.get("Unsaved App"));
          }

          myApps.innerHTML = "";
          $.getJSON("/api/myapps", function(data) {

            try {
              var count = 0;
              $.each(data, function(key, val) {
                count++;
                var app = document.createElement('li');
                var link = document.createElement('a');
                link.id = key;
                link.classList.add('app');
                link.textContent = val.name;

                if(currentApp == val.name){
                  link.classList.add('currentApp');
                }
                link.classList.add('class', 'applink');
                link.addEventListener('click', function(){
                  application.loadAppByName(val.name);
                  self.editingmode = "saved";
                });
                app.appendChild(link);
                myApps.appendChild(app);
              });

              if(count == 0){
                noApps.style.display = "block";
              } else {
                noApps.style.display = "none";
              }
            } catch (e) {
              console.log(e);
            }
          });
        },
        forgetComponent: function(name, url) {
          var self = this;
          $.ajax('/api/componentlinks', {
            data: {
              url: url
            },
            type: 'delete',
            success: function (data) {
              tray.forgetComponent(name);
              console.log("we've deleted the component");
              console.log("XXX: Need to tell polymer to forget about this component");
              // FIXME: it does not appear polymer actually supports "forgetting"
              //        of elements during the lifetime of a page without reloading.
            },
            error: function (data, err) {
              console.log("Something went wrong!");
              console.error("Error while forgetting component: " + data.url, err);
            }
          });
        },
        refreshComponentsList: function() {
          var self = this;
          var myComponents = this.shadowRoot.querySelector("#mycomponents");
          myComponents.innerHTML = "";
          $.getJSON("/api/componentlinks", function(data) {
            try {
              var count = 0;
              $.each(data, function(key, val) {
                count++;
                self.addComponentToUI(val.url, val.name);
              });
            } catch (e) {
              console.log(e);
            }
          });
        },
        setAppURL: function(url) {
          var viewlink = this.$.viewlink;
          if(url) {
            viewlink.setAttribute("href", url);
            viewlink.classList.remove("hidden");
          }
          else {
            viewlink.setAttribute("href", '');
            viewlink.classList.add("hidden");
          }
        }
      });
    });
  })();
  </script>
</polymer-element>
