<polymer-element
  name="user-state"
  attributes="user"
  >
  <template>
    <style>
      :host {
        display: inline-block;
        color: white;
        position: relative;
        margin-right: 10px;
      }
      :host #signin {
        height: 26px;
        font-size: 16px;
        cursor: pointer;
        background-color: #e81e1e;
        border-radius: 2px;
        padding-left: 1em;
        padding-right: 1em;
      }
      :host button.button {
        height: 26px;
        font-size: 16px;
        cursor: pointer;
        background-color: #e81e1e;
        border-radius: 2px;
        padding-left: 1em;
        padding-right: 1em;
      }
      :host #email {
        padding: 0 10px;
        cursor: pointer;
        height: 26px;
        width: 250px;
        font-size: 16px;
        text-align: left;
        padding-right: 30px;
        cursor: pointer;
        background-color: #01a3b0;
        border-radius: 2px;
        background-image: url(/images/arrow-down.png);
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: right 10px center;
      }
      :host #email:hover {
        text-decoration: none;
        background-color: #0bb4c2;
      }
      :host .menu-open #email {
        background-image: url(/images/arrow-up.png);
      }
      :host .menu-open #email {
        border-radius: 2px 2px 0 0;
      }
      .menubutton {
        display: inline-block;
      }
      :host .menu {
        z-index: 12000;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 26px;
        width: 100%;
        background: #DDD;
        text-align: left;
        border-top: solid 2px #117b84;
      }
      :host .menu {
        display: none;
      }
      :host .menu-open .menu {
        display: block;
      }
      :host .menu h3 {
        padding: 0 0 4px 0 ;
        margin: 0 0 10px 0;
        border-bottom: solid 2px #BBB;
        color: #444;
        font-size: 16px;
      }
      :host .hidden {
        display: none;
      }
      :host #myapps {
        display: block;
        margin: 0 0 12px 0;
        padding: 0;
        clear: both;
        width: 100%;
      }
      :host #myappsheading {
        text-align: left;
      }
      :host #myapps li {
        margin-top: 0;
        padding: 0;
        text-align: left;
        list-style-type: none;
        margin: 0;
        font-size: small;
        padding: 0;
        overflow: auto;
      }
      :host #myapps .applink {
        text-align: left;
        border: 0;
        background-color: transparent;
        color: #555;
        padding: 0;
        margin: 0;
        padding: 3px 5px;
        float: left;
        width: calc(100% - 36px);
        display: block;
        cursor: pointer;
        border-radius: 3px;
        font-size: 15px;
      }
      :host #myapps .delete-link {
        padding: 3px 7px;
        float: right;
        display: block;
        border-radius: 2px;
        background: #AAA;
        color: #DDD;
      }
      :host #myapps .delete-link:hover {
        background: #999;
      }
      :host #myapps .applink:hover {
        background: #EEE;
      }
    </style>
    <button id="signin" class="button btn-std btn-md {{ {hidden: user.state == 'signedin'} | tokenList}}" on-click="{{signinClick}}">login</button>
    <div class="menubutton">
      <button id="email" on-mousedown="{{toggleMenu}}" class="button btn-std btn-md {{ {hidden: user.state == 'signedout'} | tokenList}}">{{user.email}}</button>
      <div class="menu"><!-- add back hidden class -->
        <h3 id="myappsheading">My apps</h3>
        <ul id="myapps">
        </ul>
        <button id="signout" class="button btn-std btn-md {{ {hidden: user.state == 'signedout'} | tokenList}}" on-click="{{signoutClick}}">Sign Out</button>
      </div>
    </div>
  </template>
  <script>
  (function() {
    require(['jquery', 'persona', 'designer/application'], function(jquery, persona, application) {
      var user = {
        email: '',
        state: 'signedout'
      };
      // this is done via require because it needs persona loaded to
      // be able to call navigator.id stuff
      navigator.id.watch({
        onlogin: function(assertion) {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/persona/verify", true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.addEventListener("loadend", function(e) {
            var data = JSON.parse(this.responseText);
            if (data && data.status === "okay") {
              console.log("You have been logged in as: " + data.email);
              document.dispatchEvent(new CustomEvent('user-state', {
                detail: {'state': 'signedin', 'email': data.email}
              }));
            }
          }, false);
          xhr.send(JSON.stringify({
            assertion: assertion
          }));
        },
        onlogout: function() {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/persona/logout", true);
          xhr.addEventListener("loadend", function(e) {
            document.dispatchEvent(
              new CustomEvent('user-state', {
                detail: {'state': 'signedout', 'email': ''}
              })
            );
          });
          xhr.send();
        }
      });
      Polymer('user-state', {
        user: user,
        ready: function() {
          var that = this;
          document.addEventListener('user-state', function (event) {
            that.user.state = event.detail.state;
            that.user.email = event.detail.email;
            if (that.user.state == 'signedin') {
              that.refreshUserState();
            }
          });
        },
        signinClick: function() {
          navigator.id.request();
        },
        signoutClick: function() {
          this.toggleMenu();
          navigator.id.logout();
        },
        attributeChangedCallback: function(attributeName) {
          if (attributeName == 'user') {
            this.refreshUserState();
          }
        },
        toggleMenu: function() {
          var self = this;
          var menuBtn = this.shadowRoot.querySelector(".menubutton");
          menuBtn.classList.toggle("menu-open");
        },
        refreshUserState: function() {
          // go to the server and find out what the user's apps are.
          var myApps = this.shadowRoot.querySelector("#myapps");
          myApps.innerHTML = '';
          $.getJSON("/api/myapps", function(data) {
            try {
              var items = [];
              $.each(data, function(key, val) {
                var app = document.createElement('li');
                var deleteLink = document.createElement('a');
                deleteLink.innerText = "X";
                deleteLink.setAttribute("href","#");
                deleteLink.classList.add("delete-link");
                deleteLink.setAttribute("title","Delete this app.");
                deleteLink.addEventListener('click', function() {
                  try {
                    alert("Deleting app!");
                    // application.deleteAppByName(val.name);
                  } catch (e) {
                    console.log(e);
                  }
                });
                var link = document.createElement('a');
                link.id = key;
                link.textContent = val.name;
                link.setAttribute('class', 'applink');
                link.addEventListener('click', function() {
                  try {
                    application.loadAppByName(val.name);
                  } catch (e) {
                    console.log(e);
                  }
                });
                app.appendChild(deleteLink);
                app.appendChild(link);
                if(val.name){
                  myApps.appendChild(app);
                }
              });
            } catch (e) {
              console.log(e);
            }
          });
        }
      });
    });
  })();
  </script>
</polymer-element>
