<polymer-element
  name="user-state"
  attribute="user"
  >
  <template>
    <style>
      :host {
        display: inline;
        color: white;
        position: relative;
      }
      :host button.button {
        height: 26px;
        font-size: 16px;
        cursor: pointer;
        background-color: #e81e1e;
        margin: 12px 12px 0px 0px;
        border-radius: 2px;
        padding-left: 1em;
        padding-right: 1em;
      }
      :host #email {
        cursor: pointer;
        margin-left: 0.5em;
        height: 26px;
        /*width: 102px;*/
        width: auto;
        font-size: 16px;
        cursor: pointer;
        background-color: rgba(1, 163, 176, 1);
        margin: 12px 12px 0px 0px;
        overflow-x: auto;
        border-radius: 2px;
        padding-left: 1em;
        padding-right: 1em;
      }
      :host #email:hover {
        text-decoration: underline;
      }
      :host #email:before {
        content: "\2193\0020";
      }
      :host #signout {
        float: right;
      }
      .menubutton {
        display: inline-block;
      }
      .menu {
        z-index: 12000;
        padding: .3em;
        border-color: #444;
        background-color: #222;
        position: absolute;
        left: 0;
        top: 0;
        height: 10em;
        float: left;
      }
      .hidden {
        display: none;
      }
      :host #myapps {
        display: block;
        float: left;
      }
      :host #myappsheading {
        float: left;
        clear: both;
        width: 100%;
        text-align: left;
      }
      :host #myapps {
        margin: 0;
        padding: 0;
        clear: both;
        width: 100%;
      }
      :host #myapps li {
        float: left;
        clear: both;
        margin-top: 0;
        padding: 0;
        padding-left: 0.5em;
      }
      :host #myapps li {
        list-style-type: none;
        margin: 0;
        font-size: small;
        padding: 0;
      }
      :host #myapps .applink {
        text-align: left;
        font-size: small;
        text-decoration: underline;
        border: 0;
        background-color: transparent;
        color: white;
        padding: 0;
        margin: 0;
        cursor: pointer;
      }
    </style>
    <button id="signin" class="button btn-std btn-md {{ {hidden: user.state == 'signedin'} | tokenList}}" on-click="{{signinClick}}">login</button>
    <div class="menubutton" on-mousedown="{{showMenu}}">
      <button id="email" class="button btn-std btn-md {{ {hidden: user.state == 'signedout'} | tokenList}}">{{user.email}}</button>
      <div class="menu hidden" on-exit="{{hideMenu}}">
        <span id="myappsheading">My apps</span>
        <ul id="myapps">
        </ul>
        <button id="signout" class="button btn-std btn-md {{ {hidden: user.state == 'signedout'} | tokenList}}" on-click="{{signoutClick}}">logout</button>
      </div>
    </div>
  </template>
  <script>
  (function() {
    require(['jquery', 'persona', 'designer/application'], function(jquery, persona, application) {
      var user = {
        email: '',
        state: 'signedout'
      };
      // this is done via require because it needs persona loaded to
      // be able to call navigator.id stuff

      navigator.id.watch({
        onlogin: function(assertion) {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/persona/verify", true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.addEventListener("loadend", function(e) {
            var data = JSON.parse(this.responseText);
            if (data && data.status === "okay") {
              console.log("You have been logged in as: " + data.email);
              document.dispatchEvent(new CustomEvent('user-state', {
                detail: {'state': 'signedin', 'email': data.email}
              }));
            }
          }, false);

          xhr.send(JSON.stringify({
            assertion: assertion
          }));
        },
        onlogout: function() {
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/persona/logout", true);
          xhr.addEventListener("loadend", function(e) {
            document.dispatchEvent(
              new CustomEvent('user-state', {
                detail: {'state': 'signedout', 'email': ''}
              })
            );
          });
          xhr.send();
        }
      });

      Polymer('user-state', {
        user: user,
        ready: function() {
          var that = this;
          document.addEventListener('user-state', function (event) {
            that.user.state = event.detail.state;
            that.user.email = event.detail.email;
            if (that.user.state == 'signedin') {
              that.refreshUserState();
            }
          });
        },

        signinClick: function() {
          navigator.id.request();
        },
        signoutClick: function() {
          navigator.id.logout();
        },
        attributeChangedCallback: function(attributeName) {
          if (attributeName == 'user') {
            this.refreshUserState();
          }
        },
        showMenu: function() {
          var self = this;
          var menu = this.shadowRoot.querySelector(".menu");
          menu.classList.remove('hidden');
          menu.addEventListener("mouseleave", function() {
            menu.classList.add('hidden');
          });
        },
        refreshUserState: function() {
          // go to the server and find out what the user's apps are.
          var myApps = this.shadowRoot.querySelector("#myapps");
          myApps.innerHTML = '';
          $.getJSON("/api/myapps", function(data) {
            try {
              var items = [];
              $.each(data, function(key, val) {
                var app = document.createElement('li');
                var link = document.createElement('button');
                link.id = key;
                link.textContent = val.name;
                link.setAttribute('class', 'applink');
                link.addEventListener('click', function() {
                  try {
                    application.loadAppByName(val.name);
                  } catch (e) {
                    console.log(e);
                  }
                });
                app.appendChild(link);
                myApps.appendChild(app);
              });
            } catch (e) {
              console.log(e);
            }
          });
        }
      });
    });
  })();
  </script>
</polymer-element>
