:host {
  display: block;
  width: 100%;
  padding: 10px;
  background: #555;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

:host .output-channel {
  padding: 5px 10px;
  background: #999;
  margin: 0 3px;
  display: inline-block;
  border: solid 2px #555;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

:host .next-up {
  background: white;
  border: solid 2px white;
  font-weight: bold;
}
