<polymer-element name="ceci-alternating-gate" attributes="countbeforeswitch" extends="ceci-element">
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div id="channels"></div>
    <shadow></shadow>
  </template>
  <ceci-definition>
    {
      "tags": ["alternating-gate", "low-level"],
      "thumbnail": "./thumbnail.png",
      "name": "Alternating Gate",
      "description": "Alternates output between set broadcasts from a single input",
      "broadcasts": {
        "A": {
          "label": "Output A",
          "description": "The first broadcast in the rotation.",
          "default": "green"
        },
        "B": {
          "label": "Output B",
          "description": "The second broadcast in the rotation.",
          "default": "yellow"
        },
        "C": {
          "label": "Output C",
          "description": "The third broadcast in the rotation."
        },
        "D": {
          "label": "Output D",
          "description": "The fourth broadcast in the rotation."
        },
        "E": {
          "label": "Output E",
          "description": "The fifth broadcast in the rotation."
        }
      },
      "listeners": {
        "input": {
          "description": "The input that alternates out the broadcasts.",
          "label": "Input",
          "default": true
        }
      },
      "attributes": {
        "countbeforeswitch": {
          "label": "Count Before Switch",
          "description": "How many events to send on each channel before switching",
          "editable": "number",
          "min" : 1
        }
      }
    }
  </ceci-definition>
  <script>
    Polymer('ceci-alternating-gate', {
      nextBroadcast : "",
      ready: function() {
        this.countbeforeswitch = Number(this.countbeforeswitch) || 1;
        this.lastBroadcast = null;
        this.count = 0;
        this.super();
      },
      countbeforeswitch: 1,
      attached : function(){
        this.super();
      },
      domReady: function() {
        var that = this;
        this.onChannelUpdate = function(){
          that.updateChannels();
          that.updateUI();
        };
        window.addEventListener("channelUpdate", this.onChannelUpdate);
        this.updateChannels();
        this.nextBroadcast = this.activeBroadcasts[0];
        this.lastBroadcast = this.activeBroadcasts[0];
        this.updateUI();
      },
      detached: function() {
        window.removeEventListener("channelUpdate", this.onChannelUpdate);
      },
      updateUI : function(){
        var outputChannels = this.$.channels.querySelectorAll(".output-channel").array();
        outputChannels.forEach(function(c) {
          c.classList.remove("next-up");
        });
        var selected = this.$.channels.querySelector("." + this.nextBroadcast);
        if(selected){
          selected.classList.add("next-up");
        }
      },
      updateChannels: function(){
        var that = this;
        this.activeBroadcasts = [];
        that.$.channels.textContent = "";
        var broadcasts = this.querySelectorAll("ceci-broadcast").array();
        broadcasts.forEach(function(broadcast) {
          that.activeBroadcasts.push(broadcast.getAttribute("from"));
          var channel = document.createElement("div");
          channel.classList.add("output-channel");
          channel.classList.add(broadcast.getAttribute("from"));
          channel.textContent = broadcast.getAttribute("from");
          that.$.channels.appendChild(channel);
        });
      },
      input: function(value) {
        this.broadcast(this.nextBroadcast, value);
        this.count += 1;
        this.count = this.count % this.countbeforeswitch || 0;

        // Only switch broadcaster if we've hit this one {{this.countbeforeswitch}} times
        if (this.count == 0) {
          this.nextBroadcast = this.activeBroadcasts.indexOf(this.lastBroadcast) + 1;
          this.nextBroadcast %= this.activeBroadcasts.length;
          this.nextBroadcast = this.activeBroadcasts[this.nextBroadcast];
          this.lastBroadcast = this.nextBroadcast;
          this.updateUI();
        }
      }
    });
  </script>
</polymer-element>
