:host {
  width: 100%;
  display: block;
}

:host .timer {
  padding: 4px 0px 16px 0px;
  color: #DDD;
  text-align: center;
  background: #222;
  font-size: 28px;
  position: relative;
  cursor: pointer;
}

:host .progress-wrapper {
  position: absolute;
  bottom: 9px;
  width: 110px;
  height: 4px;
  left: calc(50% - 55px);
  background: rgba(255,255,255,.2);
  text-align: center;
  border-radius: 4px;
}

:host .progress {
  position: relative;
  height: 4px;
  background: #CCC;
  border-radius: 4px;
  transition-property: width;
  transition-duration: .2s;
}
