<polymer-element name="ceci-timer" extends="ceci-element" attributes="background time playsound"
playsound="true"
time="5"
background="#222">
  <ceci-definition>
    {
      "name": "Timer",
      "thumbnail": "./thumbnail.png",
      "description": "Counts down time and when time runs out it plays a sound and sends a broadcasts.",
      "tags": ["timer", "time"],
      "broadcasts": {
        "timeup": {
          "label": "Time is Up",
          "description": "Time is up!",
          "default" : "true"
        }
      },
      "listeners": {
        "start": {
          "label": "Start",
          "description": "Start the timer.",
          "default" : "true"
        },
        "pause": {
          "label": "Pause",
          "description": "Pauses the timer."
        },
        "reset": {
          "label": "Reset",
          "description": "Resets the timer."
        },
        "settimer": {
          "label": "Set Timer",
          "description": "Set a time in seconds to count down from."
        }
      },
      "attributes": {
        "time": {
          "label": "Count Down (in Seconds)",
          "description": "Amount of time to count down from.",
          "editable": "number"
        },
        "playsound": {
          "label": "Play sound when timer finishes",
          "description": "Play sound when timer finishes.",
          "editable": "boolean"
        },
        "background": {
          "label": "Background Color",
          "description": "Background color of the timer.",
          "editable": "color"
        }
      }
    }
  </ceci-definition>

  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div class="timer" on-ceci-pressdown="{{ timerPressed }}" style="background: {{ background }}">
      {{_timeLeftString}}
      <div class="progress-wrapper">
        <div class="progress" style="width: {{ progress }}%"></div>
      </div>
    </div>
    <shadow></shadow>
  </template>

  <script>
    function timeFromSeconds (milliseconds) {
      milliseconds = parseInt(milliseconds, 10);

      var hours = Math.floor(milliseconds / 3600000);
      var minutes = Math.floor((milliseconds - (hours * 3600000)) / 60000);
      var seconds = Math.floor((milliseconds - (hours * 3600000) - (minutes * 60000)) / 1000);

      milliseconds = milliseconds - (seconds * 1000) - (hours * 3600000) - (minutes * 60000);

      if (hours < 10) hours = "0" + hours;
      if (minutes < 10) minutes = "0" + minutes;
      if (seconds < 10) seconds = "0" + seconds;
      if (milliseconds < 10) milliseconds = "00" + milliseconds;
      else if (milliseconds < 100) milliseconds = "0" + milliseconds;

      //Trimming milliseconds to two numbers
      milliseconds = milliseconds + "";
      milliseconds = milliseconds.substr(0,2);

      return ((parseInt(hours,10) > 0) ? hours + ":" : "") + minutes + ':' + seconds + '.' + milliseconds;
    }

    Polymer("ceci-timer", {
      _timeLeft: 0,
      _elapsedTime: 0,
      _lastElapsedTime: 0,
      timestamp : 0,
      running : false,
      ready: function() {
        // "Ding" sound courtesy of http://www.freesfx.co.uk

        this.super();
        this.reset();
        this._timeLeft = this.time * 1000;
        this._timeLeftString = timeFromSeconds(this._timeLeft);
        this.updateDisplay();
        window.requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame ||
                                      window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;

        this.loadSound("ding","sounds/ding.mp3");
      },
      playDing : function(){
        if(this.playsound === "true"){
          this.playSound("ding",.4);
        }
      },
      timerPressed : function(){
        if(this.running) {
          this.pause();
        } else {
          this.start();
        }
      },
      updateDisplay: function(){
        var progress = parseInt(this._timeLeft) / parseInt(this.time * 1000) * 100;
        var p = progress;
        this.progress = p;
      },
      settimer : function(v){
        this.time = v;
        this.reset();
      },
      timeChanged: function(oldValue,newValue){
        this.time = newValue;
        this._timeLeft = this.time * 1000;
        this._timeLeftString = timeFromSeconds(this._timeLeft);
      },
      start: function() {
        if(!this.running) {
          this._startTime = Date.now();
          this.running = true;
          this.tick();
          this.timeStamp = Date.now();
        }
      },
      reset: function () {
        this._timeLeft = this.time * 1000;
        this._elapsedTime = 0;
        this._lastElapsedTime = 0;
        this._timeLeftString = timeFromSeconds(this._timeLeft);
        this.running = false;
        this.updateDisplay();
      },
      pause: function () {
        if(this.running) {
          this.running = false;
        }
      },
      tick : function(){
        var that = this;

        requestAnimationFrame(function(){
          if(that.running == true) {

            that._elapsedTime = Date.now() - that.timeStamp;
            that._timeLeft = that._timeLeft - that._elapsedTime;

            if (that._timeLeft <= 0) {
              that._timeLeftString = timeFromSeconds(0);
              that.broadcast('timeup',"Ding!");
              that.playDing();
              that.reset();
            }
            else {
              that._timeLeftString = timeFromSeconds(that._timeLeft);
            }
            that.updateDisplay();

            that.timeStamp = Date.now();
            that.tick();
          }
        });

      }
    });
  </script>
</polymer-element>
