<template id="moz-shutter-button">
  <div onclick="Components.broadcast('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==')"></div>
</template>

<template id="moz-picture-frame">
  <img ondblclick="$(this).attr('src', arguments[1])" />
</template>

<template id="moz-button">
  <button onclick="Components.broadcast()" style="">Click Me</button>
</template>

<template id="moz-counter">
  <div style="width: 100px; height: 100px; font-size: 50px;" ondblclick="$(this).text(parseFloat($(this).text()) + 1)">2</div>
</template>

<template id="moz-input-form">
  <input type="text">
  <button onclick="Components.broadcast($(this).prev().val())">Submit</button>
</template>

<template id="moz-log">
  <div ondblclick="$(this).append(arguments[1] + '<br>')"></div>
</template>
