<div class="tabs clearfix">
  <div class="cards clearfix"></div>
  <button id="add-card" class="btn-add"></button>
</div>

<div class="container clearfix">

  <a target="_blank" class="publish-url"></a>
  <button class="btn-std btn-md publish btn-critical">Publish</button>
  <button class="btn-std btn-md new">New App</button>

  <div class="customize-btn"></div>
  <div class="note">
    App auto-saved at <span id="time"></span>
  </div>

  <div class="tray">
    <div class="clearfix cats hidden">
      <button class="btn-std btn-toggle on">Favorite</button>
      <button class="btn-std btn-toggle">All</button>
    </div>
    <div class="library-list library-loading clearfix">
    </div>
  </div>
  <div class="listen-column">
  </div>
  <div class="phone-container">
    <div class="phone-top"></div>
    <div id="flathead-app">
      <div class="ceci-card">
        <div class="fixed-top"></div>
        <div class="phone-canvas">
        </div>
        <div class="fixed-bottom"></div>
      </div>
    </div>
    <div class="phone-bottom"></div>
  </div>
  <div class="broadcast-column">
  </div>

  <div class="log-wrapper">
    <div class="log">
      <ul class="scroll"></ul>
      <button class="small-btn log-toggle"></button>
    </div>
  </div>

</div>

<div class="channel-menu channel-menu-template">
  <div class="hover-helper"></div>
  <div class="channel-option subscription-option channel-template">
    <div class="color-ui">
      <div name="false"     color="false"   class="color"></div>
      <div name="blue"      color="blue"    class="color"></div>
      <div name="green"     color="green"   class="color"></div>
      <div name="purple"    color="purple"  class="color"></div>
      <div name="pink"      color="pink"    class="color"></div>
      <div name="orange"    color="orange"  class="color"></div>
      <div name="yellow"    color="yellow"  class="color"></div>
      <div name="purple"    color="purple"  class="color"></div>
    </div>
    <label><span class="channel-name"></span><div color="blue" class="chosen-color"></div></label>
  </div>
  <div class="arrow"></div>
</div>

<div class="modal-wrapper hidden">
  <div class="modal">
    <div class="modal-inner">
      <h2>Success!</h2>
      <div class="clearfix">
        Your app has been published to <a class="modal-publish-link"></a>
      </div>
      <button class="btn-std return-btn">
        Return to app
      </button>
    </div>
  </div>
</div>

