<% layout('layout') -%>
<script>
  requirejs(["/javascripts/designer.js"]);
</script>

<div class="container clearfix">
	<div class="toggle clearfix">
		<button class="btn-std btn-toggle build">Build</button>
		<button class="btn-std btn-toggle play">Play</button>
	</div>
	<button class="btn-std btn-md btn-toggle publish">Publish</button>

	<div class="tray">
		<h5 class="left">Components</h5>
		<div class="library-list clearfix">

		</div>
	</div>
	<div class="phone-container">
		<div class="phone-top"></div>
		<div class="phone-canvas">

		</div>
		<div class="phone-bottom"></div>
	</div>
	<div class="cards">
		<div class="clearfix">
			<h5 class="left">Cards</h5>
			<button class="btn-add"></button>
		</div>
		<div class="card"></div>
	</div>
	<div class="console">
		<div class="log">
			<div class="inner">
				<h5>Log</h5>
				<p class="scroll"></p>
			</div>
		</div>
		<div class="inspector" class="hidden">
			<div class="inner">
				<h5>Component: <span class="name"></span></h5>
				<div id="inputBlock">
					<h6>Listens on</h6>
					<div id="inputChannel" class="input" belongsTo=""><span class="icon-headphones"></span></div>
				</div>
				<div id="outputBlock">
					<h6>Speaks on</h6>
					<div id="outputChannel" class="output" belongsTo=""><span class="icon-feed"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="tooltip" id="tooltip-output"><span class="txt-fixed">Passes on </span>Images, Videos, Text</div>
<div class="tooltip" id="tooltip-input"><span class="txt-fixed">Listens for </span>Images, Videos, Text</div>
<div class="modal-wrapper color-modal">
	<div class="modal">
		<div class="close-modal"></div>
		<div class="inner">
			<div class="color-options clearfix"></div>
		</div>
	</div>
</div>
