<% layout('layout') -%>
<script>
  requirejs(["/javascripts/designer.js"]);
</script>

<div class="container clearfix">
	<a target="_blank" class="publish-url"></a>
	<button class="btn-std btn-md publish btn-critical">Publish</button>
	<button class="btn-std btn-md new btn-secondary">New App</button>
	<button class="log"></button>
	<div class="note hidden">
		App Saved
	</div>

	<div class="tray">
		<h5>Components</h5>
		<div class="clearfix cats">
			<button class="btn-std btn-toggle on">Awesome</button>
			<button class="btn-std btn-toggle">Meh</button>
		</div>
		<div class="library-list library-loading clearfix">

		</div>
	</div>
	<div class="listen-column">
	</div>
	<div class="phone-container">
		<div class="phone-top"></div>
		<div id="flathead-app"></div>
		<div class="phone-bottom"></div>
	</div>
	<div class="broadcast-column">
	</div>
	<div class="console">
		<div class="cards">
		<h5>Cards</h5>
		</div>
		<button class="btn-add"></button>
		<div class="log hidden">
			<div class="inner">
				<h5>Log</h5>
				<p class="scroll"></p>
			</div>
		</div>
		<div class="inspector hidden">
			<div class="inner">
				<h4 class="name"></h4>
				<div class="description">This is where the app description should be.</div>
				<section class="broadcast-section">
					<div class="label">BROADCASTS</div>
					<div class="broadcast-channel channel-label"></div>
					<div class="broadcast-options clearfix"></div>
				</section>
				<section class="listen-section">
					<div class="label">LISTENS</div>
					<div class="listen-channel"></div>
					<div class="listen-options clearfix"></div>
				</section>
				<section class="editables-section">
					<div class="label">ATTRIBUTES</div>
					<div class="editables"></div>
				</section>
			</div>
		</div>
	</div>
</div>
