<% layout('layout') -%>
<script>
  requirejs(["/javascripts/designer.js"]);
</script>

<div class="container clearfix">
	<!--<div class="toggle clearfix">
		<button class="btn-std btn-toggle build">Build</button>
		<button class="btn-std btn-toggle play">Play</button>
	</div>-->
	<a target="_blank" class="publish-url"></a>
	<button class="btn-std btn-md publish btn-critical">Publish</button>

	<div class="tray">
		<h5>Components</h5>
		<div class="library-list library-loading clearfix">

		</div>
	</div>
	<div class="phone-container">
		<div class="phone-top"></div>
		<div class="fixed-top drophere"></div>
		<div class="phone-canvas drophere"></div>
		<div class="fixed-bottom drophere"></div>
		<div class="phone-bottom"></div>
	</div>
	<div class="cards">
		<div class="clearfix">
			<h5 class="left">Cards</h5>
			<button class="btn-add"></button>
		</div>
		<div class="card"></div>
	</div>
	<div class="console">
		<div class="log">
			<div class="inner">
				<h5>Log</h5>
				<p class="scroll"></p>
			</div>
		</div>
		<div class="inspector hidden">
			<div class="inner">
				<h4 class="name"></h4>
				<div class="description">This is where the app description should be.</div>
				<section class="broadcast-section">
					<div class="label">BROADCASTS</div>
					<div class="broadcast-channel channel-label"></div>
					<div class="broadcast-options clearfix"></div>
				</section>
				<section class="listen-section">
					<div class="label">LISTENS</div>
					<div class="listen-channel"></div>
					<div class="listen-options clearfix"></div>
				</section>
				<section class="editables-section">
					<div class="label">ATTRIBUTES</div>
					<div class="editables"></div>
				</section>
			</div>
		</div>
	</div>
</div>
