<% layout('layout') -%>
<script>
  requirejs(["/javascripts/designer.js"]);
</script>

<div class="container clearfix">

	<section class="editables-section hidden">
		<div class="editables"></div>
	</section>

	<a target="_blank" class="publish-url"></a>
	<button class="btn-std btn-md publish btn-critical">Publish</button>
	<button class="btn-std btn-md new btn-secondary">New App</button>
	<button class="small-btn log-toggle"></button>
	<button class="small-btn delete-btn hidden"></button>
	<button class="small-btn customize-btn hidden"></button>
	<div class="note hidden">
		App Saved
	</div>

	<div class="tray">
		<!--<h5>Components</h5>-->
		<div class="clearfix cats">
			<button class="btn-std btn-toggle on">Favorite</button>
			<button class="btn-std btn-toggle">All</button>
		</div>
		<div class="library-list library-loading clearfix">

		</div>
	</div>
	<div class="listen-column">
	</div>
	<div class="phone-container">
		<div class="phone-top"></div>
		<div id="flathead-app"></div>
		<div class="phone-bottom"></div>
	</div>
	<div class="broadcast-column">
	</div>
	<div class="console">
		<div class="cards">
			<!--<h5>Cards</h5>-->
			<button class="btn-add"></button>
		</div>
		<div class="inspector hidden">
			<div class="inner">
				<!--<div class="description">This is where the app description should be.</div>-->
			</div>
		</div>
	</div>
</div>

<div class="channel-chooser broadcast-section hidden">
	<div class="arrow"></div>
	<div class="broadcast-options clearfix"></div>
</div>

<section class="channel-chooser listen-section hidden">
	<div class="arrow"></div>
  <div class="listen-options clearfix"></div>
</section>

<div class="log hidden">
	<div class="inner">
		<p class="scroll"></p>
	</div>
</div>

<div class="modal-wrapper hidden">
	<div class="modal">
		<div class="modal-inner">
			<h2>Success!</h2>
			<div class="clearfix">
				Your app has been published to: __________________
			</div>
			<button class="btn-std return-btn">
				Return to app
			</button>
		</div>
	</div>
</div>
