<% layout('layout') -%>
<div class="tip">
	To get started, add a new component.
</div>
<div class="container clearfix">
	<button class="btn-std btn-md publish">Publish</button>
	<div class="tray">
		<div class="component-header clearfix">
			<h5 class="left">Components</h5>
			<button class="btn-add" id="open-library"></button>
		</div>
	</div>
	<div class="phone-container">
		<div class="phone-top"></div>
		<div class="phone-canvas">

		</div>
		<div class="phone-bottom"></div>
	</div>
	<div class="cards">
		<div class="clearfix">
			<h5 class="left">Cards</h5>
			<button class="btn-add"></button>
		</div>
		<div class="card"></div>
	</div>
	<div class="console">
		<div class="component-customize">
			<div class="inner">
				<h5>Customize</h5>
				<h6>Tabs</h6>
				<p>Tabs allow users to navigate to new cards.</p>
				<div class="row clearfix">
					<div class="tab-num">1</div>
					<div class="dropdown">
						Select Card
					</div>
					<button class="btn-img"></button>
				</div>
				<div class="row clearfix">
					<div class="tab-num">2</div>
					<div class="dropdown">
						Select Card
					</div>
					<button class="btn-img"></button>
				</div>
				<div class="row clearfix">
					<div class="tab-num">3</div>
					<div class="dropdown">
						Select Card
					</div>
					<button class="btn-img"></button>
				</div>
			</div>
		</div>
		<div class="log"></div>
	</div>
</div>
<div class="tooltip" id="tooltip-output"><span class="txt-fixed">Passes on </span>Images, Videos, Text</div>
<div class="tooltip" id="tooltip-input"><span class="txt-fixed">Listens for </span>Images, Videos, Text</div>
<div class="modal-wrapper output-options">
	<div class="modal">
		<div class="close-modal"></div>
		<div class="inner">
			<h3 class="mar-bot-twenty">Pick component that receives <b>image</b></h3>
			<div class="clearfix mar-bot-twenty">
				<div class="filter active">In App</div><div class="filter">All</div>
			</div>
			<div class="row clearfix">
				<div class="component-std">
					container
				</div>
				<div class="component-std">
					image editor
				</div>
				<div class="component-std">
					filter
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-wrapper library">
	<div class="modal">
		<div class="close-modal"></div>
		<div class="inner">
			<h3 class="mar-bot-twenty">Pick components to add to your app</h3>
			<div class="clearfix mar-bot-twenty">
				<div class="filter active">Recommended</div><div class="filter">Popular</div><div class="filter">Newest</div><div class="filter">All</div>
			</div>
			<div class="library-list clearfix">

			</div>
			<button class="btn-std btn-done">Done</button>
		</div>
	</div>
</div>
