<% layout('layout') -%>
<div class="tip">
	Drag component on to phone.
</div>
<div class="container clearfix">
	<button class="btn-std btn-md publish">Publish</button>
	<div class="tray">
		<div class="component-header">
			<h5>Components</h5>
		</div>
	</div>
	<div class="phone-container">
		<div class="phone-top"></div>
		<div class="phone-canvas">

		</div>
		<div class="phone-bottom"></div>
	</div>
	<div class="cards">
		<h5>Cards</h5>
		<div class="card"></div>
	</div>
	<div class="console">
		<div class="component-log">
			<div class="inner">
				No component selected
			</div>
		</div>
		<div class="log"></div>
	</div>
</div>
<div class="tooltip"><span class="txt-fixed">Passes on </span>Images, Videos, Text <span class="txt-fixed">to no components</span></div>
<div class="modal-wrapper">
	<div class="modal">
		<div class="close-modal"></div>
		<div class="inner">
			<h3 class="mar-bot-twenty">Pick component that receives <b>image</b></h3>
			<div class="clearfix mar-bot-twenty">
				<div class="filter active">In App</div><div class="filter">All</div>
			</div>
			<div class="row clearfix">
				<div class="component-std">
					container
				</div>
				<div class="component-std">
					image editor
				</div>
				<div class="component-std">
					filter
				</div>
			</div>
		</div>
	</div>
</div>
