<% layout('layout') -%>
<section class="banner">
	<div class="banner-inner">
		<h1>
			Build apps for the new Firefox Phone.
		</h1>
		<button class="btn-std btn-lg btn-start btn-critical" onclick="window.location='/designer'">
			Start
		</button>
	</div>
</section>
