<% layout('layout') -%>
<link rel='stylesheet' href='/stylesheets/tutorial.css' />
<script type="text/javascript" charset="utf-8" src="/vendor/jquery/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/tutorial.js"></script>

<div class="top-line"></div>
	<div class="mozilla">
		<img src="images/mozilla-red.png">
	</div>
	<section class="banner">
		<div class="ball"></div>
	</section>
	<div class="level-start">
		<img class="current-level" src="images/bright-sign.png">
		<button class="btn-std btn-start-app" onclick="window.location='/designer'">
		  Start
		</button>
	</div>
	<div class="intro-description">
		<h2>Welcome to Appmaker!</h2>
		<p>Mozilla Appmaker is a pre-alpha concept. Its goal is to empower everyone to make mobile apps, regardless of their digital skillset.</p>
		<p>We're making progress on Appmaker on a daily basis, so expect it to be in a state of constant flux.</p>
		<p>Dive in, give it a shot, and <a href="mailto:bobby@mozillafoundation.org">let us know what you think!</a></p>
	</div>
</div>
