<% layout('layout') -%>
<link rel='stylesheet' href='/stylesheets/tutorial.css' />
<script type="text/javascript" charset="utf-8" src="/vendor/jquery/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/tutorial.js"></script>

<div class="top-line"></div>
<div class="index-container">
	<div class="mozilla">
		<img src="images/moz-app.png">
	</div>
	<section class="banner">
			<div class="sub-header">Make an app just for you.</div>
			<!--<input type="text" placeholder="Your name" class="app-name">-->
			<button class="btn-std btn-start-app" onclick="window.location='/designer'">
				  Start
			</button>
	</section>
</div>
