<% layout('layout') -%>
<link rel='stylesheet' href='/stylesheets/tutorial.css' />
<script type="text/javascript" charset="utf-8" src="/vendor/jquery/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/tutorial.js"></script>
<div class="top-line"></div>
<div id="home-mozilla">
	<a href="http://www.mozilla.org"><img src="images/moz-blue.png"></a>
</div>
<div class="home-span">
	<div class="home-container">
		<div class="video-splash" data-video="http://www.youtube.com/embed/RaRIdLgZTPI?autoplay=1">
		  <div>
		    
			  <div class="vid-text">
			  	Appmkaker: Introduction
			  </div>
			  <div class="play-video">
			  	<img src="images/play-button.png">
			  </div>
			</div>
		</div>
	</div>
</div>
<div class="home-container">
	<button class="btn-std btn-start-app" onclick="window.location='/designer'">
	  Build App
	</button>
	<div class="home-description">
		<p>Our goal is to empower everyone to be able to make mobile apps, regardless of their digital skillset.
		We are making progress on Appmaker on a daily basis, so expect it to be in a state of flux.
		</p>
		<p>
		Give it a shot.
		</p>
		<p>
		<a href="https://twitter.com/MozillaAppmaker" target="_blank">Let us know if there are things we can improve.</a>
		</p>
		<p>
		And if you are so inclined, <a href="https://github.com/mozilla/appmaker" target="_blank">help us out</a>.
		</p>
	</div>
</div>
