<% layout('layout') -%>
<link rel='stylesheet' href='/stylesheets/tutorial.css' />
<script type="text/javascript" charset="utf-8" src="/vendor/jquery/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/tutorial.js"></script>
<div class="top-line"></div>
<div id="home-mozilla">
	<a href="http://www.mozilla.org"><img src="images/mozilla.png"></a>
</div>
<div class="home-container">
  <div class="video-container">
		<div class="video-splash" data-video="http://www.youtube.com/embed/RaRIdLgZTPI?autoplay=1">
		  <div>  
			  <div class="vid-text">
			  	Appmaker
			  </div>
			  <div class="play-video">
			  	Play Introduction
			  </div>
			</div>
		</div>
	</div>
	<button class="btn-std btn-start-app" onclick="window.location='/designer'">
  	Build App
	</button>
	<div class="break-line"></div>
	<div class="home-description">
		<p>
		  <span class="home-header">Our Goal </span>is to empower everyone to be able to make mobile apps, regardless of their digital skillset.
		</p>
		<p>
		  <span class="home-header">Give it a shot </span>and keep a sense of humor. We are still in pre-alpha.
		</p>
		<p>
		  <span class="home-header">Let us know </span> how we can improve things <a href="https://twitter.com/MozillaAppmaker" target="_blank">@MozillaAppmaker</a>
		</p>
		<p>
      <span class="home-header">Contribute </span> to the project at <a href="https://github.com/mozilla/appmaker" target="_blank">github.com/mozilla/appmaker</a>.
		</p>
	</div>
</div>
