<% layout('layout') -%>
<link rel='stylesheet' href='/stylesheets/tutorial.css' />
<link href='http://fonts.googleapis.com/css?family=Norican' rel='stylesheet' type='text/css'>
<script type="text/javascript" charset="utf-8" src="/vendor/jquery/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/tutorial.js"></script>

<div class="top-line"></div>
<div class="index-container">
	<div class="clearfix">
		<a href="http://mozilla.org"><img src="images/mozilla.png" class="mozilla"></a>
	</div>
	<div class="logo">Appmaker</div>
	<section class="banner">
		<div class="banner-inner">
			<div class="sub-header">Make an app just for you.</div>
			<input type="text" placeholder="Your name" class="app-name">
			<button class="btn-std btn-start-app" onclick="window.location='/designer'">
				  Start
			</button>
		</div>
	</section>
</div>
