<% layout('layout') -%>
<link rel='stylesheet' href='/stylesheets/tutorial.css' />
<script type="text/javascript" charset="utf-8" src="/vendor/jquery/jquery.js"></script>
<script type="text/javascript" charset="utf-8" src="/vendor/jquery-ui/ui/minified/jquery-ui.min.js"></script>
<script type="text/javascript" charset="utf-8" src="/javascripts/tutorial.js"></script>

<div class="top-line"></div>
	<div class="mozilla">
		<img src="images/mozilla-red.png">
	</div>
	<section class="banner">
		<div class="ball"></div>
	</section>
	<div class="level-start">
		<img class="current-level" src="images/bright-sign.png">
		<button class="btn-std btn-start-app" onclick="window.location='/designer'">
			  Start
		</button>
	</div>
</div>
