<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel='stylesheet' href='/stylesheets/install.css' />
  <title>My Flathead App</title>
  <script>
    document.addEventListener('DOMContentLoaded', function (e) {
      var installButton = document.querySelector('#install');

      installButton.addEventListener('click', function (e) {
        var installRequest = navigator.mozApps.install('<%- manifestUrl %>');

        installRequest.onsuccess = function (data) {
          console.log('hooray!', data, this.result);
        };

        installRequest.onerror = function (err) {
          console.error(':(', this.error);
        };
      }, false);
    }, false);
  </script>
</head>
<body>
  <div class="install-container">
    <button id="install">Install App</button>
    <div>
      <iframe width="100%" height="400" src="<%- iframeSrc %>"></iframe>
    </div>
  </div>
</body>
</html>