<!DOCTYPE html>
<html>
  <head>
    <title><%= (typeof title === 'undefined') ? 'Welcome to Flathead' : title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="/javascripts/application.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/ceci/ceci.js"></script>
    <script src="/components/jquery/jquery.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
