<!DOCTYPE html>
<html>
  <head>
    <title><%= (typeof title === 'undefined') ? 'Welcome to Flathead' : title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400,600' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
    <script src="/components/angular/angular.js"></script>
    <script src="/components/ceci/ceci.js" data-ceci-components="http://flathead-components.herokuapp.com/package/timer+block+submit"></script>
    <script src="/components/jquery/jquery.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
