<!DOCTYPE html>
<html>
  <head>
    <title><%= (typeof title === 'undefined') ? 'Welcome to Flathead' : title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400,600' rel='stylesheet' type='text/css'>

    <link rel="component" type="text/ceci" href="<%= process.env.COMPONENTS_BASE_URL%>/package/all">


    <script data-main="<%= process.env.ASSET_HOST%>/javascripts/requireConfig" src="/vendor/requirejs/require.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
