    <div class="loading-pane">
      <div class="loading-content">
        <div class="loading-bar">
          <div class="loading-cover"></div>
        </div>
      </div>
    </div>
    <script src="<%= process.env.ASSET_HOST %>/javascripts/loading.js"></script>
