<!DOCTYPE html>
<html>
  <head>
    <title>Published Flathead Project</title>
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/style.css" />
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/remix.css" />
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400,600" rel="stylesheet" type="text/css">
    <base href="<%- ceciComponentURL %>">

    <script src="/vendor/requirejs/require.js"></script>
    <script src="/javascripts/requireConfig.js"></script>

    <script src="/vendor/platform/platform.js"></script>
    <script src="/vendor/polymer/polymer.js"></script>

    <link rel="import" href="/ceci/ceci-element-base.html">
    <link rel="import" href="/ceci/ceci-element.html">
    <link rel="import" href="/ceci/ceci-listen.html">
    <link rel="import" href="/ceci/ceci-card-base.html">
    <link rel="import" href="/ceci/ceci-card.html">
    <link rel="import" href="/ceci/ceci-app.html">
    <link rel="import" href="/ceci/ceci-card-nav.html">
    <link rel="import" href="/ceci/ceci-broadcast.html">

    <link rel="import" href="/ceci/ceci-channel-menu.html">

    <!-- This is a list of all known components. Ideally, this is a compiled list of only-the-app components -->
    <link rel="import" href="/component/mozilla-appmaker/component-button/component.html">
    <link rel="import" href="/component/mozilla-appmaker/component-chat-window/component.html">
    <link rel="import" href="/component/mozilla-appmaker/component-counter/component.html">
    <link rel="import" href="/component/mozilla-appmaker/component-fireworks/component.html">
    <link rel="import" href="/component/mozilla-appmaker/component-header/component.html">
    <link rel="import" href="/component/mozilla-appmaker/component-image/component.html">
    <link rel="import" href="/component/mozilla-appmaker/component-spacer/component.html">
    <link rel="import" href="/component/mozilla-appmaker/component-text-input/component.html">
    <link rel="import" href="/component/mozilla-appmaker/component-textbox/component.html">
  </head>
  <body>
    <%- appHTML %>
    <% include remixpane %>
  </body>
</html>
