<!DOCTYPE html>
<html>
  <head>
    <title>Published Flathead Project</title>
    <link rel='stylesheet' href='<%= process.env.ASSET_HOST %>/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300, 400,600' rel='stylesheet' type='text/css'>
    <link rel="component" type="text/ceci" href="<%= process.env.COMPONENTS_BASE_URL %>/package/all">
  </head>
  <body>
    <%- content %>
  </body>
</html>
