<html>
  <head>
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/style.css">
  </head>
  <body>
    <h2><%- gettext("Your Appmaker App is ready!") %></h2>
    <p>Your app has been successfully published, and is hosted for you at <a href="<%- appURL %>"><%- appURL %></a></p>
  </body>
</html>
