<html>
  <head>
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/style.css">
  </head>
  <body>
    <h2>Your Appmaker Remix is ready!</h2>
    <p><a href="<%- appURL %>">Head over to Appmaker now</a> to get started!</p>
  </body>
</html>