<html>
  <head>
    <link rel="stylesheet" href="<%= process.env.ASSET_HOST %>/stylesheets/style.css">
  </head>
  <body>
    <h2><%- gettext("Your Appmaker Remix is ready!") %></h2>
    <p>To start remixing the app you wanted to remix, head over to <a href="<%- appURL %>"><%- appURL %></a>.</p>
  </body>
</html>
