<% layout('layout') -%>

<div id="appmaker-app">
  <div class="ceci-card">
    <app-button>
      <broadcast on="blue"></broadcast>
    </app-button>
    <app-counter>
      <listen on="blue" for="increase"></listen>
      <broadcast on="red"></broadcast>
    </app-counter>
    <app-counter>
      <listen on="red" for="increase"></listen>
    </app-counter>
  </div>
</div>

<script>
  requirejs(["jquery", "ceci-app"], function($, Ceci) {
    var _ = document.createElement("div");
    _.appendChild(document.querySelector("div.ceci-card").cloneNode(true));
    var original = _.innerHTML;
    /*jshint -W051 */
    delete _;

    var app = new Ceci.App({
      container: $('#appmaker-app')[0],
      onComponentAdded: function (component) {
      },
      onload: function (components) {
      },
      onCardChange: function (card) {
      },
      onCardAdded: function (card) {
      }
    });
  });
</script>
