<% layout('layout') -%>

<div style="background: #DDD">
  <app-button>
    <broadcast on="blue">
  </app-button>

  <app-counter>
    <listen on="blue" for="increase">
  </app-counter>
</div>

<script>
  requirejs(["jquery", "ceci"], function($, Ceci) {
    Ceci.load();
  })
</script>
