<form name="componentForm" ng-submit="save()">
  <label for="name">Name:</label>
  <input ng-model="component.name" id="name" required>
  <label for="url">URL:</label>
  <input ng-model="component.url" id="url" required>
  <div class="form-actions">
    <button ng-disabled="componentForm.$invalid">Save</button>
    <button type="button" ng-click="back()">Cancel</button>
    <button type="button" ng-click="remove()" ng-show="component.id">Delete</button>
  </div>
  <notification></notification>
</form>