
<div class="container with-navbar">
  <h1>{{heading}}</h1>
  <form name="componentForm" ng-submit="save()">
    <div class="form-group">
      <label for="name">Name your component</label>
      <input type="text" class="form-control input-hg" ng-model="component.name" id="name" placeholder="Name" required>{{component.name}}
    </div>
    <div class="form-group">
      <label for="name">Enter location of component</label>
      <input type="text" class="form-control input-hg" ng-model="component.url" id="url" placeholder="URL" required>{{component.url}}
    </div>
    <div class="form-actions">
      <button class="btn btn-hg btn-primary mrm" ng-disabled="componentForm.$invalid">Save</button>
      <button class="btn btn-hg btn-danger mrm" type="button" ng-click="back()">Cancel</button>
      <button class="btn btn-hg btn-warning" type="button" ng-click="remove()" ng-show="component.id">Delete</button>
    </div>
    <notification></notification>
  </form>
</div>
