<polymer-element name="ceci-counter" extends="ceci-element" attributes="tapincrement textcolor backgroundcolor fontsize textalign unit increment value startingvalue"
startingvalue="0"
increment="1"
textcolor="#000000"
tapincrement="false"
backgroundcolor="#FFFFFF"
textalign="Center"
fontsize="16">
  <ceci-definition>
    {
      "name": "Counter",
      "thumbnail": "./thumbnail.png",
      "description": "Counts up and down by any increment.",
      "broadcasts": {
        "currentCount": {
          "label": "Current Count",
          "description": "Broadcasts the current count."
        }
      },
      "listeners": {
        "countUp": {
          "description": "Increment the total by the increment value",
          "label": "Count Up",
          "default" : true
        },
        "countDown": {
          "description": "Decrement the total by the increment value",
          "label": "Count Down"
        },
        "resetCount": {
          "description": "Reset the count to the starting count.",
          "label": "Reset to Starting Count"
        },
        "setValue": {
          "description": "Set the counter value to a specific number.",
          "label": "Set Value"
        },
        "setIncrement": {
          "description": "Set the counter increment to a specific number.",
          "label": "Set Increment"
        }
      },
      "attributes": {
        "unit": {
          "description": "Name for items which are being counted.",
          "label": "Unit",
          "editable": "text"
        },
        "increment": {
          "description": "Count up or down with this number.",
          "label": "Increment By",
          "editable": "number",
          "min" : 1
        },
        "tapincrement": {
          "label": "Count up when tapped",
          "description": "Count up when the Counter is tapped or clicked.",
          "editable": "boolean"
        },
        "startingvalue": {
          "description": "The starting count of the counter.",
          "label": "Starting Count",
          "editable": "number",
          "min" : 0
        },
        "textalign": {
          "label": "Text Alignment",
          "description": "Text Alignment",
          "editable": "select",
          "options": {"Left":"Left","Center":"Center","Right": "Right"}
        },
        "fontsize": {
          "label": "Font Size",
          "description": "Font Size",
          "editable": "range",
          "min" : "4",
          "max" : "50"
        },
        "backgroundcolor": {
          "label": "Background Color",
          "description": "Background Color",
          "editable": "color"
        },
        "textcolor": {
          "label": "Text Color",
          "description": "Text Color",
          "editable": "color"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css">
    <div class="counter" on-ceci-pressdown="{{ pressHandler }}" style="background: {{backgroundcolor}}; color: {{textcolor}}; text-align: {{textalign}}; font-size: {{fontsize}}px;">
      <div class="count-wrapper">
        <span class="count">{{value}}</span>
        <span class="count-label">{{displayUnit}}</span>
      </div>
    </div>
    <shadow></shadow>
  </template>
  <tags>starter,math</tags>
    <script>
      Polymer("ceci-counter", {
        ready: function() {
          this.increment = Number(this.increment) || 1;
          this.startingvalue = Number(this.startingvalue) || 0;
          this.value = Number(this.value) || 0;
          this.super();
          this.displayUnit = this.unit;
          this.updateUnit();
        },
        value: 0,
        increment: 1,
        unit: 'Sprocket',
        incrementChanged: function(oldValue, newValue) {
          this.increment = Number(this.increment) || 0;
          console.log("new increment " + this.increment);
        },
        startingvalueChanged : function(){
          this.value = this.startingvalue;
        },
        pressHandler : function(){
          if(this.tapincrement === "true") {
            this.countUp();
          }
        },
        updateUnit : function(){
          if (this.unit) {
            var unit = this.unit.trim();
            if (unit.length > 0) {

              var pluralChar = "";
              if((Number(this.value) !== 1) && (unit[unit.length - 1] !== 's')){
                pluralChar = "s";
              }

              if(unit[unit.length - 1] === unit[unit.length - 1].toUpperCase()) {
                pluralChar = pluralChar.toUpperCase()
              }
              this.displayUnit = " " + unit + pluralChar;
            }
          } else {
            this.displayUnit = "";
          }
        },
        unitChanged: function() {
          this.updateUnit();
        },
        valueChanged: function() {
          this.broadcast("currentCount", this.value);
          this.updateUnit();
        },
        setIncrement : function(value){
          this.increment = value;
        },
        setValue : function(value){
          this.value = value;
        },
        countUp: function() {
          this.value = Number(this.value) + Number(this.increment, 10);
        },
        countDown: function() {
          this.value = Number(this.value) - Number(this.increment, 10);
        },
        resetCount: function() {
          this.value = this.startingvalue;
        }
      });
    </script>
</polymer-element>
