:host {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:host .output-channel {
  padding: 5px 10px;
  background: #999;
  margin: 0 3px;
  display: block;
  border: solid 2px #555;
}

:host .beats {
  display: inline-block;
}

:host .next-up {
  background: white;
  border: solid 2px white;
  font-weight: bold;
}

:host #channels {
  display: inline-block;
  position: relative;
}



:host .channel {
  overflow: auto;
  margin-bottom: 4px;
}

:host .channel:last-child {
  margin-bottom: 0;
}

:host .channel .beat,
:host .channel .label
{
  display:block;
  float: left;
}

:host .channel .label:after {
  content: "1";
}

:host .channel .beat {
  background: #DDD;
  margin: 0;
  height: 40px;
  width: 68px;
  opacity: .2;
  margin: 0 4px 0px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;
}

:host .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0;
}

:host .channel .beat:last-child {
  margin-right: 0px;
}

:host .channel .beat:hover {
  opacity: .8;
}

:host [data-beat="0"] .beat:first-child,
:host [data-beat="1"] .beat:nth-child(2),
:host [data-beat="2"] .beat:nth-child(3),
:host [data-beat="3"] .beat:nth-child(4)
{
  opacity: .25;
}

:host [data-beat="0"] .beat.on:first-child,
:host [data-beat="1"] .beat.on:nth-child(2),
:host [data-beat="2"] .beat.on:nth-child(3),
:host [data-beat="3"] .beat.on:nth-child(4)
{
  opacity: 1;
}


:host .indicator.top {
  top: -8px;
}

:host .indicator {
  position: absolute;
  width: 68px;
  height: 5px;
  background: white;
  opacity: .4;
  -webkit-transform: scaleX(.2);
  -webkit-transform-origin: center;
  -moz-transform: scaleX(.2);
  -moz-transform-origin: center;
}

:host .indicator.bottom {
  bottom: -8px;
}

:host [data-beat="0"] .indicator { left: 0px; }
:host [data-beat="1"] .indicator { left: 72px; }
:host [data-beat="2"] .indicator { left: 144px; }
:host [data-beat="3"] .indicator { left: 216px; }

:host .channel .beat.on {
  opacity: 1;
}

[data-color*="yellow"] .beat {
  background: rgba(229,210,0,1);
}

[data-color*="blue"] .beat {
  background: rgba(53,140,206,1);
}

[data-color*="red"] .beat {
  background: rgba(232,30,20,1);
}

[data-color*="pink"] .beat {
  background: rgba(255,84,167,1);
}

[data-color*="purple"] .beat {
  background: rgba(159,39,207,1);
}

[data-color*="green"] .beat {
  background: rgba(113,184,6,1);
}

[data-color*="orange"] .beat {
  background: rgba(255,123,0,1);
}

:host .box {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
  display: block;
}
:host .row {
  display: block;
  width: 100%;
  padding-bottom: .5em;
}
  
:host .push {
  position: relative;
  text-align: center;
  vertical-align: baseline;
  font-size: 18px;
  display: inline-block;
  border-radius: 5px;
  min-height: 4em;
  margin-right: 4%;
}

:host .push:last-child {
  margin-right: 0;
}
:host .label {
  display: inline;
  position: absolute;
  top: 50%;
  height: 1.2em;
  margin-top: -.6em;
  left: 0;
  right: 0;
  text-align: center;
}



.animation-target {
  -webkit-animation: animation 1000ms linear both;
  animation: animation 1000ms linear both;
}

/* Generated with Bounce.js. Edit at http://bouncejs.com/#{s:[{T:%22c%22,e:%22s%22,d:1000,D:0,f:{x:1,y:1},t:{x:2,y:2},s:1,b:4}]} */

@-webkit-keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.666667% { -webkit-transform: matrix3d(1.18318, 0, 0, 0, 0, 1.18318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.18318, 0, 0, 0, 0, 1.18318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(1.31571, 0, 0, 0, 0, 1.31571, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.31571, 0, 0, 0, 0, 1.31571, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5% { -webkit-transform: matrix3d(1.40196, 0, 0, 0, 0, 1.40196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.40196, 0, 0, 0, 0, 1.40196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(1.44775, 0, 0, 0, 0, 1.44775, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.44775, 0, 0, 0, 0, 1.44775, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.333333% { -webkit-transform: matrix3d(1.4597, 0, 0, 0, 0, 1.4597, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.4597, 0, 0, 0, 0, 1.4597, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(1.44478, 0, 0, 0, 0, 1.44478, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.44478, 0, 0, 0, 0, 1.44478, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.666667% { -webkit-transform: matrix3d(1.40977, 0, 0, 0, 0, 1.40977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.40977, 0, 0, 0, 0, 1.40977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(1.36102, 0, 0, 0, 0, 1.36102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.36102, 0, 0, 0, 0, 1.36102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15% { -webkit-transform: matrix3d(1.30417, 0, 0, 0, 0, 1.30417, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.30417, 0, 0, 0, 0, 1.30417, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.333333% { -webkit-transform: matrix3d(1.18448, 0, 0, 0, 0, 1.18448, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.18448, 0, 0, 0, 0, 1.18448, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(1.12856, 0, 0, 0, 0, 1.12856, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.12856, 0, 0, 0, 0, 1.12856, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.666667% { -webkit-transform: matrix3d(1.07837, 0, 0, 0, 0, 1.07837, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.07837, 0, 0, 0, 0, 1.07837, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(1.0353, 0, 0, 0, 0, 1.0353, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0353, 0, 0, 0, 0, 1.0353, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.9726, 0, 0, 0, 0, 0.9726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9726, 0, 0, 0, 0, 0.9726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.333333% { -webkit-transform: matrix3d(0.95278, 0, 0, 0, 0, 0.95278, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.95278, 0, 0, 0, 0, 0.95278, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(0.93988, 0, 0, 0, 0, 0.93988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93988, 0, 0, 0, 0, 0.93988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.666667% { -webkit-transform: matrix3d(0.93303, 0, 0, 0, 0, 0.93303, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93303, 0, 0, 0, 0, 0.93303, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(0.93124, 0, 0, 0, 0, 0.93124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93124, 0, 0, 0, 0, 0.93124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35% { -webkit-transform: matrix3d(0.93348, 0, 0, 0, 0, 0.93348, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93348, 0, 0, 0, 0, 0.93348, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(0.93871, 0, 0, 0, 0, 0.93871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93871, 0, 0, 0, 0, 0.93871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.333333% { -webkit-transform: matrix3d(0.946, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.946, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.95451, 0, 0, 0, 0, 0.95451, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.95451, 0, 0, 0, 0, 0.95451, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.666667% { -webkit-transform: matrix3d(0.9635, 0, 0, 0, 0, 0.9635, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9635, 0, 0, 0, 0, 0.9635, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.97241, 0, 0, 0, 0, 0.97241, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97241, 0, 0, 0, 0, 0.97241, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45% { -webkit-transform: matrix3d(0.98077, 0, 0, 0, 0, 0.98077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98077, 0, 0, 0, 0, 0.98077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.98828, 0, 0, 0, 0, 0.98828, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98828, 0, 0, 0, 0, 0.98828, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  48.333333% { -webkit-transform: matrix3d(0.99472, 0, 0, 0, 0, 0.99472, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99472, 0, 0, 0, 0, 0.99472, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.666667% { -webkit-transform: matrix3d(1.0041, 0, 0, 0, 0, 1.0041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0041, 0, 0, 0, 0, 1.0041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.00706, 0, 0, 0, 0, 1.00706, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00706, 0, 0, 0, 0, 1.00706, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  55% { -webkit-transform: matrix3d(1.00899, 0, 0, 0, 0, 1.00899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00899, 0, 0, 0, 0, 1.00899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(1.01002, 0, 0, 0, 0, 1.01002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01002, 0, 0, 0, 0, 1.01002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.333333% { -webkit-transform: matrix3d(1.01028, 0, 0, 0, 0, 1.01028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01028, 0, 0, 0, 0, 1.01028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.00995, 0, 0, 0, 0, 1.00995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00995, 0, 0, 0, 0, 1.00995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.666667% { -webkit-transform: matrix3d(1.00917, 0, 0, 0, 0, 1.00917, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00917, 0, 0, 0, 0, 1.00917, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1.00808, 0, 0, 0, 0, 1.00808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00808, 0, 0, 0, 0, 1.00808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  65% { -webkit-transform: matrix3d(1.0068, 0, 0, 0, 0, 1.0068, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0068, 0, 0, 0, 0, 1.0068, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1.00546, 0, 0, 0, 0, 1.00546, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00546, 0, 0, 0, 0, 1.00546, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.333333% { -webkit-transform: matrix3d(1.00413, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00413, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.666667% { -webkit-transform: matrix3d(1.00175, 0, 0, 0, 0, 1.00175, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00175, 0, 0, 0, 0, 1.00175, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(1.00079, 0, 0, 0, 0, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00079, 0, 0, 0, 0, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(0.99939, 0, 0, 0, 0, 0.99939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99939, 0, 0, 0, 0, 0.99939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.333333% { -webkit-transform: matrix3d(0.99894, 0, 0, 0, 0, 0.99894, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99894, 0, 0, 0, 0, 0.99894, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.99866, 0, 0, 0, 0, 0.99866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99866, 0, 0, 0, 0, 0.99866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.666667% { -webkit-transform: matrix3d(0.9985, 0, 0, 0, 0, 0.9985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9985, 0, 0, 0, 0, 0.9985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85% { -webkit-transform: matrix3d(0.99851, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99851, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(0.99863, 0, 0, 0, 0, 0.99863, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99863, 0, 0, 0, 0, 0.99863, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.333333% { -webkit-transform: matrix3d(0.99879, 0, 0, 0, 0, 0.99879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99879, 0, 0, 0, 0, 0.99879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(0.99898, 0, 0, 0, 0, 0.99898, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99898, 0, 0, 0, 0, 0.99898, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.666667% { -webkit-transform: matrix3d(0.99918, 0, 0, 0, 0, 0.99918, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99918, 0, 0, 0, 0, 0.99918, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(0.99938, 0, 0, 0, 0, 0.99938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99938, 0, 0, 0, 0, 0.99938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95% { -webkit-transform: matrix3d(0.99957, 0, 0, 0, 0, 0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99957, 0, 0, 0, 0, 0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(0.99974, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99974, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  98.333333% { -webkit-transform: matrix3d(0.99988, 0, 0, 0, 0, 0.99988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99988, 0, 0, 0, 0, 0.99988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

@keyframes animation { 
  0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  1.666667% { -webkit-transform: matrix3d(1.18318, 0, 0, 0, 0, 1.18318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.18318, 0, 0, 0, 0, 1.18318, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  3.333333% { -webkit-transform: matrix3d(1.31571, 0, 0, 0, 0, 1.31571, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.31571, 0, 0, 0, 0, 1.31571, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  5% { -webkit-transform: matrix3d(1.40196, 0, 0, 0, 0, 1.40196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.40196, 0, 0, 0, 0, 1.40196, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  6.666667% { -webkit-transform: matrix3d(1.44775, 0, 0, 0, 0, 1.44775, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.44775, 0, 0, 0, 0, 1.44775, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.333333% { -webkit-transform: matrix3d(1.4597, 0, 0, 0, 0, 1.4597, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.4597, 0, 0, 0, 0, 1.4597, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  10% { -webkit-transform: matrix3d(1.44478, 0, 0, 0, 0, 1.44478, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.44478, 0, 0, 0, 0, 1.44478, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.666667% { -webkit-transform: matrix3d(1.40977, 0, 0, 0, 0, 1.40977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.40977, 0, 0, 0, 0, 1.40977, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  13.333333% { -webkit-transform: matrix3d(1.36102, 0, 0, 0, 0, 1.36102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.36102, 0, 0, 0, 0, 1.36102, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  15% { -webkit-transform: matrix3d(1.30417, 0, 0, 0, 0, 1.30417, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.30417, 0, 0, 0, 0, 1.30417, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  16.666667% { -webkit-transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.24402, 0, 0, 0, 0, 1.24402, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.333333% { -webkit-transform: matrix3d(1.18448, 0, 0, 0, 0, 1.18448, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.18448, 0, 0, 0, 0, 1.18448, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20% { -webkit-transform: matrix3d(1.12856, 0, 0, 0, 0, 1.12856, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.12856, 0, 0, 0, 0, 1.12856, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  21.666667% { -webkit-transform: matrix3d(1.07837, 0, 0, 0, 0, 1.07837, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.07837, 0, 0, 0, 0, 1.07837, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  23.333333% { -webkit-transform: matrix3d(1.0353, 0, 0, 0, 0, 1.0353, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0353, 0, 0, 0, 0, 1.0353, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  25% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  26.666667% { -webkit-transform: matrix3d(0.9726, 0, 0, 0, 0, 0.9726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9726, 0, 0, 0, 0, 0.9726, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  28.333333% { -webkit-transform: matrix3d(0.95278, 0, 0, 0, 0, 0.95278, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.95278, 0, 0, 0, 0, 0.95278, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  30% { -webkit-transform: matrix3d(0.93988, 0, 0, 0, 0, 0.93988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93988, 0, 0, 0, 0, 0.93988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  31.666667% { -webkit-transform: matrix3d(0.93303, 0, 0, 0, 0, 0.93303, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93303, 0, 0, 0, 0, 0.93303, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.333333% { -webkit-transform: matrix3d(0.93124, 0, 0, 0, 0, 0.93124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93124, 0, 0, 0, 0, 0.93124, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35% { -webkit-transform: matrix3d(0.93348, 0, 0, 0, 0, 0.93348, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93348, 0, 0, 0, 0, 0.93348, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  36.666667% { -webkit-transform: matrix3d(0.93871, 0, 0, 0, 0, 0.93871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.93871, 0, 0, 0, 0, 0.93871, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  38.333333% { -webkit-transform: matrix3d(0.946, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.946, 0, 0, 0, 0, 0.946, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  40% { -webkit-transform: matrix3d(0.95451, 0, 0, 0, 0, 0.95451, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.95451, 0, 0, 0, 0, 0.95451, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.666667% { -webkit-transform: matrix3d(0.9635, 0, 0, 0, 0, 0.9635, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9635, 0, 0, 0, 0, 0.9635, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  43.333333% { -webkit-transform: matrix3d(0.97241, 0, 0, 0, 0, 0.97241, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.97241, 0, 0, 0, 0, 0.97241, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45% { -webkit-transform: matrix3d(0.98077, 0, 0, 0, 0, 0.98077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98077, 0, 0, 0, 0, 0.98077, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  46.666667% { -webkit-transform: matrix3d(0.98828, 0, 0, 0, 0, 0.98828, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.98828, 0, 0, 0, 0, 0.98828, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  48.333333% { -webkit-transform: matrix3d(0.99472, 0, 0, 0, 0, 0.99472, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99472, 0, 0, 0, 0, 0.99472, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  50% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  51.666667% { -webkit-transform: matrix3d(1.0041, 0, 0, 0, 0, 1.0041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0041, 0, 0, 0, 0, 1.0041, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  53.333333% { -webkit-transform: matrix3d(1.00706, 0, 0, 0, 0, 1.00706, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00706, 0, 0, 0, 0, 1.00706, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  55% { -webkit-transform: matrix3d(1.00899, 0, 0, 0, 0, 1.00899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00899, 0, 0, 0, 0, 1.00899, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  56.666667% { -webkit-transform: matrix3d(1.01002, 0, 0, 0, 0, 1.01002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01002, 0, 0, 0, 0, 1.01002, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.333333% { -webkit-transform: matrix3d(1.01028, 0, 0, 0, 0, 1.01028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.01028, 0, 0, 0, 0, 1.01028, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  60% { -webkit-transform: matrix3d(1.00995, 0, 0, 0, 0, 1.00995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00995, 0, 0, 0, 0, 1.00995, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  61.666667% { -webkit-transform: matrix3d(1.00917, 0, 0, 0, 0, 1.00917, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00917, 0, 0, 0, 0, 1.00917, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.333333% { -webkit-transform: matrix3d(1.00808, 0, 0, 0, 0, 1.00808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00808, 0, 0, 0, 0, 1.00808, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  65% { -webkit-transform: matrix3d(1.0068, 0, 0, 0, 0, 1.0068, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.0068, 0, 0, 0, 0, 1.0068, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  66.666667% { -webkit-transform: matrix3d(1.00546, 0, 0, 0, 0, 1.00546, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00546, 0, 0, 0, 0, 1.00546, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  68.333333% { -webkit-transform: matrix3d(1.00413, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00413, 0, 0, 0, 0, 1.00413, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  70% { -webkit-transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00288, 0, 0, 0, 0, 1.00288, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  71.666667% { -webkit-transform: matrix3d(1.00175, 0, 0, 0, 0, 1.00175, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00175, 0, 0, 0, 0, 1.00175, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  73.333333% { -webkit-transform: matrix3d(1.00079, 0, 0, 0, 0, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1.00079, 0, 0, 0, 0, 1.00079, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  75% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  76.666667% { -webkit-transform: matrix3d(0.99939, 0, 0, 0, 0, 0.99939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99939, 0, 0, 0, 0, 0.99939, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  78.333333% { -webkit-transform: matrix3d(0.99894, 0, 0, 0, 0, 0.99894, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99894, 0, 0, 0, 0, 0.99894, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  80% { -webkit-transform: matrix3d(0.99866, 0, 0, 0, 0, 0.99866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99866, 0, 0, 0, 0, 0.99866, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  81.666667% { -webkit-transform: matrix3d(0.9985, 0, 0, 0, 0, 0.9985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.9985, 0, 0, 0, 0, 0.9985, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.333333% { -webkit-transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99846, 0, 0, 0, 0, 0.99846, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85% { -webkit-transform: matrix3d(0.99851, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99851, 0, 0, 0, 0, 0.99851, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  86.666667% { -webkit-transform: matrix3d(0.99863, 0, 0, 0, 0, 0.99863, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99863, 0, 0, 0, 0, 0.99863, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  88.333333% { -webkit-transform: matrix3d(0.99879, 0, 0, 0, 0, 0.99879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99879, 0, 0, 0, 0, 0.99879, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  90% { -webkit-transform: matrix3d(0.99898, 0, 0, 0, 0, 0.99898, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99898, 0, 0, 0, 0, 0.99898, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  91.666667% { -webkit-transform: matrix3d(0.99918, 0, 0, 0, 0, 0.99918, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99918, 0, 0, 0, 0, 0.99918, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  93.333333% { -webkit-transform: matrix3d(0.99938, 0, 0, 0, 0, 0.99938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99938, 0, 0, 0, 0, 0.99938, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  95% { -webkit-transform: matrix3d(0.99957, 0, 0, 0, 0, 0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99957, 0, 0, 0, 0, 0.99957, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  96.666667% { -webkit-transform: matrix3d(0.99974, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99974, 0, 0, 0, 0, 0.99974, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  98.333333% { -webkit-transform: matrix3d(0.99988, 0, 0, 0, 0, 0.99988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.99988, 0, 0, 0, 0, 0.99988, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}

