<div id="appmaker-app">
  <div class="ceci-card" id="ceci-card-1">
    <div class="fixed-top">
      <app-counter id="app-counter-1">
        <listen on="orange" for="countUp"></listen>
      </app-counter>
    </div>
    <div class="phone-canvas">
      <app-fireworks id="app-fireworks-1">
        <listen on="orange" for="shootRocket"></listen>
      </app-fireworks>
    </div>
    <div class="fixed-bottom">
      <app-button id="app-button-1" buttonlabel="Click Me">
        <broadcast on="orange" from="click"></broadcast>
        <broadcast on="blue" from="mouseDown"></broadcast>
        <broadcast on="green" from="mouseUp"></broadcast>
      </app-button>
    </div>
  </div>
</div>
