@import "variables.less";
@import "mixins.less";

.channel-menu-wrapper.broadcast {
  position: absolute;
  left: ~"calc(100% + 12px)";
  top: 0;
  height: 100%
}

 .channel-menu-wrapper.listen {
  position: absolute;
  right: ~"calc(100% + 12px)";
  top: 0px;
  height: 100%
}

.hover-helper {
  width: 30px;
  height: 30px;  opacity: 1;
  color: white;
  background: url(/images/menu-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 54px;
  position: absolute;
  opacity: .15;
  top: ~"calc(50% - 15px)";
  cursor: pointer;

  &:hover {
    opacity: .25;
  }

}

.open .hover-helper {
  opacity: .25;
}

.broadcast .hover-helper {
  left: 0px;
}
.listen .hover-helper {
  right: 0px;
}

.open .channel-menu {
  display: block;
}

/*Arrow Container*/

.arrow-container {
  height: 40px;
  position: absolute;
  top: ~"calc(50% - 20px)";
  overflow: hidden;
  width: 12px;

  .arrow {
    height: 15px;
    width: 15px;
    background: white;
    position: absolute;
    top: ~"calc(50% - 10px)";
    border: solid 4px #BBB;
    -webkit-transform-origin: center;
    -webkit-transform: rotate(45deg);
    transform-origin: center;
    transform: rotate(45deg);
  }

}

.broadcast-menu {
  .arrow-container {
    left: -12px;
    .arrow {
      left: 6px;
    }
  }
}

.listen-menu {
  .arrow-container {
    right: -12px;
    .arrow {
      right: 6px;
    }
  }
}

.channel-menu {
  padding: 4px 4px 5px 4px;
  position: absolute;
  display: none;
  top: 50%;
  .border-radius(6px);
  border: solid 1px #BBB;
  background: -webkit-linear-gradient(top, #FFF, #FFF 70%, #EEE);
  background: -moz-linear-gradient(top, #FFF, #FFF 70%, #EEE);
  z-index: 999999;
  border: solid 4px rgba(0,0,0,.20);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;

  &.picking-colors {
    width: 200px;
  }

  .option-template {
    display: none;
  }

  label span {
      white-space: nowrap;
  }

  &.listen-menu {
    right: 40px;

    .chosen-color {
      right: 5px;
    }

    label {
      text-align: right;
      padding: 5px 28px 5px 6px;
    }

  }

  &.broadcast-menu {
    left: 40px;

    label {
      text-align: left;
    }

    .chosen-color {
       left: 5px;
     }

     label {
       padding: 5px 6px  5px 28px;
     }
  }

  label .chosen-color {
    display: block;
    color: rgba(255,255,255,1);
    padding: 0px 6px 1px 6px;
    position: absolute;
    top: 5px;
    .border-radius(20px);

    &:hover {
      text-decoration: none;
    }
  }

  &.subscription-option.disabled-subscription label {
    color: #999;
  }

  .subscription-option {
    .border-radius(2px);
    position: relative;
  }

  label {
    color: #555;
    display: block;
    font-size: 1.3rem;
    .border-radius(5px);

    cursor: pointer;

    &:hover {
      background: rgba(0,0,0,.05);
    }

    &:active {
      background: #F7F7F7;
      border-bottom: none;
      border-top: solid 1px #DDD;
    }

  }

  .color-row {
    float: left;
  }

  .color-ui {
    .border-radius(3px);
    display: none;
    text-align: left;
    padding: 3px 5px 2px 5px;
    cursor: default;
    overflow: auto;

    h3 {
      font-size: 13px;
      padding: 0 0 3px 0;
      margin: 0 0 6px 0;
      font-weight: normal;
      color: #999;
      position: relative;
      top: -1px;
      text-align: center;
      border-bottom: solid 2px #EFEFEF;
      max-width: 200px;

      strong {
        color: #666;
        font-size: inherit;
      }
    }

    .color {
      margin: 0 2px 2px 0px;
      color: rgba(255,255,255,.75);
      cursor: pointer;
      position: relative;
      overflow:hidden;
      padding: 0px 6px 1px 6px;
      opacity: .4;
      font-size: 1.3rem;
      .border-radius(20px);

      &:hover {
        opacity: 1;
        text-decoration: none;
      }

      &[data-color=false] {
        padding: 9px 7px 10px 7px;
        color: #777;
        margin-left: 5px;
        position: relative;
        top: 11px;
        border-top: solid 1px #CCC;
        .border-radius(20px);
      }

    }
  }

/*  These are the selected color labels in the menu*/

  .channel-option .chosen-color[data-color=false]:after {
    content: "X";
    color:#999;
  }

  .channel-option .chosen-color:after {
    position: relative;
    content: "1";
    z-index: 999;
  }

  .channel-option [data-color*=two]:after {
    position: relative;
    content: "2";
    z-index: 999;
  }

  .channel-option [data-color*=three]:after {
    position: relative;
    content: "3";
    z-index: 999;
  }

  .channel-option {
    [data-color*=blue] {
      background: @channel-blue;
    }
    [data-color*=red] {
      background: @channel-red;
    }
    [data-color*=pink] {
      background: @channel-pink;
    }
    [data-color*=purple] {
      background: @channel-purple;
    }
    [data-color*=green] {
      background: @channel-green;
    }
    [data-color*=orange] {
      background: @channel-orange;
    }
    [data-color*=yellow] {
      background: @channel-yellow;
    }
    [data-color='false'] {
      background-color: #DDD;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

}

.broadcast-menu .color-ui {
  .haslistener {
    -webkit-animation: strobe .3s linear infinite;
    animation: strobe .3s linear infinite;
  }
  .hasbroadcast,
  .hasbroadcast.haslistener {
    -webkit-animation: none;
    animation: none;
    opacity: 1;
  }
}

.listen-menu .color-ui {
  .hasbroadcast {
    -webkit-animation: strobe .25s linear infinite;
    animation: strobe .25s linear infinite;
  }
  .haslistener,
  .hasbroadcast.haslistener {
    -webkit-animation: none;
    animation: none;
    opacity: 1;
  }
}

@-webkit-keyframes strobe {
  0% { -webkit-transform: scale(1); }
  50% { -webkit-transform: scale(.8);}
  100% { -webkit-transform: scale(1); }
}
@keyframes strobe {
  0% { transform: scale(1); }
  50% { transform: scale(.8);}
  100% { transform: scale(1); }
}
