/* Styles for the card tabs */

.cards {
  padding-top: 20px;
  text-align: left;
  width: calc(100% - 550px);
  margin: 0 auto;
  position: relative;
  left: -10px;
  display: inline-block;
}

.cards .add-card {
  color: white;
  display: inline-block;
  background: rgb(77, 178, 39);
  font-weight: bold;
  width: 30px;
  background-image: url(../images/add.png);
  background-position: center;
  background-repeat: no-repeat;
}

.cards .add-card:hover {
  background-color: #84c147;
}

.card-list {
  display: inline-block;
  float: left;
}

.cards button {
  display: inline-block;
}

.card,
.add-card {
  margin-right: 5px;
  font-size: 1.6rem;
  text-align: center;
  cursor: pointer;
  color: #888;
  display: inline-block;
  float: left;
  background: #444;
  color: #999;
  border-radius: 2px 2px 0 0;
  position: relative;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
}

.card .delete-card {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 5px;
  top: 7px;
  opacity: .4;
  background: url(../images/page-tab-x.png) center no-repeat;
  background-size: 12px;
  border-radius: 2px;
  display: none;
}

.card.selected:only-child {
  padding: 0px 10px 0px 10px;
}

.card.selected:only-child .delete-card {
  display: none;
}

.card .delete-card:hover {
  background: url(../images/page-tab-x.png) center no-repeat;
  background-size: 12px;
  background-color: #DDD;
  opacity: .8;
}

.card:hover {
  background: #666;
  color: #BBB;
}

.card.selected {
  color: #666;
  background-position: left center;
  background: #FFF;
  padding: 0px 30px 0px 10px;
}

.card.selected .delete-card {
  display: block;
}