body {
  background-color: #222;
}

.install-container {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Lucida Grande';
}

.install-container p {
  color: rgb(174, 177, 181);
  font-size: 20px;
  line-height: 140%;
}

.install-container h1 {
  color: #ec6334;
}

.install-container img {
  height: 10em;
  float: left;
  margin-right: 2em;
}

.install-container a {
  color: rgb(53, 140, 206);
  text-decoration: none;
}

button#install {
  font-family: 'Source Sans Pro', arial;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  height: 80px;
  border-radius: 3px;
  font-size: 24px;
  background-color: #358CCE;
  color: #FFF;
  margin: 40px 0px;
}

button#install:hover {
  background-color: #3999e3;
}

button#install:active {
  background-color: #2a70a6;
}
