.install-spinner {
  background-image: url(../images/icon_gear.png);
  height: 20px;
  width: 20px;
  background-size: 20px auto;
  background-position: center center;
  background-repeat: no-repeat;
  vertical-align: middle;
  right: -25px;
  top:2px;
  display: none;
  position: absolute;
}

.install-spinner.spinning {
  -moz-animation: linear 2s gearspin;
  -moz-animation-iteration-count: infinite;
}

@-moz-keyframes gearspin {
  0% { -moz-transform: rotate(0deg)}
  100% { -moz-transform: rotate(360deg)}
}

@-webkit-keyframes gearspin {
  0%    { -webkit-transform: rotate(0deg)}
  100%  { -webkit-transform: rotate(360deg)}
}
