.install-app {
  margin: 0 auto;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.page-wrapper {
  background: white;
  width: 310px;
  margin: 0 auto;
  padding: 20px 15px 20px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 15px;
  text-align: center;
}

.page-wrapper ul {
  list-style-type: none;
}

p {
  color: #999;
  line-height: 140%;
}

@media (max-width: 310px)  {
  html {
    background: black;
  }
}

@media all and (min-width: 601px)  {
  .install-app {
    background: black;
    padding-top: 40px;
    background: url(/images/background.gif);
    background-size: 100px;
  }

  .page-wrapper {
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,.2);
  }
}
