body {
  background-color: #222;
}

body {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Lucida Grande';
}

p {
  color: rgb(174, 177, 181);
  font-size: 20px;
  line-height: 140%;
}

h1 {
  color: #ec6334;
}

.app-details {
  text-align: center;
}

.app-title {
  font-weight: bold;
}

.install-container img {
  height: 10em;
  float: left;
  margin-right: 2em;
}

a {
  color: rgb(53, 140, 206);
  text-decoration: none;
}

button {
  font-family: 'Source Sans Pro', arial;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  height: 80px;
  border-radius: 3px;
  font-size: 24px;
  background-color: #358CCE;
  color: #FFF;
  margin: 20px 0px;
  cursor: pointer;
}

button:hover {
  background-color: #3999e3;
}

button:active {
  background-color: #2a70a6;
}

#qrcode {
  margin: 0 auto;
  width: 256px;
  border: 20px solid white;
}
