body {
  background-color: #222;
}

.install-container {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Lucida Grande';
}

.install-container p {
  color: rgb(174, 177, 181);
  font-size: 20px;
  line-height: 140%;
}

.install-container h1 {
  color: #ec6334;
}

.install-container img {
  height: 10em;
  float: left;
  margin-right: 2em;
}

.install-container a {
  color: rgb(53, 140, 206);
  text-decoration: none;
}

.install-spinner {
  background-image: url(../images/icon_gear.png);
  height: 24px;
  width: 24px;
  background-size: 16px auto;
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  vertical-align: middle;
  margin-left: 4px;
}

.install-spinner.spinning {
  display: inline-block;
  -moz-animation: linear 2s gearspin;
  -moz-animation-iteration-count: infinite;
}

@-moz-keyframes gearspin {
  0% { -moz-transform: rotate(0deg)}
  100% { -moz-transform: rotate(360deg)}
}

@-webkit-keyframes gearspin {
  0%    { -webkit-transform: rotate(0deg)}
  100%  { -webkit-transform: rotate(360deg)}
}

button#install {
  font-family: 'Source Sans Pro', arial;
  width: 100%;
  -webkit-appearance: none;
  border: none;
  height: 80px;
  border-radius: 3px;
  font-size: 24px;
  background-color: #358CCE;
  color: #FFF;
  margin: 40px 0px;
}

button#install:hover {
  background-color: #3999e3;
}

button#install:active {
  background-color: #2a70a6;
}

#qrcode-container {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Lucida Grande';
}

#qrcode-container p {
  color: rgb(174, 177, 181);
  font-size: 20px;
  line-height: 140%;
}

#qrcode-container h1 {
  color: #ec6334;
}

#qrcode-container a {
  color: rgb(53, 140, 206);
  text-decoration: none;
}

#qrcode {
  margin: 0 auto;
  width: 256px;
  border: 20px solid white;
}