body {
  background-color: #222;
}

body {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Lucida Grande';
}

p {
  color: rgb(174, 177, 181);
  font-size: 20px;
  line-height: 140%;
}

h1 {
  color: #ec6334;
}

.app-details {
  text-align: center;
  margin: 0;
}

.app-title {
  font-weight: bold;
}

.install-container img {
  height: 10em;
  float: left;
  margin-right: 2em;
}

a {
  color: rgb(53, 140, 206);
  text-decoration: none;
}

.hidden {
  display: none;
}

input {
  border: 3px solid #0f1113;
  outline: none;
  text-indent: 10px;
  box-sizing: border-box;
  -moz-box-sizing:border-box; /* Firefox */
  margin-top: 10px;
  border: 3px solid #0F1113;
  outline: medium none;
}

input,
button {
  font-family: 'Source Sans Pro', arial;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 50px;
  font-size: 18px;
}

button {
  margin-top: 6px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #358CCE;
  color: #FFF;
  border: none;
}

button:hover {
  background-color: #3999e3;
}

button:active {
  background-color: #2a70a6;
}

#qrcode {
  margin: 0 auto;
  width: 256px;
  border: 20px solid white;
}
