.game-status {
  z-index: 100000;
  position: fixed;
  bottom: 0px;
  width: 100%;
  border-top: solid 2px rgba(0,0,0,.4);
}

.game-status .level-finished,
.game-status .level-intro,
.game-status .level-status {
  display: none;
}

.game-status .wrapper {
  padding: 10px;
  background: white;
  width: auto;
  height: auto;
  position: relative;
}

/* Level Intro */
/* Comes up before each level */

.game-status .level-intro .mailman-head {
  position: absolute;
  top: -20px;
  left: -20px;
  height: 120px;
  width: 120px;
  background: white;
  background: url(../images/mailman-head.png);
  background-size: 120px;
  -webkit-transform: rotate(-5deg);
}

.game-status .level-intro h1.level-number {
  margin-bottom: 0px;
  font-weight: normal;
}

.game-status .level-intro h1.level-name {
  font-weight: bold;
}
.game-status .level-intro h2 {
  margin-bottom: 5px;
  font-size: 1.8rem;
}

.game-status .level-intro .goal-step {
  padding: 10px;
  background: #EEE;
  display: block;
  font-size: 1.8rem;
  border: solid 1px #DDD;
}

/*Level Status*/

.game-status .level-status {
  padding-left: 60px;
}

.game-status .level-status .level-number {
  font-weight: bold;
}

.game-status .level-status .show-hints {
  background: no-repeat url(../images/mailman-head-question.png?1);
  background-size: 50px;
  background-position: center left;
  height: 55px;
  width: 60px;
  position: absolute;
  left: 5px;
  top: 0px;
  margin-top: 0px;
}

.game-status .level-status .hint {
  display: none;
  position: absolute;
  bottom: 100px;
  left: 20px;
  background: white;
  padding: 15px;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  -webkit-border-radius: 5px;
}

.game-status .level-status .show-hint {
  -webkit-animation-name: show-hint;
  -webkit-transform-origin: bottom left;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: .2s;
}

@-webkit-keyframes show-hint {
	0% {-webkit-transform: scale(0) ; }
  90% {-webkit-transform: scale(1.1);}
	100% {-webkit-transform: rotate(0deg); }
}


.game-status .level-status .hint .arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  width: 0; 
  height: 0; 
  bottom: -18px;
  border-left: 1px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
}

.game-status .level-status .hint p {
  padding: 0;
  margin: 0;
}

.game-status * {
  color: #333;
  font-size: 15px;
}

.game-status a.start {
  display: none;
}

.game-status .show-hints {
  color: #1a68c2;
  margin-top: 10px;
}

.game-status.big .show-hints {
  display: none;

}

.game-status.big {
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.8);
  position : absolute;
  text-align: center;
  left: auto;
  top: 0px;
  margin: 0 auto 0 auto;
}

.game-status .level-intro.wrapper,
.game-status .level-finished.wrapper {
  background: white;
  margin: 100px auto 0 auto;
  width :400px;
  padding: 50px 50px 50px 50px;
  opacity: 1;
}

.game-status.big h1 {
  font-size: 35px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.game-status .hint-step  {
  display: none;
}

.game-status.big a.start,
.game-status .next-level {
  color: white;
  font-size: 20px;
  display: inline-block;
  background: #4DB227;
  border-bottom: solid 2px #3b901b;
  -webkit-border-radius: 5px;
  text-shadow: 0px -1px 0px #3b901b;
  padding: 10px 55px;
  margin-top: 45px;
}

.game-status.big a.start:active,
.game-status .next-level:active {
  background: #3d911f;
}

.game-status.big a.start:hover,
.game-status .next-level:hover {
  background: #55bf2e;
}

.game-status.big .optout {
  display: block;
  margin-top: 20px;
  float: none;
}

.game-status .optout {
  color: #2969b2;  
  float: right;
}
