/*loading*/

.loading-pane {
  width: 100%;
  height: 100%;
  background: #31353C;
  background-color: #31353C;
  position: absolute;
  transition: opacity .4s ease-in .2s;
  top: 0;
  opacity: 1;
}

.loading-pane.fade {
  opacity: 0;
  pointer-events:none;
}

.loading-content {
  left: 40px;
  right: 40px;
  height: 100%;
  position: absolute;
  background: url('/images/appmaker-logo-white.png') no-repeat;
  background-size: 98%;
  background-position: 0 35%;
}

.loading-bar {
  position: relative;
  height: 6px;
  margin: 0px 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  top: 50%;
  background: linear-gradient( 90deg, #3fb58e, #ffcd36, #27aae1 );
  overflow: hidden;
}

.loading-cover {
  background-color: #31353C;
  height: 100%;
  width: 100%;
  right: 0;
  position: absolute;
  transition: width .2s linear;
}
