/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

body {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', arial;
	font-size: 14px;
	color: #222;
	background-color: #111;
  overflow-y: scroll;
}

html {
	font-size: 62.5%;	/* so rem-based font sizes look right */
}

.clear {
	clear: both;
}

.clearfix:after {
   clear:both;
   content:' ';
   display:block;
   font-size:0;
   line-height:0;
   visibility:hidden;
   width:0;
   height:0
}

.left {
	float: left;
}

a {
	text-decoration: none;
}

b {
	font-weight: 600;
}

/*----------FONTS----------*/

@font-face {
	font-family: 'broccolidry';
	src:url('../fonts/broccolidry.eot');
	src:url('../fonts/broccolidry.eot?#iefix') format('embedded-opentype'),
		url('../fonts/broccolidry.woff') format('woff'),
		url('../fonts/broccolidry.ttf') format('truetype'),
		url('../fonts/broccolidry.svg#broccolidry') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-headphones, .icon-feed {
	font-family: 'broccolidry';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-headphones {
	color: #358CCE;
}

.icon-feed {
	color: #358CCE;
}

.icon-headphones:before {
	content: "\e001";
}
.icon-feed:before {
	content: "\e000";
}

h1 {
	font-size: 80px;
	color: #FFF;
	text-align: center;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

h2 {
	margin: 0px;
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 40px;
	line-height: 32px;
}

h3 {
	font-weight: 400;
	margin: 0px;
	font-size: 18px;
}

h4 {
	font-weight: 400;
	color: #FFF;
	font-size: 16px;
	margin: 0px 0px 20px 0px;
}

h5 {
	font-size: 16px;
	margin: 0px 0px 20px 0px;
	text-transform: uppercase;
	font-weight: 600;
	line-height: 16px;
	padding: 0px;
}

h6 {
	color: #FFF;
	font-size: 15px;
	font-weight: 400;
	margin: 0px;
}


.toggle {
	position: absolute;
	top: -50px;
}

/*----------BUTTONS----------*/

button.btn-std {
	font-family: 'Source Sans Pro', arial;
	-webkit-appearance: none;
	border: none;
	color: #FFF;
	font-weight: 400;
	padding: 0px;
}

button.btn-critical {
	background-color: #358CCE;
}

button.btn-critical:hover {
	background-color: #3999e3;
}

button.btn-critical:active {
	background-color: #2a70a6;
}

button.btn-secondary{
	background-color: #555;
}

button.btn-secondary:hover {
	background-color: #5a5a5a;
}

button.btn-secondary:active {
	background-color: #4a4a4a;
}

button.btn-toggle:nth-child(1) {
	border-radius: 3px 0px 0px 3px;
}

button.btn-toggle:nth-last-child(1) {
	border-radius: 0px 3px 3px 0px;
}

.cats {
	margin-bottom: 10px;
}

.toggle button.off:active {
	background-color: #333;
}
.toggle button.on:active {
	background-color: #555;
}


button.btn-std:off {
}

button.btn-toggle {
	background-color: #f8f8f8;
	display: block;
	border-radius: 3px;
	height: 36px;
	width: 90px;
	float: left;
	color: #222;
	font-size: 13px;
}

button.btn-toggle.on {
	outline: none;
	background-color: #555;
	color: #FFF;
}

button.btn-lg {
	font-size: 28px;
	height: 70px;
	width: 240px;
}

button.btn-start {
	margin: 50px auto 0px auto;
	border-radius: 4px;
	display: block;
}

button.publish {
	position: absolute;
	top: -36px;
	right: 0px;
	display: block;
	height: 36px;
	width: 110px;
	font-size: 16px;
	cursor: pointer;
	border-radius: 3px 3px 0px 0px;
}

button.new {
	position: absolute;
	top: -36px;
	right: 115px;
	display: block;
	height: 36px;
	width: 110px;
	font-size: 16px;
	cursor: pointer;
	background-color: #ff7b00;
	border-radius: 3px 3px 0px 0px;
}

button.new:hover {
	background-color: #fc8c24;
}

button.new:active {
	background-color: #e67103;
}

.publish-url {
	display: block;
	position: absolute;
	text-align: right;
	top: -40px;
	right: 160px;
	height: 40px;
	width: 500px;
	line-height: 40px;
	font-size: 15px;
	color: #ccc;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

button.btn-img {
	height: 25px;
	width: 25px;
	padding: 0px;
	border: none;
	border-radius: 2px;
	vertical-align: middle;
	background-color: #555;
	background-image: url(../images/image.png);
	background-position: center;
	background-repeat: no-repeat;
}

button.btn-add {
	height: 36px;
	width: 36px;
	border-radius: 3px 3px 0px 0px;
	background-color: #333;
	border: none;
	padding: 0px;
	background-position: center;
	background-repeat: no-repeat;
	color: #FFF;
	font-size: 13px;
	cursor: pointer;
	background-image: url(../images/add-card.png);
	background-position: center;
	background-repeat: no-repeat;
	float: left;
}

button.btn-done {
	width: 160px;
	font-size: 16px;
	border-radius: 4px;
	height: 40px;
	margin-top: 10px;
}

button.small-btn {
	width: 36px;
	height: 36px;
	border-radius: 3px;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	background-color: #f8f8f8;
	-webkit-appearance: none;
	color: #222;
	font-size: 13px;
	border: 1px solid #CCC;
	box-sizing:border-box;
	-moz-box-sizing:border-box; /* Firefox */
}

button.log-toggle {
	background-image: url(../images/log.png);
	top: 20px;
	right: 20px;
}

.selected:hover button.customize-btn,
.selected:hover button.delete-btn {
 display: block;
}

.selected:hover .customize-btn,
.selected:hover .handle {
  display: block;
}

.ui-sortable-helper .channel-visualisation,
.ui-sortable-helper .editables-section,
.ui-sortable-helper .customize-btn {
  display: none !important;
}

.customize-btn,
.handle
 {
  background-size: 10px;
	position: absolute;
	z-index: 110;
	height: 22px;
	width: 22px;
	background-position: center;
  background-color: transparent;
	background-repeat: no-repeat;
  background-size: 12px;
  cursor: pointer;
  opacity: .6;
  border-radius: 2px;
  background-color: white;
  border: solid 1px #BBB;
  display: none;
}

.customize-btn:hover,
.handle:hover
 {
  opacity: 1;
}

.handle {
	top: 3px;
	right: 3px;
  cursor: move;
	background-image: url(../images/move.png);
}

.customize-btn {
  background-image: url(../images/customize.png);
  left:3px;
	top: 3px;
}

.delete-btn {
  width: 22px;
  height: 22px;
  background-image: url(../images/trash.png);
  background-size: 10px;
  background-color: #f8f8f8;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0px;
  border-radius: 2px;
  border: solid 1px #BBB;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

/*----------LAYOUT----------*/

.info-box {
	height: 500px;
	background-color: #FFF;
}

.tip {
	width: 1000px;
	position: absolute;
	margin: 0 auto;
	height: 80px;
	left: 330px;
	top: -60px;
	line-height: 80px;
	color: #999;
	font-size: 16px;
	text-indent: 25px;
	background-image: url(../images/alert-blue.png);
	background-repeat: no-repeat;
	background-position: left center;
}


.container {
  	width: 970px;
 	background-color: #ddd;
	margin: 0px auto 40px auto;
	position: relative;
}

.tray {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 200px;
  background-color: #ccc;
  padding: 20px 0px 20px 20px;
}

.library-list {
  width: 215px;
  overflow-y: auto;
  position: absolute;
  top: 20px;
  bottom: 25px;
}

.library-list .draggable:last-child .thumb {
  margin-bottom: 0px;
}

.library-loading {
	min-height: 400px;
	background: url(../images/loading-throbber.gif) center no-repeat;
	background-size: auto 75px;
}

.listen-column {
	float: left;
	width: 220px;
	height: 500px;
	padding-left: 220px;
}

.broadcast-column {
	float: left;
	width: 220px;
	height: 500px;
}

.component-header {
	margin: 40px 0px 0px 40px;
	width: 160px;
}

.row {
	margin-bottom: 5px;
}
.inspector {
	display: block;
	padding-bottom: 1em;
}
.input, .output {
	width: 28px;
	margin-left: 12px;
	margin-top: 12px;
}

.tooltip {
	position: absolute;
	background: rgba(0,0,0,.8);
	padding: 0px 15px;
	height: 40px;
	line-height: 40px;
	z-index: 99;
	left: 40px;
	top: 0px;
	border-radius: 3px;
	color: #EEE;
	display: none;
}

.draggable {
	cursor: move;
	position: relative;
}

.info-btn {
	position: absolute;
	right: 28px;
	top: 9px;
	height: 22px;
	width: 22px;
	border-radius: 3px;
	border: 1px solid #CCC;
	background-color: #F8F8F8;
	background-image: url(../images/info2.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.ui-state-highlight {
  height: 1.5em; line-height: 1.2em;
  background: rgba(255,125,0,.8);
  display: block;
  padding: 0;
  margin: 0;
}

.ui-sortable-placeholder {
  height: 1.5em; line-height: 1.2em;
  background: #3999e3;
  opacity: .5;
  display: block;
  padding: 0;
  margin: 0;
  visibility: visible !important;
}

.thumb {
	width: 180px;
  background-color: #eee;
  margin-bottom: 5px;
  border-radius: 3px;
	line-height: 40px;
	text-indent: 10px;
}

.im-flying {
  box-shadow: 0px 3px 8px rgba(0,0,0,.3);
  background: #EEE !important;
}

.draggable:hover .thumb{
	background: #FFF;
}

.component-description {
	position: absolute;
	margin-top: 4px;
  padding: 8px 10px;
	max-width: 300px;
	background-color: rgba(0,0,0,.7);
	border-radius: 3px;
	z-index: 999;
  font-size: 1.3rem ;
	color: #DDD;
}

.channel-tip {
	position: absolute;
	padding: 10px;
	max-width: 300px;
	background-color: rgba(0,0,0,.8);
	border-radius: 3px;
	z-index: 999;
	color: #FFF
}

.component-std {
	cursor: pointer;
	height: 40px;
	width: 155px;
	background-color: #eee;
	margin-bottom: 10px;
	border-radius: 3px;
	line-height: 40px;
	text-indent: 10px;
	border-left: 5px solid #358cce;
	float: left;
	margin-left: 10px;
}

.component-std:nth-child(1) {
	margin-left: 0px;
}

.phone-container {
	float: left;
	width: 310px;
	margin-bottom: 20px;
	position: relative;
}

.phone-canvas button:focus {
	outline: none;
}

.phone-canvas button:active {
	outline: none;
}

.phone-canvas button.active {
	background: white;
	color: black;
}

.phone-top {
	background-color: #333;
	height: 36px;
	width: 100%;
	margin-top: 20px;
	border-radius: 6px 6px 0px 0px;
	background-image: url(../images/mic.png);
	background-position: center;
	background-repeat: no-repeat;
}

.dragging .fixed-top, .dragging .fixed-bottom {
	min-height: 20px;

}

.dragging .fixed-top {
	background: url(../images/stick-to-top.png) no-repeat white center;
	background-size: auto 12px;
}

.dragging .fixed-bottom {
	background: url(../images/stick-to-bottom.png) no-repeat white center;
	background-size: auto 12px;
}

.fixed-top,.fixed-bottom {
	transition: linear .2s min-height;
	-moz-transition: linear .2s min-height;
	min-height: 5px;
	background: white;
}

.fixed-top {
	border-bottom: dashed 2px #DDD;
	padding-bottom: 4px;
}

.fixed-bottom {
	border-top: dashed 2px #DDD;
	padding-top: 4px;

}

.phone-canvas {
	min-height: 400px;
	background-color: #FFF;
	width: 100%;
	padding: 4px 0;
}

.phone-bottom {
	background-color: #333;
	height: 50px;
	width: 100%;
	border-radius: 0px 0px 6px 6px;
	background-image: url(../images/circle.png);
	background-position: center;
	background-repeat: no-repeat;
}

.tabs {
	margin: 40px auto 0px auto;
	width: 970px;
}

.cards {
	float: left;
}

.card {
	height: 36px;
	width: 100px;
	font-size: 14px;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
	background-color: #333;
	float: left;
	color: #888;
	margin-right: 5px;
	border-radius: 3px 3px 0px 0px;
}

.card.selected {
  background-color: #ddd;
  box-shadow: 0;

}

.console {
	background-color: #333;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 970px;
	color: #999;
}

.editables-section {
  padding: 5px 40px 6px 10px;
	position: absolute;
	left: -2px;
  width: 264px;
	z-index: 999;
  background: #BBB;
  color: white;
  background: rgba(255,125,0,1);
  border-radius:  5px 5px 0px 0px;
  background: #ff7d00;
  display: none;
  min-height: 23px;
  text-align: left;
}

.editables-section label {
  font-size: 13px;
}

.editables-section input[type="text"] {
	background-color: #FFF;
	padding: 4px 6px;
  width: 246px;
}

.log .inner {
  padding-bottom: 1em;
}
.log {
  background-color: #FFF;
  position: fixed;
  height: 260px;
  border-top: 1px solid #AAA;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99;
}

.log-bar {
	background-color: #EEE;
}

.log-header {
	float: left;
	line-height: 30px;
	margin-left: 20px;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 600;
}

.scroll {
	height: 452px; /* ??? XXX */
	overflow-y: auto;
}

.log p {
	word-break:break-all;
}

.hidden {
	display: none;
}

.inner {
	padding: 20px;
}

.modal-wrapper {
   position: fixed;
   top: 0px;
   bottom: 0px;
   left: 0px;
   right: 0px;
   background: rgba(0,0,0,.5);
   z-index: 9999;
}

.color-modal {
	display: none;
}

.library {
	display: none;
}

.fixed-top .ui-draggable,
.fixed-bottom .ui-draggable,
.phone-canvas .ui-draggable {
	display: block; /* so that the styling we do to component takes the space of its contents */
	position: relative; /* so that box-shadow is always visible on selection */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.phone-container .selected {
	box-shadow: 0 0 0px 2px rgba(255,125,0,.8);
}

.flex {
   display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
   display: -moz-box;      /* OLD: Firefox (buggy) */
   display: -ms-flexbox;   /* MID: IE 10 */
   display: -webkit-flex;  /* NEW, Chrome 21+ */
   display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

   -webkit-box-align: center; -moz-box-align: center; /* OLD… */
   -ms-flex-align: center;
   -webkit-align-items: center;
   align-items: center;

   -webkit-box-pack: center; -moz-box-pack: center;
   -ms-flex-pack: center;
   -webkit-justify-content: center;
   justify-content: center;
}

.modal {
   max-width: 585px;
   background-color: #eee;
   position: relative;
}

.modal-inner {
	padding: 40px;
}

button.return-btn {
	height: 40px;
	width: 100%;
	margin-top: 40px;
	font-size: 16px;
	background-color: #358cce;
}

.close {
	height: 30px;
	width: 30px;
	background-image: url(../images/close.png);
   background-position: center;
   background-repeat: no-repeat;
   background-color: #e81e1e;
   float: right;
}

.close-modal {
   height: 40px;
   width: 40px;
   background-color: #FFF;
   background-image: url(../images/close.png);
   background-position: center;
   background-repeat: no-repeat;
   position: absolute;
   right: 0px;
   top: 0px;
   z-index: 99;
}

.mar-bot-twenty {
	margin-bottom: 20px;
}

.filter {
	height: 30px;
	line-height: 30px;
	background-color: #FFF;
	float: left;
	width: 110px;
	text-align: center;
	border-right: 1px solid #DDD;
}

.filter:nth-child(1) {
	border-radius: 2px 0px 0px 2px;
}

.filter:nth-last-child(1) {
	border-radius: 0px 2px 2px 0px;
	border: none;
}

.active {
	background-color: #AAA;
}

.txt-fixed {
	color: #999;
}

.dropdown {
	background-color: #555;
	height: 25px;
	line-height: 25px;
	border-radius: 2px;
	float: left;
	width: 125px;
	font-size: 12px;
	text-indent: 10px;
	margin-right: 5px;
	background-image: url(../images/arrows.png);
	background-repeat: no-repeat;
	background-position: 110px center;
}

.tab-num {
	line-height: 25px;
	float: left;
	margin-right: 5px;
	font-size: 16px;
	width: 10px;
}

/*Color UI Strip*/

.channel-chooser {
  position: absolute;
	background-color: #FFF;
	padding: 5px;
	border-radius: 2px;
	z-index: 110;
  box-shadow: 0px 2px 2px rgba(0,0,0,.1);
}

.channel-chooser .arrow {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: -10px;
}

.channel-chooser.listen-section {
  right: 0px;
}

.colorChoice {
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 5px;
	border-radius: 2px;
}

.colorChoice:nth-last-child(1) {
	margin-right: 0px;
}

.input-color {
	height: 40px;
	width: 40px;
	float: left;
	margin-right: 5px;
}

.broadcast-options,
.listen-options {
}

.label {
	font-size: 16px;
	margin: 0px 0px 5px 0px;
	text-transform: uppercase;
	font-weight: 600;
}

.description {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #2a2a2a;
}

.channel-listener {
	display: block;
}

.channel-label {
	border-bottom: 2px solid #DDD;
	display: inline-block;
	margin-bottom: 10px;
}

.listen-channel .listener {
	margin-bottom: 30px;
}



.moz-input-form input[type="text"] {
	-moz-box-sizing: border-box;
	display: inline-block;
	width: 69%; /* XXX not sure why 70 + 30 > 100 */
	border: none;
	height: 3.8rem;
	font-size: 16px;
	box-shadow: none;
	padding: 0px;
	margin: 0px;
	outline: none;
}

.moz-input-form button {
	width: 30%;
	height: 3.8rem;
	background: #555;
	border: none;
	color: #FFF;
	font-size: 16px;
	padding: 0px;
	display: inline-block;
	margin: 0px;
}


.note {
	position: absolute;
	top: -50px;
	left: 0px;
	height: 30px;
	line-height: 30px;
	width: 100px;
	font-weight: 400;
	color: #888;
	font-size: 16px;
	background-image: url(../images/checked.png);
	background-repeat: no-repeat;
	background-position: 80px center;
	width: 100px;
}

.saving {
	color: #fff;
	background-image: none;
}

.blue {
/*  background-image: url(../images/bluemoon.png);*/
	background-position: center;
	background-repeat: no-repeat;
}

.pink {
/*  background-image: url(../images/pinkheart.png);*/
	background-position: center;
	background-repeat: no-repeat;
}

button.selected-button {
	background-color: #555;
}

button.log-toggle.selected-button {
	background-image: url(../images/log-selected.png);
}


/*Channel Visualisation*/

.channel-visualisation {
	z-index: 2;
  height: 100%;
  position: absolute;
  top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
}

.subscription-channels,
.broadcast-channels {
  width: 209px;
  -webkit-transition: all linear .1s;
  -moz-transition: all linear .1s;
}

.selected .subscription-channels,
.subscription-channels:hover {
    padding-right: 29px;
    width: 180px;
}

.selected .broadcast-channels,
.broadcast-channels:hover {
    padding-left: 29px;
    width: 180px;
}

.selected .channel-visualisation .channel-menu-toggle,
.channel-visualisation:hover .channel-menu-toggle {
  display: block;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
}

.channel-visualisation:hover .channel-menu 
 {
  display: block;
}



.broadcast-channels .channel {
	border-radius: 10px 0px 0px 10px;
}

.subscription-channels .channel {
	border-radius: 0px 10px 10px 0px;
}

.channel-visualisation .channel {
  margin: 2px 0;
}

/*Channel Subscription Menu*/

.channel-visualisation .channel-menu-toggle {
  position: absolute;
  top: 50%;
/*  cursor: pointer;*/
  margin-top: -13px;
  background: #BBB;
  background: center no-repeat url(../images/broadcast_icon.png);
  background-size: contain;
  color: #222;
  border-radius: 10px;
  height: 26px;

  width: 26px;
  font-size: 13px;
  -webkit-transform: scale(0);
  -webkit-transition: linear all .1s;
  -moz-transform: scale(0);
  -moz-transition: linear all .1s;
}


.channel-visualisation .channel-menu-toggle:hover {
  /*  background: center no-repeat url(../images/broadcast_icon_hover.png);*/
  background-size: contain;
}

.channel-menu-template {
  display: none;
}

.subscription-channels .channel-menu-toggle {
  right: -3px;
}
 .broadcast-channels .channel-menu-toggle  {
  left: -3px;
}

.channel-visualisation .channel-menu-toggle:only-child {
  display: none;
}

.channel-visualisation .channel-menu {
  padding: 4px 4px 5px 4px;
  background: white;
  position: absolute;
  top: 50%;
  border-radius: 5px;
  border: solid 1px #BBB;
  border-bottom: solid 2px #BBB;
}

.channel-visualisation .subscription-menu {
  right: 36px;
}

.channel-visualisation .broadcast-menu {
  left: 36px;
}

.channel-visualisation .channel-menu .arrow {
  position: absolute;
  top: 50%;
  margin-top: -7px;
  height: 14px;
  width: 14px;
  background: white;
}

.channel-visualisation .subscription-menu .arrow {
  right: -8px;
  border-top: solid 1px #BBB;
  border-right: solid 1px #BBB;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.channel-visualisation .broadcast-menu .arrow {
  left: -8px;
  border-top: solid 1px #BBB;
  border-left: solid 1px #BBB;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.channel-menu label .chosen-color {
  display: block;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 5px;
  border-radius: 2px;
}

.subscription-menu .chosen-color {
  right: 5px;
}

.broadcast-menu .chosen-color {
  left: 5px;
}

.channel-menu .subscription-option.disabled-subscription label {
  color: #999;
}

.channel-menu .subscription-option {
  border-radius: 4px;
  position: relative;
}

.channel-menu .subscription-option label:hover {
  background: #F6F6F6;
  border-radius: 3px;
  cursor: pointer;
}

.channel-menu .channel-option label {
  color: #555;
  display: block;
  text-align: right;
  font-size: 1.3rem;
}

.subscription-menu label {
  padding: 4px 28px 4px 6px;
}

.broadcast-menu label {
  padding: 4px 6px  4px 28px;
}


.channel-menu .subscription-template  {
  display: none;
}

.channel-menu .color-ui {
  border-radius:3px;
  display: none;
  text-align: right;
  padding: 3px 5px 2px 5px;
  cursor: default;

}

.channel-menu [color='false'] {
	background-image: url(../images/disabled-channel-dash.png);
  background-color: #DDD;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.channel-menu .color-ui .color {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-right: 0px;
  position: relative;
  top: 2px;
  border-radius: 2px;
  cursor: pointer;
  opacity: 1;
}

/*.channel-menu .color-ui .color.ui-chosen-color,*/
.channel-menu .color-ui .color:hover {
  opacity: .7;
}




.broadcast-channels {
  right: -220px;
}
.subscription-channels {
  left: -220px;
}


.broadcast-channels .channel,
.subscription-channels .channel {
  position: relative;
  width: 100%;
  height: 6px;
}

.indicator {
  position: absolute;
  top: -2px;
  left: 100px;
  height: 10px;
  width: 10px;
  border-radius: 20px;
  left: 0px;
  opacity: 0;
}


/*log stuff */

 .bubblepopup {
  position: absolute;
  background: white;
  padding: 8px 12px;
  font-size: 12px;

  top: -32px;

  text-overflow: ellipsis;
  max-width:155px;
  overflow: hidden;
  white-space: nowrap;

}

.broadcast-channels .bubblepopup {
  left: 3px;
  border-radius: 8px 8px 8px 0px;
  -webkit-transform-origin: bottom left;
  -moz-transform-origin: bottom left;
}

.subscription-channels .bubblepopup {
  right: 3px;
  border-radius: 8px 8px 0px 8px;
  color: #666;
  -webkit-transform-origin: bottom right;
  -moz-transform-origin: bottom right;
}

/* Dot inside the channel line*/

.channel-visualisation .color {
	border-radius: 25px;
  position: absolute;
	height: 6px;
	width: 6px;
  padding: 0px;
  margin:0;
}

.broadcast-channels .color {
  left: 0px;
}

.subscription-channels .color {
  right: 0px;
}

[color=disabled] {
  background:	rgba(0,0,0,1);
}

[color=blue] {
  background:	rgba(53,140,206,1);
}

[color=false] {
  background:	rgba(0,0,0,.5);
}

[color=green] {
  background:	rgba(113,184,6,1);
}

[color=yellow] {
  background:	rgba(229,210,0,1);
}

[color=orange] {
  background:	rgba(255,123,0,1);
}

[color=purple] {
  background:	rgba(159,39,207,1);
}

[color=red] {
  background:	rgba(232,30,20,1);
}

[color=pink] {
  background:	rgba(227,25,123,1);
}




.channel-visualisation .channel[color=blue] {
  background:	rgba(53,140,206,.2);
}

.channel-visualisation .channel[color=blue] .color,
.channel-visualisation .channel[color=blue] .indicator {
  background:	rgba(53,140,206,1);
}

.channel-visualisation .channel[color=blue] .bubblepopup {
  border: solid 2px rgba(53,140,206,1);
  color: rgba(53,140,206,1);
}

.channel-visualisation .channel[color=red] {
  background:	rgba(232,30,20,.2);
}

.channel-visualisation .channel[color=red] .color,
.channel-visualisation .channel[color=red] .indicator {
  background:	rgba(232,30,20,1);
}

.channel-visualisation .channel[color=red] .bubblepopup {
  border: solid 2px rgba(232,30,20,1);
  color:	rgba(232,30,20,1);
}

.channel-visualisation .channel[color=pink] {
  background:	rgba(227,25,123,.2);
}

.channel-visualisation .channel[color=pink] .color,
.channel-visualisation .channel[color=pink] .indicator {
  background:	rgba(227,25,123,1);
}

.channel-visualisation .channel[color=pink] .bubblepopup {
  border: solid 2px rgba(227,25,123,1);
  color:	rgba(227,25,123,1);
}

.channel-visualisation .channel[color=purple] {
  background:	rgba(159,39,207,.2);
}

.channel-visualisation .channel[color=purple] .color,
.channel-visualisation .channel[color=purple] .indicator {
  background:	rgba(159,39,207,1);
}

.channel-visualisation .channel[color=purple] .bubblepopup {
  border: solid 2px rgba(159,39,207,1);
  color:	rgba(159,39,207,1);
}

.channel-visualisation .channel[color=green] {
  background:	rgba(113,184,6,.2);
}

.channel-visualisation .channel[color=green] .color,
.channel-visualisation .channel[color=green] .indicator {
  background:	rgba(113,184,6,1);
}

.channel-visualisation .channel[color=green] .bubblepopup {
  border: solid 2px rgba(113,184,6,1);
  color:	rgba(113,184,6,1);
}

.channel-visualisation .channel[color=orange] {
  background:	rgba(255,123,0,.2);
}

.channel-visualisation .channel[color=orange] .color,
.channel-visualisation .channel[color=orange] .indicator {
  background:	rgba(255,123,0,1);
}

.channel-visualisation .channel[color=orange] .bubblepopup {
  border: solid 2px rgba(255,123,0,1);
  color:	rgba(255,123,0,1);
}

.channel-visualisation .channel[color=yellow] {
  background:	rgba(229,210,0,.2);
}

.channel-visualisation .channel[color=yellow] .color,
.channel-visualisation .channel[color=yellow] .indicator {
  background:	rgba(229,210,0,1);
}

.channel-visualisation .channel[color=yellow] .bubblepopup {
  border: solid 2px rgba(229,210,0,1);
  color:	rgba(229,210,0,1);
}

.channel-visualisation .channel[color=false] {
  background:	rgba(0,0,0,.2);
  display: none;
}

.channel-visualisation .channel[color=false] .color,
.channel-visualisation .channel[color=false] .indicator {
  display: none;
/*  background:  rgba(0,0,0,.3);*/
}

.channel-visualisation .channel[color=false] .bubblepopup {
  border: solid 2px rgba(53,140,206,1);
  color: rgba(53,140,206,1);
  display: none;
}
.channel-visualisation .channel[color=false]{
  background: rgba(102, 102, 102, .2)
}

.channel-visualisation .channel[color=disabled] {
  background:	rgba(0,0,0,.2);
  display: none;
}

.channel-visualisation .channel[color=disabled] .color,
.channel-visualisation .channel[color=disabled] .indicator {
  display: none;
}

.channel-visualisation .channel[color=disabled] .bubblepopup {
  border: solid 2px rgba(53,140,206,1);
  color: rgba(53,140,206,1);
  display: none;
}
.channel-visualisation .channel[color=disabled]{
  background: rgba(102, 102, 102, .2)
}
