body {
  	background-color: #222;
}

.top-line {
  height: 3px;
  background-color: #444;
  width: 100%;

}

.index-container {
  width: 900px;
  margin: 0 auto;
}

.sub-header {
  font-size: 84px;
  margin: 120px 0px;
  text-align: center;
  color: #FFF;
  font-weight: 200;
}

.team {
  margin-top: 80px;
  color: #888;
}

.mozilla{
  margin: 0 auto;
  width: 190px;
}

input.app-name {
  margin: 0 auto;
  width: 420px;
  height: 60px;
  border: none;
  -webkit-appearance: none;
  display: block;
  text-align: center;
  font-size: 22px;
  padding: 0px;
  outline: none;
}

::-webkit-input-placeholder {
   color: #888;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #888;  
}

button.btn-start-app {
  height: 60px;
  width: 260px;
  margin: 0px auto 0px auto;
  display: block;
  border-radius: 3px;
  background: #358CCE;
  font-size: 22px;
}

button.btn-start-app:hover {
  background-color: #3999e3;
}

button.btn-start-app:active {
  background-color: #2a70a6;
}
