body {
  background-color: #31353C;
  font-family: 'Source Sans Pro', arial;
}

.home-container {
  margin: 0 auto;
  width: 960px;
}

.home-container a {
  color: #358CCE
}

.home-section {
  width: 100%;
}

.video-container {
  margin-top: 20px;
}

.play-video {
  margin: 40px auto 0px auto;
  text-align: center;
}

.github {
  float: right;
  margin-top:25px;
}

.twitter {
  float: right;
  margin: 25px 15px 0px 0px;
}

.video-splash {
  width: 100%;
  height: 540px;
  background-image: url(/images/vid1.png);
  background-position: center;
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center; -moz-box-align: center; /* OLD… */
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center; -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.vid-text {
  font-size: 72px;
  font-weight: 300;
  color: #FFF;
  letter-spacing: 1px;
  text-align: center;
}

.vid-subtext {
  text-align: center;
  color: #FFF;
  font-weight: 400;
  font-size: 20px;
  margin-top: 40px;
}

.appmaker-version {
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  background-color: #538a02;
  padding: 5px 20px;
}

.home-description {
  color: #aeb1b5;
  line-height: 130%;
  font-size: 24px;
  text-align: left;
  font-weight: 300;
  letter-spacing: 1px;
}

.home-bottom {
  background-color: #181b1f;
  height: 80px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.home-logo {
  background-image: url(/images/maker.png);
  background-position: left center;
  background-repeat: no-repeat;
  height: 80px;
  width: 390px;
  float: left;
}

.break-line {
  height: 2px;
  width: 100%;
  background-color: #5b6270;
  margin-bottom: 40px;
}

.top-line {
  height: 2px;
  background-color: #358CCE;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  z-index: 2;
}

#home-mozilla{
  position: fixed;
  width: 190px;
  top: 0px;
  right: 0px;
  z-index: 2;
}

input.app-name {
  margin: 0 auto;
  width: 420px;
  height: 60px;
  border: none;
  -webkit-appearance: none;
  display: block;
  text-align: center;
  font-size: 22px;
  padding: 0px;
  outline: none;
}

::-webkit-input-placeholder {
   color: #888;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #888;  
}

button.btn-start-app {
  height: 50px;
  width: 180px;
  display: block;
  background-color: #358CCE;
  font-size: 20px;
  margin: 0 auto;
  font-weight: 400;
  border-radius: 3px;
  border-bottom: 4px solid #296ea3;
  border-top: 1px solid #5fafed;
  float: left;
  margin-top: 15px;
}

button.btn-start-app:hover {
  background-color: #3999e3;
}

button.btn-start-app:active {
  background-color: #2a70a6;
}

.home-header {
  color: #FFF;
}

.level-start {
  margin: 0px auto 0px auto;
  width: 300px;
  background-color: #b0aca7;
  position: fixed;
  top: 20px;
  bottom: 0px;
  opacity: 0;
  animation:showme .4s 4s forwards;
  -webkit-animation:showme .4s 4s forwards;
}

.ball {
  height: 400px;
  width: 400px;
  line-height: 400px;
  text-align: center;
  color: #FFF;
  border-radius: 220px;
  font-size: 70px;
  background-color: #358CCE;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,.3);
  border-bottom: 1px solid #c7e0fc;
  opacity: 0;
  animation:fades 4s, rotates .4s, bounce 2s .4s;
  -webkit-animation:fades 4s, rotates .4s, bounce 2s .4s; /* Safari and Chrome */
}


@keyframes showme
{
0%   {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes showme /* Safari and Chrome */
{
0%   {opacity:0;}
100% {opacity:1;}
}


@keyframes rotates
{
0%   {transform: rotate(-90deg) scale(.2,.2);}
100% {transform: rotate(0deg) scale(1,1);}
}

@-webkit-keyframes rotates /* Safari and Chrome */
{
0%   {-webkit-transform: rotate(-90deg) scale(.2,.2);}
100% {-webkit-transform: rotate(0deg) scale(1,1);}
}

@keyframes fades
{
0%   {opacity:0;}
10% {opacity:1;}
90% {opacity:1;}
100% {opacity:0;}
}

@-webkit-keyframes fades /* Safari and Chrome */
{
0%   {opacity:0;}
10% {opacity:1;}
90% {opacity:1;}
100% {opacity:0;}
}

@keyframes bounce
{
5%  {transform: scale(.98,.98);}
25% {transform: scale(1.02,.1.02);}
60% {transform: scale(.99,.99);}
60% {transform: scale(1.01,1.01);}
100% {transform: scale(1,1);}
}

@-webkit-keyframes bounce /* Safari and Chrome */
{
5%  {-webkit-transform: scale(.98,.98);}
25% {-webkit-transform: scale(1.02,.1.02);}
60% {-webkit-transform: scale(.99,.99);}
60% {-webkit-transform: scale(1.01,1.01);}
100% {-webkit-transform: scale(1,1);}
}