body {
  	background-color: #222;
}

h1 {
  text-align: left;
  font-size: 60px;
  margin-bottom: 40px;
}


.top-line {
  height: 3px;
  background-color: #358CCE;
  width: 100%;

}

.index-container {
  width: 860px;
  margin: 0 auto;
}

.sub-header {
  text-align: center;
  font-size: 42px;
  margin-bottom: 80px;
  color: #FFF;
  font-weight: 300;
}

.banner {
	margin: 40px 0px;
  background-color: #358CCE;
}

.banner-inner {
  padding: 80px;
}

.mozilla{
  float: right;
}

.logo {
  color: #FFF;
  font-size: 42px;
  font-family: 'Norican', cursive;
  width: 860px;
  margin: 0px auto 0px auto;
}

input.app-name {
  margin: 0 auto;
  width: 420px;
  height: 60px;
  border: none;
  -webkit-appearance: none;
  display: block;
  text-align: center;
  font-size: 22px;
  padding: 0px;
  outline: none;
}

::-webkit-input-placeholder {
   color: #888;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #888;  
}

button.btn-start-app {
  height: 60px;
  width: 260px;
  margin: 20px auto 0px auto;
  display: block;
  border-radius: 3px;
  background: #222;
  font-size: 22px;
}
