@import "variables.less";
@import "mixins.less";

user-state {
  color: white;
  position: relative;
  text-align: left;
  z-index: 99999;
  position: relative;

  #signin {
    height: 26px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e81e1e;
    .border-radius(2px);
    padding-left: 1em;
    padding-right: 1em;
  }

  button.button {
    height: 26px;
    font-size: 16px;
    cursor: pointer;
    background-color: #e81e1e;
    .border-radius(2px);
    padding-left: 1em;
    padding-right: 1em;
  }

  .menu-button {
    padding: 3px 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    text-align: left;
    padding-right: 50px;
    cursor: pointer;
    background-color: #01a3b0;
    .border-radius(2px);
    background-image: url(/images/arrow-down.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right 10px center;
  }
  .app-menu .menu-button {
    min-width: 100px;
  }

  #email:hover {
    text-decoration: none;
    background-color: #0bb4c2;
  }

  .menu-open .menu-button {
    background-image: url(/images/arrow-up.png);
    .border-radius(2px 2px 0 0);
  }

  .menubutton {
    display: inline-block;
  }

  .menu {
    z-index: 12000;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 26px;
    width: 100%;
    background: #DDD;
    text-align: left;
    border-top: solid 2px #117b84;
    border: solid 2px #01a3b0;
    border-radius: 0 0 2px 2px;
  }

  .menu {
    display: none;
  }

  .menu-open .menu {
    display: block;
  }

  .menu h3 {
    padding: 0 0 4px 0 ;
    margin: 2px 2px 8px 2px;
    border-bottom: solid 2px #BBB;
    color: #444;
    font-size: 16px;
  }

  .menu-wrapper {
    display: inline-block;
    position: relative;
    margin-left: 5px;
  }

  .hidden {
    display: none;
  }

  #myapps {
    display: block;
    margin: 0 0 12px 0;
    padding: 0;
    clear: both;
    width: 100%;
  }

  #myappsheading {
    text-align: left;
  }

  #myapps li {
    margin-top: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
    margin: 0;
    font-size: small;
    padding: 0;
    overflow: auto;
  }

  .menu a {
    text-align: left;
    border: 0;
    background-color: transparent;
    color: #555;
    padding: 0;
    margin: 0;
    padding: 3px 6px;
    display: block;
    cursor: pointer;
    .border-radius(3px);
    font-size: 16px;
  }

  .menu a:hover {
    background: white;
  }

  #noApps {
    font-size: 16px;
    color: #777;
  }


  #myapps .currentApp {
    font-weight: bold;
  }

  .app-actions a {
    display: block;
    font-size: 16px;
    color: #555;
    cursor: pointer;
  }

  .hidden {
    display: none;
  }

  &[editingmode="draft"] .menu a.saved {
    display: none;
  }

  #signInProgress {
    display: none;
    height: 25px;
    width: 25px;
    background-size: 25px;
    background-image: url(/images/throbber-spinner.png);
    -webkit-animation: linear 1s spin infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg)}
    100% { -webkit-transform: rotate(360deg)}
  }

}
