<polymer-element name="ceci-menu" extends="ceci-element" attributes="items fontsize backgroundcolor textcolor selectedbackgroundcolor selectedtextcolor" backgroundcolor="#FFF" textcolor="#000" selectedbackgroundcolor="#000" selectedtextcolor="#FFF" fontsize="22px">
  <ceci-definition>
    {
      "tags": [],
      "thumbnail": "./thumbnail.png",
      "description": "A menu brick.",
      "name": "Menu",
      "broadcasts": {
        "chosen": {
          "label": "Item Chosen",
          "description": "Sends the current value of the menu."
        }
      },
      "listeners": {
        "up": {
          "description": "Navigate the selected menu option up.",
          "label": "Navigate Up"
        },
        "down": {
          "description": "Navigate the selected menu option down.",
          "label": "Navigate Down"
        },
        "select": {
          "description": "Choose the currently selected item.",
          "label": "Choose Selected"
        },
        "setitems": {
          "description": "Sets the list of menu items from a comma seperated variable.",
          "label": "Set Items"
        }
      },
      "attributes": {
        "items": {
          "label": "Menu Items",
          "description": "Comma seperated list of menu items.",
          "editable": "text"
        },
        "backgroundcolor": {
          "label": "Background Color",
          "description": "Color for the background of unselected items.",
          "editable": "color"
        },
        "textcolor": {
          "label": "Text Color",
          "description": "Color for the text of unselected items.",
          "editable": "color"
        },
        "selectedbackgroundcolor": {
          "label": "Selected Background color",
          "description": "Color for the background of selected items.",
          "editable": "color"
        },
        "selectedtextcolor": {
          "label": "Selected Text Color",
          "description": "Color for the text of selected items.",
          "editable": "color"
        },
        "fontsize": {
          "label": "Font Size",
          "description": "Menu item font size.",
          "editable": "text"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div class="items"></div>
    <shadow></shadow>
  </template>
  <script>
    Polymer('ceci-menu', {
      selectedIndex: 0,
      selected: "",
      attached: function () {
        this.super();
      },
      select: function() {
        this.broadcast("chosen", this.selected);
      },
      up: function() {
        var selected = this.shadowRoot.querySelector(".items").childNodes[this.selectedIndex-1];
        if (selected) {
          this.selectElement(selected);
          this.selectedIndex--;
        }
      },
      selectElement: function(element) {
        var oldSelected = this.shadowRoot.querySelector(".selected");
        oldSelected.classList.remove("selected");
        oldSelected.style.backgroundColor = "transparent";
        oldSelected.style.color = "inherit";
        this.selected = element.textContent;
        element.classList.add("selected");
        this.selectedtextcolorChanged();
        this.selectedbackgroundcolorChanged();
      },
      down: function() {
        var selected = this.shadowRoot.querySelector(".items").childNodes[this.selectedIndex+1];
        if (selected) {
          this.selectElement(selected);
          this.selectedIndex++;
        }
      },
      setitems: function(items) {
        this.items = items;
      },
      itemsChanged: function() {
        var self = this;
        var container = this.shadowRoot.querySelector(".items");
        container.innerHTML = "";
        var items = this.items.split(",");
        items.forEach(function(text, i) {
          var item = document.createElement("div");
          item.classList.add("item");
          item.addEventListener("click", function() {
            self.selectElement(this);
            self.selectedIndex = i;
            self.select();
          });
          item.textContent = items[i].trim();
          container.appendChild(item);
        });
        var selected = container.childNodes[this.selectedIndex];
        if (selected) {
          this.selected = selected.textContent;
          selected.classList.add("selected");
          this.selectedtextcolorChanged();
          this.selectedbackgroundcolorChanged();
        }
      },
      backgroundcolorChanged: function() {
        var container = this.shadowRoot.querySelector(".items");
        container.style.backgroundColor = this.backgroundcolor;
      },
      textcolorChanged: function() {
        var container = this.shadowRoot.querySelector(".items");
        container.style.color = this.textcolor;
      },
      selectedbackgroundcolorChanged: function() {
        var selected = this.shadowRoot.querySelector(".selected");
        if (selected) {
          selected.style.backgroundColor = this.selectedbackgroundcolor;
        }
      },
      selectedtextcolorChanged: function() {
        var selected = this.shadowRoot.querySelector(".selected");
        if (selected) {
          selected.style.color = this.selectedtextcolor;
        }
      },
      fontsizeChanged: function() {
        var container = this.shadowRoot.querySelector(".items");
        container.style.fontSize = this.fontsize;
      }
    });
  </script>
</polymer-element>
