<polymer-element name="ceci-game-controller" extends="ceci-element" attributes="konamicode leftbuttonvalue upbuttonvalue downbuttonvalue rightbuttonvalue selectbuttonvalue startbuttonvalue abuttonvalue bbuttonvalue" leftbuttonvalue="left" upbuttonvalue="up" downbuttonvalue="down" rightbuttonvalue="right" selectbuttonvalue="select" startbuttonvalue="start" abuttonvalue="a" bbuttonvalue="b" konamicode="up,up,down,down,left,right,left,right,b,a">
  <ceci-definition>
    {
      "name": "Game Controller",
      "thumbnail": "./thumbnail.png",
      "description": "A classic NES game controller",
      "broadcasts": {
        "press": {
          "label": "Any Button Pressed",
          "description": "Any button was pressed",
          "default": true
        },
        "release": {
          "label": "Any Button Released",
          "description": "Any button was released"
        },
        "left": {
          "label": "Left Button",
          "description": "Left button was pressed"
        },
        "up": {
          "label": "Up Button",
          "description": "Up button was pressed"
        },
        "down": {
          "label": "Down Button",
          "description": "Down button was pressed"
        },
        "right": {
          "label": "Right Button",
          "description": "Right button was pressed"
        },
        "select": {
          "label": "Select Button",
          "description": "Select button was pressed"
        },
        "start": {
          "label": "Start Button",
          "description": "Start button was pressed"
        },
        "abutton": {
          "label": "A Button",
          "description": "A button was pressed"
        },
        "bbutton": {
          "label": "B Button",
          "description": "B button was pressed"
        },
        "konami": {
          "label": "Konami code triggered!",
          "description": "A classic easter egg to add to your app"
        }
      },
      "attributes": {
        "leftbuttonvalue": {
          "label": "Left Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "upbuttonvalue": {
          "label": "Up Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "downbuttonvalue": {
          "label": "Down Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "rightbuttonvalue": {
          "label": "Right Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "selectbuttonvalue": {
          "label": "Select Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "startbuttonvalue": {
          "label": "Start Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "abuttonvalue": {
          "label": "A Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "bbuttonvalue": {
          "label": "B Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "konamicode": {
          "label": "Konami Code",
          "description": "A secret sequence of secret buttons to do something secret",
          "editable": "text"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div class="game-controller">
      <div class="d-pad-container">
        <div class="d-pad">
          <div class="left-button" data-controller-button="left" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{leftClicked}}"></div>
          <div class="up-button" data-controller-button="up" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{upClicked}}"></div>
          <div class="down-button" data-controller-button="down" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{downClicked}}"></div>
          <div class="right-button" data-controller-button="right" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{rightClicked}}"></div>
        </div>
      </div>
      <div class="start-select-container">
        <div class="start-select">
          <div class="select-button" data-controller-button="select" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{selectClicked}}"></div>
          <div class="start-button" data-controller-button="start" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{startClicked}}"></div>
        </div>
      </div>
      <div class="a-b-buttons-container">
        <div class="a-b-buttons">
          <div class="a-button" data-controller-button="a" on-mousedown="{{onPress}}" on-mouseup="{{onRelease}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{aButtonClicked}}"></div>
          <div class="b-button" data-controller-button="b" on-mousedown="{{onPress}}" on-mouseup="{{onRelease}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{bButtonClicked}}"></div>
        </div>
      </div>
    </div>
    <shadow></shadow>
  </template>
  <tags>game</tags>
    <script>
      Polymer("ceci-game-controller", {
        ready: function() {
          this.super();

          // Default sequence ↑ ↑ ↓ ↓ ← → ← → B A
          this.sequence = [];
          this.konamicodeChanged();

          var that = this;
          function detechTouch() {
            // Disable mouse events
            that.onMouseDown = function() {};
            that.onMouseUp = function() {};
            this.removeEventListener("touchstart", detechTouch);
          }
          this.addEventListener("touchstart", detechTouch);
        },
        onPress: function(event, detail, sender) {
          var button = sender.getAttribute("data-controller-button");
          this.sequence.push(button);

          if (this.sequence.length > this.codeLength) {
            this.sequence.shift();
          }

          if (this.sequence.join(",") === this.konamicode) {
            this.broadcast("konami", this.konamicode);
          }

          this.broadcast("press", button);
        },
        konamicodeChanged: function() {
          this.codeLength = this.konamicode.split(",").length;
          this.sequence = [];
        },
        onRelease: function(event, detail, sender) {
          this.broadcast("release", sender.getAttribute("data-controller-button"));
        },
        onMouseDown: function(event, detail, sender) {
          this.onPress(event, detail, sender);
        },
        onMouseUp: function(event, detail, sender) {
          this.onRelease(event, detail, sender);
        },
        onTouchStart: function(event, detail, sender) {
          this.onPress(event, detail, sender);
        },
        onTouchEnd: function(event, detail, sender) {
          this.onRelease(event, detail, sender);
        },
        leftClicked: function(e) {
          this.broadcast("left", this.leftbuttonvalue);
        },
        upClicked: function(e) {
          this.broadcast("up", this.upbuttonvalue);
        },
        downClicked: function(e) {
          this.broadcast("down", this.downbuttonvalue);
        },
        rightClicked: function(e) {
          this.broadcast("right", this.rightbuttonvalue);
        },
        selectClicked: function(e) {
          this.broadcast("select", this.selectbuttonvalue);
        },
        startClicked: function(e) {
          this.broadcast("start", this.startbuttonvalue);
        },
        aButtonClicked: function(e) {
          this.broadcast("abutton", this.abuttonvalue);
        },
        bButtonClicked: function(e) {
          this.broadcast("bbutton", this.bbuttonvalue);
        }
      });
    </script>
</polymer-element>
