:host {
  display: block;
  width: 100%;
  position: relative;
}

:host .game-controller {
  height: 120px;
  border: 3px solid lightgrey;
  background-color: lightgrey;
  border-top-width: 7px;
  border-radius: 5px;
}

:host .game-controller:after {
  content: "";
  display: block;
  border-radius: 5px;
  background-color: black;
  height: 100%;
}

:host .d-pad-container,
:host .buttons-container {
  position: absolute;
  width: 120px;
  height: 120px;
}

:host .d-pad-container {
  left: 13px;
}

:host .buttons-container {
  right: 13px;
}

:host .d-pad-container div {
  position: absolute;
  border-style: solid;
  border-color: lightgrey;
  height: 33px;
  width: 33px;
  border-width: 4px;
  cursor: pointer;
}

:host .d-pad-container div.left-button {
  border-radius: 5px 0 0 5px;
  border-right-width: 0;
  left: 6px;
  top: 40px;
}
:host .d-pad-container div.up-button {
  border-radius: 5px 5px 0 0;
  border-bottom-width: 0;
  top: 6px;
  left: 40px;
}
:host .d-pad-container div.down-button {
  border-radius: 0 0 5px 5px;
  border-top-width: 0;
  bottom: 6px;
  left: 40px;
}
:host .d-pad-container div.right-button {
  border-radius: 0 5px 5px 0;
  border-left-width: 0;
  right: 6px;
  top: 40px;
}

:host .top-buttons {
  position: absolute;
  left: 6px;
  right: 6px;
  top: 6px;
  height: 51px;
}

:host .bottom-buttons {
  position: absolute;
  left: 6px;
  right: 6px;
  height: 51px;
  bottom: 6px;
}

:host .topleft-controller-button {
  background-color: #D3D3D3;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 51px;
  cursor: pointer;
}

:host .topright-controller-button {
  background-color: #D3D3D3;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 51px;
  cursor: pointer;
}

:host .bottomleft-controller-button {
  background-color: #D3D3D3;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 51px;
  cursor: pointer;
}

:host .bottomright-controller-button {
  background-color: #D3D3D3;
  border-radius: 5px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 51px;
  cursor: pointer;
}

:host .button-inner {
  display: block;
  border-radius: 50%;
  top: 3px;
  bottom: 3px;
  left: 3px;
  right: 3px;
  position: absolute;
}

