<polymer-element name="ceci-game-controller" extends="ceci-element" attributes="konamicode leftbuttonvalue upbuttonvalue downbuttonvalue rightbuttonvalue greenbuttonvalue bluebuttonvalue yellowbuttonvalue redbuttonvalue"
konamicode="up,up,down,down,left,right,left,right,yellow,red">
  <ceci-definition>
    {
      "name": "Game Controller",
      "thumbnail": "./thumbnail.png",
      "description": "A classic NES game controller",
      "broadcasts": {
        "press": {
          "label": "Any Button Pressed",
          "description": "Any button was pressed",
          "default": true
        },
        "release": {
          "label": "Any Button Released",
          "description": "Any button was released"
        },
        "leftbutton": {
          "label": "Left Button",
          "description": "Left button was pressed"
        },
        "upbutton": {
          "label": "Up Button",
          "description": "Up button was pressed"
        },
        "downbutton": {
          "label": "Down Button",
          "description": "Down button was pressed"
        },
        "rightbutton": {
          "label": "Right Button",
          "description": "Right button was pressed"
        },
        "greenbutton": {
          "label": "Green Button",
          "description": "Green button was pressed"
        },
        "bluebutton": {
          "label": "Blue Button",
          "description": "Blue button was pressed"
        },
        "yellowbutton": {
          "label": "Yellow Button",
          "description": "Yellow button was pressed"
        },
        "redbutton": {
          "label": "Red Button",
          "description": "Red button was pressed"
        },
        "konami": {
          "label": "Konami code triggered!",
          "description": "A classic easter egg to add to your app"
        }
      },
      "attributes": {
        "leftbuttonvalue": {
          "label": "Left Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "upbuttonvalue": {
          "label": "Up Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "downbuttonvalue": {
          "label": "Down Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "rightbuttonvalue": {
          "label": "Right Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "greenbuttonvalue": {
          "label": "Green Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "bluebuttonvalue": {
          "label": "Blue Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "yellowbuttonvalue": {
          "label": "Yellow Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "redbuttonvalue": {
          "label": "Red Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "konamicode": {
          "label": "Konami Code",
          "description": "A secret sequence of secret buttons to do something secret",
          "editable": "text"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div class="game-controller">
      <div class="d-pad-container">
        <div class="left-button" data-controller-button="left" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{leftClicked}}"></div>
        <div class="up-button" data-controller-button="up" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{upClicked}}"></div>
        <div class="down-button" data-controller-button="down" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{downClicked}}"></div>
        <div class="right-button" data-controller-button="right" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{rightClicked}}"></div>
      </div>
      <div class="buttons-container">
        <div class="top-buttons">
          <div class="green-controller-button" data-controller-button="green" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{greenButtonClicked}}"></div>
          <div class="blue-controller-button" data-controller-button="blue" on-mousedown="{{onMouseDown}}" on-mouseup="{{onMouseUp}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{blueButtonClicked}}"></div>
        </div>
        <div class="bottom-buttons">
          <div class="yellow-controller-button" data-controller-button="yellow" on-mousedown="{{onPress}}" on-mouseup="{{onRelease}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{yellowButtonClicked}}"></div>
          <div class="red-controller-button" data-controller-button="red" on-mousedown="{{onPress}}" on-mouseup="{{onRelease}}" on-touchstart="{{onTouchStart}}" on-touchend="{{onTouchEnd}}" on-click="{{redButtonClicked}}"></div>
        </div>
      </div>
    </div>
    <shadow></shadow>
  </template>
  <tags>game</tags>
    <script>
      Polymer("ceci-game-controller", {
        ready: function() {
          this.super();

          // Default sequence ↑ ↑ ↓ ↓ ← → ← → yellow red
          this.sequence = [];
          this.konamicodeChanged();

          var that = this;
          function detechTouch() {
            // Disable mouse events
            that.onMouseDown = function() {};
            that.onMouseUp = function() {};
            this.removeEventListener("touchstart", detechTouch);
          }
          this.addEventListener("touchstart", detechTouch);
        },
        onPress: function(event, detail, sender) {
          var button = sender.getAttribute("data-controller-button");
          this.sequence.push(button);

          if (this.sequence.length > this.codeLength) {
            this.sequence.shift();
          }

          if (this.sequence.join(",") === this.konamicode) {
            this.sequence = [];
            this.broadcast("konami", this.konamicode);
          }

          this.broadcast("press", button);
          this.broadcast(button + "button", this[button + "buttonvalue"]);
        },
        konamicodeChanged: function() {
          this.codeLength = this.konamicode.split(",").length;
          this.sequence = [];
        },
        onRelease: function(event, detail, sender) {
          this.broadcast("release", sender.getAttribute("data-controller-button"));
        },
        onMouseDown: function(event, detail, sender) {
          this.onPress(event, detail, sender);
        },
        onMouseUp: function(event, detail, sender) {
          this.onRelease(event, detail, sender);
        },
        onTouchStart: function(event, detail, sender) {
          this.onPress(event, detail, sender);
        },
        onTouchEnd: function(event, detail, sender) {
          this.onRelease(event, detail, sender);
        }
      });
    </script>
</polymer-element>
