<polymer-element name="ceci-game-controller" extends="ceci-element" attributes="konamicode leftbuttonvalue upbuttonvalue downbuttonvalue rightbuttonvalue toprightbuttonvalue topleftbuttonvalue bottomleftbuttonvalue bottomrightbuttonvalue topleftbuttoncolor toprightbuttoncolor bottomleftbuttoncolor bottomrightbuttoncolor" topleftbuttoncolor="green" toprightbuttoncolor="blue" bottomleftbuttoncolor="yellow" bottomrightbuttoncolor="red" konamicode="up,up,down,down,left,right,left,right,bottomleft,bottomright">
  <ceci-definition>
    {
      "name": "Game Controller",
      "thumbnail": "./thumbnail.png",
      "description": "A classic NES game controller",
      "broadcasts": {
        "press": {
          "label": "Any Button Pressed",
          "description": "Any button was pressed",
          "default": true
        },
        "release": {
          "label": "Any Button Released",
          "description": "Any button was released"
        },
        "leftbutton": {
          "label": "Left Button",
          "description": "Left button was pressed"
        },
        "upbutton": {
          "label": "Up Button",
          "description": "Up button was pressed"
        },
        "downbutton": {
          "label": "Down Button",
          "description": "Down button was pressed"
        },
        "rightbutton": {
          "label": "Right Button",
          "description": "Right button was pressed"
        },
        "topleftbutton": {
          "label": "Top Left Button",
          "description": "Top right button was pressed"
        },
        "toprightbutton": {
          "label": "Top Right Button",
          "description": "Top right button was pressed"
        },
        "bottomleftbutton": {
          "label": "Bottom Left Button",
          "description": "Bottom left button was pressed"
        },
        "bottomrightbutton": {
          "label": "Bottom Right Button",
          "description": "Bottom right button was pressed"
        },
        "konami": {
          "label": "Konami code triggered!",
          "description": "A classic easter egg to add to your app"
        }
      },
      "attributes": {
        "leftbuttonvalue": {
          "label": "Left Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "upbuttonvalue": {
          "label": "Up Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "downbuttonvalue": {
          "label": "Down Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "rightbuttonvalue": {
          "label": "Right Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "topleftbuttonvalue": {
          "label": "Top Left Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "toprightbuttonvalue": {
          "label": "Top Right Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "bottomleftbuttonvalue": {
          "label": "Bottom Left Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "bottomrightbuttonvalue": {
          "label": "Bottom Right Button Value",
          "description": "Value to send when this button is clicked",
          "editable": "text"
        },
        "topleftbuttoncolor": {
          "label": "Top Left Button Color",
          "description": "Color of the button",
          "editable": "text"
        },
        "toprightbuttoncolor": {
          "label": "Top Right Button Color",
          "description": "Color of the button",
          "editable": "text"
        },
        "bottomleftbuttoncolor": {
          "label": "Bottom Left Button Color",
          "description": "Color of the button",
          "editable": "text"
        },
        "bottomrightbuttoncolor": {
          "label": "Bottom Right Button Color",
          "description": "Color of the button",
          "editable": "text"
        },
        "konamicode": {
          "label": "Konami Code",
          "description": "A secret sequence of secret buttons to do something secret",
          "editable": "text"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div class="game-controller">
      <div class="d-pad-container">
        <div class="left-button" data-controller-button="left" on-ceci-pressup="{{onRelease}}" on-ceci-pressdown="{{onPress}}"></div>
        <div class="up-button" data-controller-button="up" on-ceci-pressup="{{onRelease}}" on-ceci-pressdown="{{onPress}}"></div>
        <div class="down-button" data-controller-button="down" on-ceci-pressup="{{onRelease}}" on-ceci-pressdown="{{onPress}}"></div>
        <div class="right-button" data-controller-button="right" on-ceci-pressup="{{onRelease}}" on-ceci-pressdown="{{onPress}}"></div>
      </div>
      <div class="buttons-container">
        <div class="top-buttons">
          <div class="topleft-controller-button" data-controller-button="topleft" on-ceci-pressup="{{onRelease}}" on-ceci-pressdown="{{onPress}}">
            <span class="button-inner"></span>
          </div>
          <div class="topright-controller-button" data-controller-button="topright" on-ceci-pressup="{{onRelease}}" on-ceci-pressdown="{{onPress}}">
            <span class="button-inner"></span>
          </div>
        </div>
        <div class="bottom-buttons">
          <div class="bottomleft-controller-button" data-controller-button="bottomleft" on-ceci-pressup="{{onRelease}}" on-ceci-pressdown="{{onPress}}">
            <span class="button-inner"></span>
          </div>
          <div class="bottomright-controller-button" data-controller-button="bottomright" on-ceci-pressup="{{onRelease}}" on-ceci-pressdown="{{onPress}}">
            <span class="button-inner"></span>
          </div>
        </div>
      </div>
    </div>
    <shadow></shadow>
  </template>
  <tags>game</tags>
    <script>
      Polymer("ceci-game-controller", {
        ready: function() {
          this.super();

          // Default sequence ↑ ↑ ↓ ↓ ← → ← → bottomleft bottomright
          this.sequence = [];
          this.konamicodeChanged();
        },
        onPress: function(event, detail, sender) {
          var button = sender.getAttribute("data-controller-button");
          this.sequence.push(button);

          if (this.sequence.length > this.codeLength) {
            this.sequence.shift();
          }

          if (this.sequence.join(",") === this.konamicode) {
            this.sequence = [];
            this.broadcast("konami", this.konamicode);
          }

          this.broadcast("press", button);
          this.broadcast(button + "button", this[button + "buttonvalue"]);
        },
        konamicodeChanged: function() {
          this.codeLength = this.konamicode.split(",").length;
          this.sequence = [];
        },
        onRelease: function(event, detail, sender) {
          this.broadcast("release", sender.getAttribute("data-controller-button"));
        },
        topleftbuttoncolorChanged: function() {
          var button = this.shadowRoot.querySelector(".topleft-controller-button .button-inner");
          button.style.backgroundColor = this.topleftbuttoncolor;
        },
        toprightbuttoncolorChanged: function() {
          var button = this.shadowRoot.querySelector(".topright-controller-button .button-inner");
          button.style.backgroundColor = this.toprightbuttoncolor;
        },
        bottomleftbuttoncolorChanged: function() {
          var button = this.shadowRoot.querySelector(".bottomleft-controller-button .button-inner");
          button.style.backgroundColor = this.bottomleftbuttoncolor;
        },
        bottomrightbuttoncolorChanged: function() {
          var button = this.shadowRoot.querySelector(".bottomright-controller-button .button-inner");
          button.style.backgroundColor = this.bottomrightbuttoncolor;
        }
      });
    </script>
</polymer-element>
