<polymer-element name="ceci-kickdrum" attributes="stickcolor backgroundcolor drumcolor volume"
  drumcolor="#d60e0e"
  stickcolor="#000000"
  backgroundcolor="#FFFFFF"
  volume="0.5"
  extends="ceci-element">
  <ceci-definition>
    {
      "tags": ["kick", "drum"],
      "thumbnail": "./thumbnail.png",
      "description": "Plays a kickdrum.",
      "name": "Kick Drum",
      "broadcasts": {},
      "listeners": {
        "kick": {
          "description": "Hits the kick drum!",
          "label": "Kick",
          "default": true
        }
      },
      "attributes": {
        "stickcolor": {
          "label": "Stick Color",
          "editable": "color"
        },
        "volume": {
          "label": "Volume",
          "editable": "range",
          "min" : 0,
          "max" : 1,
          "step" : ".01"
        },
        "backgroundcolor": {
          "label": "Background Color",
          "editable": "color"
        },
        "drumcolor": {
          "label": "Drum Color",
          "description": "Color of the drum.",
          "editable": "color"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div id="kick" on-ceci-pressdown="{{kickon}}" on-ceci-pressup="{{kickoff}}">
      <div id="drum">
        <div id="face"></div>
      </div>
      <div id="stick">
        <div id="ball"></div>
      </div>
    </div>
    <shadow></shadow>
  </template>
  <script>
    Polymer('ceci-kickdrum', {
      audioBuffer: null,
      ready: function () {
        this.super();
        this.loadSound("kick","sounds/kick.ogg");
      },
      kickon: function (e) {
        this.playSound("kick",this.volume);
        this.$.kick.classList.add("on");
      },
      kick : function(){
        this.kickon();
        var that = this;
        window.setTimeout(function(){
          that.kickoff();
        },100)
      },
      kickoff : function(e){
        this.$.kick.classList.remove("on");
      },
      stickcolorChanged: function (oldValue, newValue) {
        this.$.stick.style.background = newValue;
        this.$.ball.style.background = newValue;
      },
      drumcolorChanged: function (oldValue, newValue) {
        this.$.drum.style.background = newValue;
        this.$.face.style.borderColor = newValue;
      },
      backgroundcolorChanged: function (oldValue, newValue) {
        this.$.kick.style.background = newValue;
      }
    });
  </script>
</polymer-element>
