<polymer-element name="ceci-double-button" attributes="volume playsound textcolor rightbuttoncolor leftbuttoncolor leftlabel rightlabel value" value="Click" extends="ceci-element"
  playsound="true"
  textcolor="#ffffff"
  volume=".5"
  leftbuttoncolor="#3fb58e"
  rightbuttoncolor="#bd400a">
  <ceci-definition>
    {
      "tags": ["button", "click", "tap"],
      "thumbnail": "./thumbnail.png",
      "description": "Responds to your clicks and taps.",
      "name": "Double Button",
      "broadcasts": {
        "clickleft": {
          "label": "Left Button",
          "description": "Occurs when left button is clicked.",
          "default": "blue"
        },
        "clickright": {
          "label": "Right Button",
          "description": "Occurs when right button is clicked.",
          "default": "blue-two"
        }
      },
      "listeners": {},
      "attributes": {
        "leftlabel": {
          "label": "Left Button Label",
          "description": "Text shown on the left button.",
          "editable": "text"
        },
        "leftbuttoncolor": {
          "label": "Left Button Color",
          "description": "Background color of the left button.",
          "editable": "color"
        },
        "rightlabel": {
          "label": "Right Button Label",
          "description": "Text shown on the right button.",
          "editable": "text"
        },
        "rightbuttoncolor": {
          "label": "Right Button Color",
          "description": "Background color of the right button.",
          "editable": "color"
        },
        "textcolor": {
          "label": "Text Color",
          "description": "Color of the text on the button's label.",
          "editable": "color"
        },
        "playsound": {
          "label": "Play Sound when Pressed",
          "description": "Play a sound when pressed.",
          "editable": "boolean"
        },
        "volume": {
          "label": "Volume",
          "editable": "range",
          "min" : 0,
          "max" : 1,
          "step" : ".01"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div class="buttons-wrapper">
      <div class="left-button button-wrapper" on-ceci-pressdown="{{clickleft}}" on-ceci-pressup="{{clickleftoff}}">
        <div class="button" id="leftbutton" >
          &nbsp;
          <div class="overlay active-overlay"></div>
          <div class="bottom"></div>
          <div class="label">{{leftlabel}}</div>
        </div>
      </div><div class="right-button button-wrapper" on-ceci-pressdown="{{clickright}}" on-ceci-pressup="{{clickrightoff}}">
        <div class="button" id="rightbutton" >
          &nbsp;
          <div class="overlay active-overlay"></div>
          <div class="bottom"></div>
          <div class="label">{{rightlabel}}</div>
        </div>
      </div>
    </div>
    <shadow></shadow></template>
  <script>
    Polymer('ceci-double-button', {
      ready: function () {
        this.super();
        this.loadSound("tap","sounds/tap.mp3");
      },
      clickleft: function () {
        this.broadcast('clickleft', this.getAttribute('value'));
        this.leftButton.classList.add("pressdown");
        this.leftButton.classList.remove("fade");
        this.leftButton.width = this.leftButton.offsetWidth;
        this.playSound("tap",this.volume);
      },
      clickleftoff: function () {
        this.leftButton.classList.remove("pressdown");
        this.leftButton.classList.remove("fade");
        this.leftButton.width = this.leftButton.offsetWidth;
        this.leftButton.classList.add("fade");
      },
      clickright: function () {
        this.broadcast('clickright', this.getAttribute('value'));
        this.rightButton.classList.add("pressdown");
        this.rightButton.classList.remove("fade");
        this.rightButton.width = this.rightButton.offsetWidth;
        this.playSound("tap",this.volume);
      },
      clickrightoff: function () {
        this.rightButton.classList.remove("pressdown");
        this.rightButton.classList.remove("fade");
        this.rightButton.width = this.rightButton.offsetWidth;
        this.rightButton.classList.add("fade");
      },
      attached : function() {
        this.super();
        this.leftButton = this.shadowRoot.querySelector(".left-button");
        this.rightButton = this.shadowRoot.querySelector(".right-button");
      },
      textcolorChanged: function (oldValue, newValue) {
        this.$.leftbutton.style.color = newValue;
        this.$.rightbutton.style.color = newValue;
      },
      leftbuttoncolorChanged: function (oldValue, newValue) {
        this.$.leftbutton.style.backgroundColor = newValue;
      },
      rightbuttoncolorChanged: function (oldValue, newValue) {
        this.$.rightbutton.style.backgroundColor = newValue;
      }
    });
  </script>
</polymer-element>

