:host {
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 5px 10px;
}

:host .button-wrapper {
  position: relative;
  display: inline-block;
  width: 50%;
  line-height: 0px;
  font-size: 0px;
  z-index: 1;
}

:host .buttons-wrapper {
  line-height: 0px;
}

:host .button {
  cursor: pointer;
  text-align: center;
  padding: 12px 0px;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 1.8rem;
  position: relative;
  line-height: 1.8rem;
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  width: calc(100% - 5px);
  border-radius: 3px;
}

:host .pressdown .button {
  margin-top: 1px;
  padding: 12px 0 11px 0;
}

:host .bottom {
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 3;
  background: rgba(0,0,0,.25);
  border-radius: 0 0 3px 3px;
}

:host .label {
  font-weight: 400;
  z-index: 4;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: inherit;
}

:host .pressdown .bottom {
  height: 2px;
}

:host #rightbutton {
  float: right;
}
:host #leftbutton {
  float: left;
}

:host .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  border-radius: 3px;
  background: black;
  z-index: 2;
}

:host .pressdown .active-overlay {
  opacity: .4;
}

:host .fade .active-overlay {
  -webkit-animation: fadeout .2s linear;
  animation: fadeout .2s linear;
}

@-webkit-keyframes fadeout {
  0%    { opacity: .4; }
  100%  { opacity: 0; }
}

@keyframes fadeout {
  0%    { opacity: .4; }
  100%  { opacity: 0; }
}
