<polymer-element name="ceci-double-button" attributes="textcolor rightbuttoncolor leftbuttoncolor leftlabel rightlabel value" value="Click" extends="ceci-element"
  leftlabel="OK"
  rightlabel="Cancel"
  textcolor="#ffffff"
  leftbuttoncolor="#4DB227"
  rightbuttoncolor="#bd400a">
  <ceci-definition>
    {
      "tags": ["button", "click", "tap"],
      "thumbnail": "./thumbnail.png",
      "description": "Responds to your clicks and taps.",
      "name": "Double Button",
      "broadcasts": {
        "clickleft": {
          "label": "Left Button",
          "description": "Occurs when left button is clicked.",
          "default": "blue"
        },
        "clickright": {
          "label": "Right Button",
          "description": "Occurs when right button is clicked.",
          "default": "blue-two"
        }
      },
      "listeners": {},
      "attributes": {
        "leftlabel": {
          "label": "Left Button Label",
          "description": "Text shown on the left button.",
          "editable": "text"
        },
        "leftbuttoncolor": {
          "label": "Left Button Color",
          "description": "Background color of the left button.",
          "editable": "color"
        },
        "rightlabel": {
          "label": "Right Button Label",
          "description": "Text shown on the right button.",
          "editable": "text"
        },
        "rightbuttoncolor": {
          "label": "Right Button Color",
          "description": "Background color of the right button.",
          "editable": "color"
        },
        "textcolor": {
          "label": "Text Color",
          "description": "Color of the text on the button's label.",
          "editable": "color"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div class="buttons-wrapper">
      <div class="left-button button-wrapper" on-ceci-pressdown="{{clickleft}}" on-ceci-pressup="{{clickleftoff}}">
        <div class="button" id="leftbutton" >
          {{leftlabel}}
          <div class="overlay active-overlay"></div>
        </div>
        <div class="bottom"></div>
      </div><div class="right-button button-wrapper" on-ceci-pressdown="{{clickright}}">
        <div class="button" id="rightbutton" >
          {{rightlabel}}
          <div class="overlay active-overlay"></div>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
    <shadow></shadow></template>
  <script>
    Polymer('ceci-double-button', {
      ready: function () {
        this.super();
        var that = this;
      },
      clickleft: function () {
        this.shadowRoot.querySelector(".left-button").classList.add("pressdown");
        this.broadcast('clickleft', this.getAttribute('value'));
      },
      clickleftoff: function () {
        this.shadowRoot.querySelector(".left-button").classList.remove("pressdown");
        this.shadowRoot.querySelector(".left-button").classList.remove("fade");
        this.shadowRoot.querySelector(".left-button").width = this.shadowRoot.querySelector(".left-button").offsetWidth;
        this.shadowRoot.querySelector(".left-button").classList.add("fade");
      },
      clickright: function () {
        this.broadcast('clickright', this.getAttribute('value'));
      },
      textcolorChanged: function (oldValue, newValue) {
        this.$.leftbutton.style.color = newValue;
        this.$.rightbutton.style.color = newValue;
      },
      leftbuttoncolorChanged: function (oldValue, newValue) {
        this.$.leftbutton.style.backgroundColor = newValue;
      },
      rightbuttoncolorChanged: function (oldValue, newValue) {
        this.$.rightbutton.style.backgroundColor = newValue;
      }
    });
  </script>
</polymer-element>

