:host {
  display: block;
  text-align: center;
  width: 100%;
}

:host img {
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 100%;
  max-width: 310px;
}

:host .image-container {
  overflow: hidden;
  width: 100%;
  line-height: 0px;
}

:host .bad-image {
  background-image: url("images/bad-image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

:host .bad-image img {
  display: none;
}

