:host {
  display: block;
  text-align: center;
  width: 100%;
}

:host img {
  margin: 0;
  padding: 0;
  display: inline-block;
}

:host .image-container {
  overflow: hidden;
  width: 100%;
  line-height: 0px;
}
