<polymer-element name="ceci-textbox" attributes="text fontsize textalign textcolor backgroundcolor" extends="ceci-element"
  textalign="left"
  fontsize="16"
  textcolor="#666666"
  backgroundcolor="#FFFFFF">
  <ceci-definition>
    {
      "tags": ["form", "input", "text"],
      "thumbnail": "./thumbnail.png",
      "description": "Displays entered or incoming text.",
      "name": "Text",
      "broadcasts": {},
      "listeners": {
        "setValue": {
          "description": "Set value text box",
          "label": "Set Text"
        }
      },
      "attributes": {
        "text": {
          "label": "Text",
          "description": "The text that shows up in the box.",
          "editable": "textarea"
        },
        "textalign": {
          "label": "Text Alignment",
          "description": "Text Alignment",
          "editable": "select",
          "options": {"Left":"Left","Center":"Center","Right": "Right"}
        },
        "fontsize": {
          "label": "Font Size",
          "description": "Font Size",
          "editable": "range",
          "min" : "4",
          "max" : "50"
        },
        "backgroundcolor": {
          "label": "Background Color",
          "description": "Background Color",
          "editable": "color"
        },
        "textcolor": {
          "label": "Text Color",
          "description": "Text Color",
          "editable": "color"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
      <p style="text-align: {{textalign}}; font-size: {{fontsize}}px; background: {{backgroundcolor}}; color: {{textcolor}}" id="textBox">{{text}}</p>
    <shadow></shadow>
  </template>
  <script>
    Polymer('ceci-textbox', {
      ready: function () {
        this.super();
      },
      setValue: function(e) {
        this.text = e;
      }
    });
  </script>
</polymer-element>
