<polymer-element name="ceci-sequencer" attributes="playbeats beatcount" beatcount="4" extends="ceci-element">
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div id="channels" data-beat="{{currentBeat}}">
      <table cellpadding="0" cellspacing="4">

        <tr class="indicator-row">
          <template repeat="{{square, i in squares}}">
            <td><div class="indicator"></div></td>
          </template>
        </tr>

        <template repeat="{{item, i in activebroadcasts}}">
          <tr data-color="{{item.channelcolor}}" data-channel="{{item.channelname}}" class="channelrow">
            <template repeat="{{square, i in squares}}">
              <td on-click="{{beattap}}" data-beat="{{i}}" class="beat"></td>
            </template>
          </tr>
        </template>

          <tr class="indicator-row">
            <template repeat="{{square, i in squares}}">
            <td><div class="indicator"></div></td>
          </template>
          </tr>
      </table>
    </div>
    <shadow></shadow>
  </template>
  <ceci-definition>
    {
      "tags": ["music","fun","audio","beat","timing"],
      "thumbnail": "./thumbnail.png",
      "name": "Sequencer",
      "description": "Sends messages signals to other bricks according to a pattern.",
      "broadcasts": {
        "A": {
          "label": "Row 1",
          "description": "The first broadcast in the rotation.",
          "default": "green"
        },
        "B": {
          "label": "Row 2",
          "description": "The second broadcast in the rotation.",
          "default": "yellow"
        },
        "C": {
          "label": "Row 3",
          "description": "The third broadcast in the rotation."
        },
        "D": {
          "label": "Row 4",
          "description": "The fourth broadcast in the rotation."
        },
        "E": {
          "label": "Row 5",
          "description": "The fifth broadcast in the rotation."
        }
      },
      "listeners": {
        "input": {
          "description": "Plays the next beat in the sequence.",
          "label": "Play Beat",
          "default": true
        }
      },
      "attributes": {
        "beatcount": {
          "label": "Beats",
          "description": "The number of beats per channel.",
          "editable": "number",
          "min" : 1,
          "max" : 8
        }
      }
    }
  </ceci-definition>
  <script>
    Polymer('ceci-sequencer', {
      beattap: function(e){
        var self = this;
        var beatEl = e.target;
        if (beatEl.classList.contains("on")){
          beatEl.classList.remove("on");
        }
        else{
          beatEl.classList.add("on");
        }
        this.scrapeBeats();
      },
      scrapeBeats : function(){
        var that = this;
        that.playbeats = [];

        for(var i = 0; i < this.beatcount; i++) {
          that.playbeats[i] = [];
        }

        var channelRows = this.shadowRoot.querySelectorAll(".channelrow").array();
        channelRows.forEach(function(chan) {
          var channel = chan.getAttribute("data-channel");
          var beat = 0;
          var beats = chan.querySelectorAll(".beat").array();
          beats.forEach(function(beatEl) {
            if(beatEl.classList.contains("on")) {
              that.playbeats[beat].push(channel);
            }
            beat++;
          });
        });
        this.setAttribute("playbeats",JSON.stringify(this.playbeats));

      },
      currentBeat: -1,
      ready: function() {
        this.super();
        this.lastBroadcast = null;
        var self = this;
        this.playbeats = JSON.parse(this.getAttribute("playbeats")) || [["A"],["B"],["A"],["B"]];

      },
      colorSquares : function(){
        if (this.activebroadcasts.length > 0){
          for(var i = 0; i < this.playbeats.length; i++){
            var beatCount = i + 1;
            var beats = this.playbeats[i];
            for(var j = 0; j < beats.length; j++) {
              var channel = beats[j];
              var beatSquare = this.shadowRoot.querySelector(".channelrow[data-channel=" + channel +"] .beat:nth-child(" + parseInt(beatCount+1) + ")");
              if(beatSquare){
                beatSquare.classList.add("on");
              }
            }
          }
        }
      },
      attached : function(){
        this.super();
        this.addEventListener("CeciChannelUpdated", function(){
          this.updateChannels();
        });
        this.updateChannels();
      },
      beatcountChanged : function(){
        this.squares = [];
        for(var i = 0; i < this.beatcount; i++) {
          this.squares.push(i);
        }
        // need to trim the playbeats
        if(this.playbeats.length > parseInt(this.beatcount)){
          this.playbeats = this.playbeats.splice(0,this.beatcount);
        }
      },
      updateChannels: function(){
        var self = this;
        this.activebroadcasts = [];

        var broadcasts = this.querySelectorAll("ceci-broadcast").array()
        broadcasts.forEach(function(broadcast) {
          var item = {};
          item.channelcolor = broadcast.getAttribute("on");
          item.channelname = broadcast.getAttribute("from");
          self.activebroadcasts.push(item);
        });

        this.async(function(){
          this.colorSquares();
          this.scrapeBeats();
        });

        // nned to trim the beats here or rebuild it

      },
      input: function(value) {
        this.currentBeat += 1;

        if(this.currentBeat > (this.beatcount-1)) {
          this.currentBeat = 0;
        }

        var indicators = this.shadowRoot.querySelectorAll(".indicator-row .indicator");
        for(var i = 0; i < indicators.length; i++) {
          indicators[i].style.display = "none";
        }

        var activeindicators = this.shadowRoot.querySelectorAll(".indicator-row td:nth-child("+parseInt(this.currentBeat + 2) +") .indicator");
        for(var j = 0; j < activeindicators.length; j++) {
          activeindicators[j].style.display = "block";
        }

        var playChannels = this.playbeats[this.currentBeat] || [];
        for(var i = 0; i < playChannels.length; i++){
          this.broadcast(playChannels[i], "tick");
        }
      }
    });
  </script>
</polymer-element>
