<polymer-element name="ceci-text-input" attributes="submitempty textcolor resetonsubmit buttonlabel inputname placeholdertext playsound showbutton buttoncolor label" extends="ceci-element"
showbutton="true"
textcolor="#FFFFFF"
submitempty="false"
playsound="true"
buttoncolor="#3fb58e"
resetonsubmit="true">
  <ceci-definition>
    {
      "tags": ["input", "form", "button"],
      "thumbnail": "./thumbnail.png",
      "name": "Text Input",
      "description": "Sends text you've entered when you press the button.",
      "broadcasts": {
        "sendData": {
          "label": "Send Input",
          "description": "Sends the current value of the input field.",
          "default": true
        }
      },
      "listeners": {
        "senddata": {
          "description": "Causes a fake click event to occur.",
          "label": "Send Data"
        },
        "setvalue": {
          "description": "Set the value of the field.",
          "label": "Set Value"
        }
      },
      "attributes": {
        "inputname": {
          "label": "Input Name",
          "description": "The name of this field, helpful when saving data.",
          "editable": "text"
        },
        "buttonlabel": {
          "label": "Button Label",
          "description": "The label on the button.",
          "editable": "text"
        },
        "buttoncolor": {
          "label": "Button Color",
          "description": "Color of the button",
          "editable": "color"
        },
        "textcolor": {
          "label": "Label Color",
          "description": "Color of the button label",
          "editable": "color"
        },
        "placeholdertext": {
          "label": "Placeholder Text",
          "description": "The text you want your input field to show by default.",
          "editable": "text"
        },
        "submitempty": {
          "label": "Allow submit when blank",
          "description": "Sends a blank value when submitted without any text.",
          "editable": "boolean"
        },
        "resetonsubmit": {
          "label": "Reset on Submit",
          "description": "Reset the input field after submitting the value.",
          "editable": "boolean"
        },
        "showbutton": {
          "label": "Show Button",
          "description": "Shows a button that broadcasts the input value when pressed.",
          "editable": "boolean"
        },
        "playsound": {
          "label": "Play sound when Pressed",
          "description": "Play a sound when the submit button is pressed.",
          "editable": "boolean"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css">
    <div id="wrapper">
      <input id="inputText" type="text" on-input="{{input}}" on-keypress="{{keypress}}" />
      <div id="button" style="color: {{textcolor}}; background-color: {{buttoncolor}};" on-ceci-pressup="{{pressup}}" on-ceci-pressdown="{{pressdown}}">
        <div class="bottom"></div>
        <div class="button-overlay"></div>
        <div id="buttonlabel" class="button-label">{{buttonlabel}}</div>
      </div>
    </div>
    <shadow></shadow>
  </template>
  <script>
    Polymer('ceci-text-input', {
      ready: function () {
        this.super();
        this.loadSound("tap","sounds/tap.mp3");
        this.$.buttonlabel.textContent = this.gettext("ceci-text-input/button") || this.$.buttonlabel.textContent;
      },
      pressup : function(){
        this.$.button.classList.remove("pressdown");
        this.$.button.classList.remove("fade");
        this.$.button.offsetWidth = this.$.button.offsetWidth;
        this.$.button.classList.add("fade");
      },
      senddata : function(){
        console.log("senddata");
        this.submit();
      },
      submit: function () {
        console.log("submit");
        var inputString = this.$.inputText.value;
        if(this.submitempty == "true" && inputString.length == 0) {
          this.broadcast('sendData', inputString);
        } else if (inputString.length > 0) {
          this.broadcast('sendData', inputString);
        }

        if(this.resetonsubmit ===  "true"){
          this.$.inputText.value = "";
        }
      },
      keypress: function (e) {
        if (this.showbutton) {
          if (e.keyCode == 13) {
            this.broadcast('sendData', this.$.inputText.value);
            this.$.inputText.value = '';
          }
        }
      },
      pressdown : function(){
        this.$.button.classList.add("pressdown");
        if(this.playsound === "true") {
          this.playSound("tap",.4);
        }
        this.submit();
      },
      setvalue: function(v) {
        this.$.inputText.value = v;
      },
      showbuttonChanged: function(oldValue, newValue) {
        if(this.showbutton === "true") {
          this.$.wrapper.classList.add('showbutton');
        } else {
          this.$.wrapper.classList.remove('showbutton');
        }
      },
      placeholdertextChanged: function(oldValue, newValue) {
        if (this.$.inputText.hasAttribute('placeholder')) {
          this.$.inputText.setAttribute("placeholder", newValue);
        }
        else {
          this.$.inputText.setAttribute("placeholder", newValue);
        }
      }
    });
  </script>
</polymer-element>
