:host {
  display: block;
  padding: 10px;
  font-family: inherit;
}

:host input[type=text]{
  padding: 10px;
  height: 100%;
  color: #000;
  font-size: 18px;
  background-color: #FFF;
  width: 100%;
  border-radius: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #CCC;
  outline: none;
  font-weight: 300;
  font-family: inherit;
}

:host .showbutton input[type=text]{
  width: 70%;
}

:host #button {
  display: none;
}

:host .showbutton #button {
  display: inline-block;
}

:host #wrapper {
  position: relative;
}

:host #button {
  right: 0px;
  width: 30%;
  padding: 0;
  top: 0px;
  height: 100%;
  font-size: 18px;
  position: absolute;
  border-radius: 3px;
  cursor: pointer;
  font-family: inherit;
  font-weight: 300;
}

:host #button:active .button-overlay {
  opacity: .4;
}

:host #button .button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: black;
  z-index: 1;
  border-radius: 3px;
}

:host #button .button-label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  padding-top: 9px;
  z-index: 2;
}

:host .bottom {
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  z-index: 3;
  background: rgba(0,0,0,.25);
  border-radius: 0 0 3px 3px;
}


:host .fade .button-overlay {
  -webkit-animation: fadeout .2s linear;
  animation: fadeout .2s linear;
}

@-webkit-keyframes fadeout {
  0%    { opacity: .4; }
  100%  { opacity: 0; }
}

@keyframes fadeout {
  0%    { opacity: .4; }
  100%  { opacity: 0; }
}
