<script src="scripts/tabletop.js"></script>
<polymer-element name="ceci-component-sheet" extends="ceci-element" attributes="url">
  <ceci-definition>
    {
      "name": "Sheet",
      "tags": "ceci-component-sheet",
      "thumbnail": "./thumbnail.png",
      "description": "A canvas for drawing and sharing",
      "broadcasts": {
        "sendvalue": {
          "label": "send value",
          "description": "A cell was tapped"
        },
        "sendheading": {
          "label": "send heading",
          "description": "A cell was tapped"
        }
      },
      "listeners": {
      },
      "attributes": {
        "url": {
          "label": "Google Docs URL",
          "description": "URL",
          "editable": "text"
        }
      }
    }
  </ceci-definition>
  <template>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/h5bp.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/components/components.css">
    <link rel="stylesheet" href="component.css">
    <table id="table">
      <thead id="thead">
      </thead>
      <tbody id="tbody">
      </tbody>
    </table>
    <shadow></shadow>
  </template>
    <script>
require(['jquery'], function($) {
      Polymer("ceci-component-sheet", {
        onCellTap: function(heading, value) {
          this.broadcast("sendvalue", value);
          this.broadcast("sendheading", heading);
        },
        ready: function() {
          this.super();

          var that = this;
          var key = "1nNDHnDvMPUZM7IAiHTNM3XLh2NRrWVDIDenkXe7i2C0";
          Tabletop.init( { key: key,
                           callback: function(data, tabletop) { 
                            var model_names = tabletop.model_names;
                            var cells = [];
                           var headings = [];
                            $.each( data[0], function( key, val ) {
                              if (key != 'rowNumber') {
                                cells.push("<th>" + key + "</th>");
                                headings.push(key);
                              }
                            });
                            $("<tr/>", {id:"header", html: cells.join("")}).appendTo($(that.$.thead));
                            var items = [];
                            var cells = [];
                            $.each( data, function( key, val ) {
                              cells = [];
                              $.each(val, function(key, cell) {
                              if (key != 'rowNumber') {
//                                if (key == 'email') {
//                                  cell = "<a Xhref='mailto:" + cell + "'>"+cell+"</a>";
//                                } else if (key == 'phone') {
//                                  cell = "<a Xhref='tel:" + cell + "'>"+cell+"</a>";
//                                }
                                cells.push("<td class='large' data-th='"+key+"'>" + cell + "</td>");
                              }
                            });
                            var bits = $("<tr/>", {html: cells.join("")});
                            bits.appendTo($(that.$.tbody));
                          });
                            $(that.$.tbody).on('click', 'td', function(evt) {
                              console.log(evt.target);
                              that.onCellTap(evt.target.getAttribute('data-th'), evt.target.textContent);
                            });
//                          console.log("body", $(that.$.tbody));
//                          var links = that.$.tbody.querySelectorAll('a');
//                          console.log("LINKS", links);
//                          Array.prototype.forEach.call(links, function(link) {
//                            link.on('click', function(evt) {
//                              console.log(evt);
//                            });
//                          });
                            console.log(data) 
                           },
                           simpleSheet: true } )
          
//          $.getJSON("http://localhost:4000/data", function(payload) {
//            var items = [];
//            var cells = [];
//            var title = payload.title;
//            var data = payload.data;
//            $.each( data[0], function( key, val ) {
//              cells.push("<th>" + val + "</th>");
//            });
//            $("<tr/>", {id:"header", html: cells.join("")}).appendTo($(that.$.thead));
//            $.each( data.slice(1), function( key, val ) {
//              cells = [];
//              $.each(val, function(key, cell) {
//                if (data[0][key] == 'Email') {
//                  cell = "<a Xhref='mailto:" + cell + "'>"+cell+"</a>";
//                } else if (data[0][key] == 'Phone') {
//                  cell = "<a Xhref='tel:" + cell + "'>"+cell+"</a>";
//                }
//                cells.push("<td class='large' data-th='"+data[0][key]+"'>" + cell + "</td>");
//              });
//              var bits = $("<tr/>", {html: cells.join("")});
//              bits.appendTo($(that.$.tbody));
//            });
//            console.log("body", $(that.$.tbody));
//            var links = that.$.tbody.querySelectorAll('a');
//            console.log("LINKS", links);
//            Array.prototype.forEach.call(links, function(link) {
//              link.on('click', function(evt) {
//                console.log(evt);
//              });
//            });
//          });
          this.super();
        }
      });
});
    </script>
</polymer-element>
