:host {
  display: block;
  width: 100%;
  position: relative;
  background-color: #fff;
}

:host table {
  width: 320;
  display: block;
  max-width: 100% !important;
  max-height: 400px;
  cursor: pointer;
  overflow: scroll;
}

:host table td.large {
  word-wrap: normal;
  word-break: normal;
  padding-left: 120px;
  padding-top: .6em;
}
:host table td a {
  word-wrap: normal;
  word-break: break-all;
}

:host #cursor {
  background: #000;
  position: absolute;
  cursor: none;
  pointer-events: none;
}
