<polymer-element name="ceci-cowbell" attributes="bellcolor volume backgroundcolor"
  bellcolor="#FFFFFF"
  backgroundcolor="#4DB227"
  volume="0.5"
  extends="ceci-element">
  <ceci-definition>
    {
      "tags": ["music", "audio", "cowbell"],
      "thumbnail": "./thumbnail.png",
      "description": "Plays a cowbell.",
      "name": "Cowbell",
      "broadcasts": {},
      "listeners": {
        "kick": {
          "description": "Hits the cowbell!",
          "label": "More",
          "default": true
        }
      },
      "attributes": {
        "backgroundcolor": {
          "label": "Background Color",
          "editable": "color"
        },
        "volume": {
          "label": "Volume",
          "editable": "range",
          "min" : 0,
          "max" : 1,
          "step" : ".01"
        },
        "bellcolor": {
          "label": "Cowbell Color",
          "description": "Color of the drum.",
          "editable": "color"
        }
      }
    }
  </ceci-definition>
  <template>
    <link rel="stylesheet" href="component.css"></link>
    <div id="wrapper" class="off" on-ceci-pressdown="{{kickon}}" on-ceci-pressup="{{kickoff}}">
      <div id="bell"></div>
    </div>
    <shadow></shadow>
  </template>
  <script>
    Polymer('ceci-cowbell', {
      audioBuffer: null,
      ready: function () {
        this.super();
        this.loadSound("cowbell","sounds/sound.mp3");
      },
      kickon: function () {
        this.playSound("cowbell",this.volume);
        this.$.wrapper.classList.add("hit");
      },
      kick : function(){
        this.kickon();
        var that = this;
        window.setTimeout(function(){
          that.kickoff();
        },100);
      },
      kickoff : function(){
        this.$.wrapper.classList.remove("hit");
      },
      backgroundcolorChanged: function (oldValue, newValue) {
        this.$.wrapper.style.background = newValue;
      },
      bellcolorChanged: function (oldValue, newValue) {
        this.$.bell.style.borderBottom = "solid 100px " + newValue;
      }
    });
  </script>
</polymer-element>
